<!doctype html>
<html lang="en" class="no-js tech-docs">
  <head>
    <base href="/assets-frontend/">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="robots" content="noindex">

    <title>HMRC Design System</title>

    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico" />

    <link rel="stylesheet" href="public/assets/stylesheets/design-system.css">
    <link rel="stylesheet" href="public/assets/stylesheets/vendor/highlight/github.css">

    <!--[if gt IE 8]><!--><link href="public/assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="public/assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="public/assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="public/assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <!--[if gt IE 8]><!--><link rel="stylesheet" href="public/stylesheets/application.min.css"><!--<![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="public/stylesheets/application-ie.min.css"><![endif]-->

    

    <script src="public/assets/javascripts/vendor/modernizr.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43414424-34', 'auto');
      ga('set', 'anonymizeIp', true)
      ga('send', 'pageview');
    </script>
  </head>

  <body class="">
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="design-system-header design-system-header--full-width">
          <div class="design-system-header__container">
            <div class="design-system-header__brand">
                <a href="index.html">
                  <span class="design-system-govuk-logo">
                    <img class="design-system-govuk-logo__printable-crown" src="public/assets/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
                    GOV.UK
                  </span>

                  <span class="design-system-header__title">HMRC Design System</span>
                </a>
            </div>

            <!--
            <div class="pattern-search pattern-search--in-header">
              <input type="text" name="pattern-query" class="pattern-search__input" placeholder="Search Design System" autocomplete="off">
              <ul class="search-results js-search-results">
              </ul>
            </div>
           -->

            <div class="mobile-nav-trigger">
              <input class="button js-mobile-nav-toggle" type="submit" value="Menu">
            </div>
          </div>
        </header>

        <div class="design-system phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a prototype</span>
          </p>
        </div>

        <div class="sub-nav">
          <ul class="sub-nav-list">
            <li><a href="/assets-frontend/index.html">About</a></li>
            <li><a href="/assets-frontend/styles/index.html">Styles</a></li>
            <li><a href="/assets-frontend/components/index.html">Components</a></li>
            <li><a href="/assets-frontend/patterns/index.html">Patterns</a></li>
           </ul>
        </div>
      </div>

      <!-- TODO: mobile_nav -->

      <div class="app-pane__body">
        <div class="app-pane__toc">
          <div class="toc" data-module="table-of-contents">
            <nav id="toc" class="js-toc-list toc__list">
              <ul class="pattern-nav">
                <li><a href="/assets-frontend/components/account-header/index.html">Account header</a></li>
                <li><a href="/assets-frontend/components/character-counter/index.html">Character counter</a></li>
                <li><a href="/assets-frontend/components/header/index.html">Header</a></li>
                <li><a href="/assets-frontend/components/notification-badge/index.html">Notification badge</a></li>
                <li><a href="/assets-frontend/components/open-links-in-a-new-window-or-tab/index.html">Open links in a new window or tab</a></li>
                <li><a href="/assets-frontend/components/page-heading/index.html">Page heading</a></li>
                <li><a href="/assets-frontend/components/page-title/index.html">Page title</a></li>
              <ul>
            </nav>
          </div>
        </div>

        <div class="app-pane__content toc-open-disabled">
          <main id="design-system-content" class="markdown" data-module="anchored-headings">
            <!--
            <div class="banner banner__out-of-date">
              <p>This content has not yet been written using the Design System content guidelines</p>
            </div>
             -->

            <!--
            TODO: set title as data

            <div class="pattern-header">
              <p class="section-heading"></p>
              <h1></h1>
            </div>
            -->

            <h1 id="account-header">Account header</h1>
  <div class="banner banner__out-of-date">
    <p>This is a work in progress – <a href="https://github.com/hmrc/design-patterns/issues/128">view more information on GitHub</a>.</p>
  </div>


<p>The account header is used in, and was specifically designed for, the <a href="https://www.tax.service.gov.uk/personal-account">personal tax account</a>.</p>
<div class="example">
  <div class="scale-wrapper">
    <div class="scale"><!-- COOKIE MESSAGE -->
<div id="global-cookie-message" style="display: block;">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
    cookies</a></p>
</div>
<!-- END COOKIE MESSAGE -->

<!-- GOV.UK HEADER -->
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="public/assets/images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt="">GOV.UK</a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <a href="#" id="proposition-name">Personal tax account</a>
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <!-- LANGUAGE TOGGLE -->
  <ul class="lang-select">
    <li>
      <span class="faded-text--small">
        <strong>English |</strong>
      </span>
      <a id="switchToWelsh" lang="cy" href="/personal-account/lang/cyGb?redirectUrl&#61;%2Fpersonal-account" data-journey-click="link - click:lang-select:Cymraeg">
        <small>
          <strong>Cymraeg</strong>
        </small>
      </a>
    </li>
  </ul>
<!-- END LANGUAGE TOGGLE -->

        </nav>
      </div>
    </div>
  </div>
</header>
<div id="global-header-bar"></div>
<!-- END GOV.UK HEADER -->
<main id="content" role="main">
<!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="account-menu js-enabled" role="navigation">
    <a href="http://localhost:9232/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                        <span class="account-icon account-icon--home">


                                Account home

                        </span>
    </a>

    <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


      Account menu

    </a>

    <ul class="account-menu__main">
      <li class="account-menu__link--back hidden" aria-hidden="true">
        <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


          Back

        </a>
      </li>

      <li>
        <a href="http://localhost:9232/personal-account/messages" class="account-menu__link" data-journey-click="link - click:utility-nav:Messages">


          Messages

        </a>
      </li>

      <li>
        <a href="http://localhost:9100/track" class="account-menu__link" data-journey-click="link - click:utility-nav:Check progress">


          Check progress

        </a>
      </li>

      <li>
        <a href="#subnav-your-account" id="account-menu__main-2" class="account-menu__link account-icon account-menu__link--more js-enabled" aria-haspopup="true" aria-owns="subnav-your-account" data-journey-click="accordion - click:utility-nav:Your account" aria-expanded="false">


          Your account

        </a>

        <div class="subnav" id="subnav-your-account" role="navigation" aria-labelledby="account-menu__main-2" aria-label="Your account" aria-hidden="true" tabindex="-1">




          <div class="
                                 column-half

                                 subnav__section">
            <p class="subnav__section__heading">


              Paperless settings

            </p>
            <div>
              <a href="http://localhost:9232/personal-account/preferences" data-journey-click="link - click:utility-nav:Manage your paperless settings">


                Manage your paperless settings

              </a>
            </div>
          </div>
          <div class="
                                 column-half

                                 subnav__section">
            <p class="subnav__section__heading">


              Personal details

            </p>
            <div>
              <a href="http://localhost:9232/personal-account/personal-details" data-journey-click="link - click:utility-nav:Manage your personal details">


                Manage your personal details

              </a>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a href="/personal-account/signout?continueUrl=http%3A%2F%2Flocalhost%3A9514%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


          Sign out

        </a>
      </li>
    </ul>
  </nav>
<!-- END ACCOUNT MENU -->
</main>
</div>
  </div>
</div>



<h2 id="when-to-use-this-component">When to use this component</h2>
<p>If your service is part of the personal tax account. </p>
<h3 id="when-not-to-use-this-component">When not to use this component</h3>
<p>If your service is not part of the personal tax account. Use the <a href="components/header/index.html">hHeader</a> instead.</p>
<h2 id="how-it-works">How it works</h2>
<p>The account header contains:</p>
<ul>
<li><a href="/components/header/index.html#the-hmrc-cookie-banner">the HMRC cookie banner</a></li>
<li><a href="/components/header/index.html#the-gov.uk-header">the GOV.UK header</a></li>
<li>the <a href="#the-account-menu">Acount menu</a></li>
<li><a href="/components/header/index.html#language-selector">the language selector</a> if your service is avalible in Welsh</li>
</ul>
<h2 id="research-on-this-component">Research on this component</h2>
<p>We need more user research on the account header. </p>
<p>Contribute your research via this <a href="https://github.com/hmrc/design-patterns/issues/128">GitHub issue</a>.</p>


            <!--
            TODO: pass the following into the template from AF

            <div id="related-content" class="related-content">
              <div class="grid-row">



                <div class="column-one-quarter related-content-grid-item">
                  <h2>Further resources</h2>

                  <ul class="list">


                    <li><a href="#">Edit this guidance on GitHub</a></li>
                    <li><a href="#">Raise an issue on GitHub</a></li>
                    <li><a href="#">History of this page</a></li>
                  </ul>
                </div>

                <div class="column-one-quarter related-content-grid-item">
                  <dl class="meta-data-bottom">
                    <dt>Last reviewed:</dt>
                    <dd>30 March 2017</dd>
                  </dl>
                </div>
              </div>
            </div>
            -->

            <div class="callout">
              <h2 class="heading-medium">Get in touch</h2>
              <p>If you’ve got a question, idea or suggestion share it in <a href="https://hmrcdigital.slack.com/messages/C39V3PH38">#team-sdt</a> on HMRC Slack (<a href="slack://channel?team=T04RY81HB&amp;id=C39V3PH38">open in app</a>) or <a href="hmrc-service-design-tools-g@digital.hmrc.gov.uk">email the Service Design Tools team</a></p>
            </div>
          </main>

          <footer class="design-system-footer design-system-footer--full-width">
            <div class="footer-container">
              <div class="footer__navigation">
                <div class="footer__navigation--column">
                  <h2 class="heading-medium">GOV.UK Design System</h2>
                  <ul>
                    <li><a href="https://govuk-design-system-prototypes.cloudapps.digital/design-patterns/patterns/">Prototype</a></li>
                  </ul>
                </div>
                <div class="footer__navigation--column">
                  <h2 class="heading-medium">Other design resources</h2>
                  <ul>
                    <li><a href="https://www.gov.uk/design-principles">GDS Design Principles</a></li>
                    <li><a href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a></li>
                    <li><a href="#">GOV.UK Frontend</a></li>
                    <li><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype kit</a></li>
                  </ul>
                </div>
              </div>

              <div class="footer__licence">
                <a class="footer__licence-logo" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                <p class="footer__licence-description">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>

              <div class="footer__copyright">
                <a class="footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="public/assets/javascripts/vendor/highlight/highlight.pack.js"></script>
    <script src="public/assets/javascripts/design-system.js"></script>

    

    <script src="public/javascripts/application.min.js"></script>
  </body>
</html>
