<h2 class="heading-medium">An example confirmation page</h2>

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      Name
    </dt>
    <dd class="cya-answer">
      Sarah Philips
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Date of birth
    </dt>
    <dd class="cya-answer">
      5 January 1978
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> date of birth</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Home address
    </dt>
    <dd class="cya-answer">
      72 Guild Street<br>
      London<br>
      SE23 6FH
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> home address</span>
      </a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Contact details
    </dt>
    <dd class="cya-answer">
      07700 900457<br>
      sarah.phillips@example.com
    </dd>
    <dd class="cya-change">
      <a href="#">
        Change<span class="visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>
