/*
Buttons

Buttons are used for *calls to actions* to start a journey or to *submit* information on a form. Simply place the
`.button` selector on your `<button>` element.
If you are using an `<a>` element please also apply the `role="button"` attribute.

Markup:
<button class="button {{modifier_class}}">Button text</button>

.button--get-started   - For a button to start a user journey
.button--secondary     - A secondary button
.button--alert         - An alert button
.button--small         - A smaller button
.button--table         - A button within a table
.button--link          - To make a button appear like a link
.button--spaced        - Adds spacing for when inline with other elements
.button--padded        - Wider button for extremely short text

Discussion: https://hmrcdigital.hackpad.com/Buttons-7vsvMQBdhVN

Styleguide Buttons
*/

button, .button {
  text-transform: capitalize;
  @include button($button-colour);
  @include core-19();
  margin: 0 em(15) 0 0;
}

.button--alert {
  @include button($red);
  @include core-19();
}

.button--get-started {
  @extend .button;
  @include bold-24();
  margin: em(10) 0;
  padding-right: 40px;
  background-image: url("../images/icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../images/icon-pointer.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
}

.button--secondary {
  @include button($grey-8);
  @include core-19();
}

.button--small {
  @include button($button-colour);
  @include core-16();
  margin-top: 10px;
}

.button--table {
  @include button($shaded-bg-grey);
  border-bottom: 1px solid #000; // $black;
  box-shadow: 0 0 0 $grey-4;
}

.button--spaced {
  margin: 0 em(10) 0 em(10);
}

.button--padded {
  padding-left: em(30);
  padding-right: em(30);
}

/**
 * For links that need to be positioned beside buttons
 * Used in conjunction with button class
 */
.button.button--link {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  color: $link-colour;
  border: none;

  &.button--link-table {
    color: $black;
  }

  &:hover,
  &:active {
    top: 0;
    outline: none;
    background-color: transparent;
  }

  &:hover, &:focus {
    color: $link-hover-colour;
  }

  &:active {
    color: $link-active-colour;
  }

  @include media(mobile) {
    margin-top: 10px;
  }
}

/* Transforms button into a link */
// POTENTIALLY-NOT-IN-USE
.pseudo-link {
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
  color: $link-hover-colour;
  text-decoration: underline;

  &:hover, &:focus {
    color: $link-hover-colour;
    background-color: transparent;
  }
}

/*
Link Style

Make a button appear like a link

Markup:
<button class="button--link-style">Button text</button>

Styleguide Buttons.Link Style
*/

.button--link-style {
  @extend .link-style;
  background: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    background: none;
  }
}

/*
Notification button

Experimental: Additional button styles to provide blue.

Markup:
<button class="button--notification">Button text</button>

Styleguide Buttons.Notification style
*/

.button--notification {
  @include button($govuk-blue-colour);
  @include bold-27();
}

/*
Full width style

Experimental: Additional button styles to provide full width options.

Markup:
<button class="button--full-width">Button text</button>

Styleguide Buttons.Full width style
*/

.button--full-width {
  width: $full-width;
  box-sizing: border-box;
}

@include media(mobile) {
  .button--full-width {
    padding-left: 0.5em;
  }
}
