// input border colour
$input-border: #e2e2e2;

$input-bg-colour: #f9f9f9;

$login-green: #00692f;

$beta-colour: #f47738;

$error-bg-color: #fef7f7;
$error-border-color: #df3034;
$error-color: #df3034;

$alert-bg-red: #b10e1e;

$attorney-yellow: #FFBF47;
$attorney-grey: #0B0C0C;

$shaded-bg-grey: #f8f8f8;
