// input border colour
$input-border: #e2e2e2;

$input-bg-colour: #f9f9f9;

$login-green: #00692f;
$primary-green: #00823B;

$beta-colour: #f47738;

$info-bg-color: #ddeeff;
$info-border-color: #005EA4;

$error-bg-color: #fef7f7;
$error-border-color: #df3034;
$error-color: #df3034;

$success-bg-color: #e9f5f4;
$success-border-color: #28a197;
$success-color: #28a197;

$alert-bg-red: #b10e1e;

$attorney-yellow: #FFBF47;
$attorney-grey: #0B0C0C;

$shaded-bg-grey: #f8f8f8;

$details-link: $black;
$details-link-hover: $grey-1;

$light-grey: #bfc1c3;
