/* New Greys */
$grey-0: #0b0c0c;
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

// input border colour
$input-border: #e2e2e2;

$input-bg-colour: #f9f9f9;

$login-green: #00692f;
$primary-green: #00823B;

$info-bg-color: #ddeeff;
$info-border-color: #005EA4;

$error-bg-color: #fff;
$error-border-color: #df3034;
$error-color: #af1324;

$success-bg-color: #e9f5f4;
$success-border-color: #28a197;
$success-color: #28a197;

$alert-bg-red: #b10e1e;

$attorney-yellow: #FFBF47;
$attorney-grey: #0B0C0C;

$shaded-bg-grey: #f8f8f8;

$details-link: $black;
$details-link-hover: $grey-1;

$alert-failure-bg: #fbede9;

$light-grey: #bfc1c3;

$govuk-blue-colour: #005ea5;

$mask-opacity: rgba(89, 89, 89, .7);
$modal-dialog-yellow: $attorney-yellow;

// NOTE this is a grey from govuk_elements, which will be removed, so adding a version of it here
$govuk-grey-3: #DEE0E2;

$lime-green: #006435;
$light-lime-green: #BFD8CD;

$light-orange: #F47738;
$light-salmon-orange:#FCDDCD;

$scarlet-red: #B10E1E;
$pale-violet-red: #ECC3C7;

$client-request-accepted-border: $lime-green;
$client-request-accepted-bg: $light-lime-green;

$client-request-requested-border: $light-orange;
$client-request-requested-bg: $light-salmon-orange;

$client-request-rejected-border: $scarlet-red;
$client-request-rejected-bg: $pale-violet-red;
