/**
* @desc         details summary element styles and mixins.
* @name         details-summary
* @author       Matthew Pepper
* @tested       N/A
* @requires     
            Usage: add @mixin summary-arrow-styles { ... } 
                   to the referencing stylesheet to enable the addition
                   of other style rules for the summary elements arrow.
                   Create an empty 'summary-arrow-styles' mixin 
                   where further styles not required.
*/

/**
* @desc         Mixin which extends details summary element styles when a taller multi-line block is used in the summary.
* @name         details-multi-line-summary-block
* @param        $vpos: optional parameter for absolute vertical positioning summary element arrow.
*/
@mixin multi-line-summary-block($vpos:"") {
  @if $vpos != "" {
    & > .arrow {
      top: $vpos;
      position: absolute;
      @include summary-arrow-styles;
    }

    &::-webkit-details-marker {
      top: $vpos;
      position: absolute;
      @include summary-arrow-styles;
    }
  } @else {
    & > .arrow {
      @include summary-arrow-styles;
    }
    &::-webkit-details-marker {
      @include summary-arrow-styles;
    }
  }

  &[aria-disabled=true] {
    cursor: default;
    outline: none;

    &::-webkit-details-marker {
      visibility: hidden;
    }

    & > .arrow {
      display: none;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.summary--black {
  color: $black;
  &:hover {
    color: $black;
  }
  i {
    color: $black;
    &:visited {
      color: $black;
    }
  }
}

.no-details details {
  summary {
    .arrow-closed {
      display: inline;
    }

    .arrow-open {
      display: none;
    }
  }

  &.open summary {
    .arrow-closed {
      display: none;
    }

    .arrow-open {
      display: inline;
    }
  }
}
