/**
* @desc         Form Field classes.
* @name         form
* @author       username
* @tested       N/A
* @requires     toolkit/_colours.scss
*/

fieldset {
  @include core-19();
  margin: 0;
  position: relative;
  width: 100%;
  legend {
    width: 100%;
    float: left;
    clear: right;
    margin-bottom: 0.75em;
    &.h2-heading {
      margin: 0 0 0.25em 0;
    }
  }
}

input {
  @include core-19();
  background-color: $input-bg-colour;
  border: 1px inset $input-border;
  margin: 0;
  padding: 0.1em 0 0.1em 0.4em;
  &:focus {
    outline: 3px solid $yellow;
  }
}

select {
  margin: 0 0.625em;
  @include inline-block;
  width: auto;
}

textarea {
  @include core-19();
  background-color: $input-bg-colour;
  border: 1px inset $input-border;
  margin: 0;
  padding: 0.1em 0 0.1em 0.4em;
  &:focus {
    outline: 3px solid $yellow;
  }
}

input[type="radio"], input[type="checkbox"], select {
  width: auto;
  position: relative;
  vertical-align: 2px;
}

input[type="radio"] {
  border: none;
}

.input--xxsmall {
  max-width: 2em;
}
.input--xsmall {
  max-width: 4em;
}
.input--small {
  max-width: 6em;
}
.input--medium {
  width: 100%;
  @include media(tablet) {
    width: 20em;
  }
}
.input--fullwidth {
  width: 100%;
}


.input--link {
  background: none;
  border: none;
  color: #2e3191;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  outline: none;

  &:hover,
  &:active {
    color: #2e8aca;
  }
  &:visited {
    color: #2e3191;
  }
}
.input--cleared {
  display: block;
}

.input--radio-inline {
  margin-right: 5px
}

/**
 * By default form labels will be above inputs
 */
label {
  @include core-19();
  display: block;
}

/**
 * align labels with inputs
 */
label.indent {
  padding-left: 1.5em;
}

.label--inline {
  display: inline-block;
  margin-top: 0.2em;
  min-width: 130px;
  @include ie-lte(8) {
    width: 130px;
  }

}

.label--inline-no-input {
  @extend .label--inline;
  margin-left: 16px;
  margin-top: 0.75em;
  min-width: 60px;
  clear: none;
  float: left;
  @include ie-lte(8) {
    width: 60px;
  }
}

.label--inline-tight {
  @extend .label--inline;
  min-width: 0;
  @include ie-lte(8) {
    width: auto;
  }

}
.label--inline-right{
  @extend .label--inline;
  float: right;
}
.label--inlineRadio{
  @extend .label--inline;
  @extend %contain-floats;
  min-width: 0;
  @include ie-lte(8) {
    width: auto;
  }

}
.label--inlineRadio--expanded {
  @extend .label--inlineRadio;
  width: 100%;
  input {
    float: left;
    margin-right: 0.25em;
    margin-top: 0.15em;
    @include ie-lte(8) {
      margin-top: 0.3em;
    }
  }
  .label__text {
    float: left;
    width: 90%;
  }

}
.label--inlineRadio--overhead {
    float: left;
    margin-bottom: 0.75em;
    text-align: center;
    width: 5.8em;
    word-spacing: 5.8em;
}
.label--inlineRadio--overhead-wide {
    @extend .label--inlineRadio--overhead;
    width: 6.8em;
}
.label--inlineDropDown {
  @extend .label--inlineRadio;
}

.label--full-length {
  @extend .label--inline;
  width: 100%;
  clear: both;
}

.form-field-group {
  margin-bottom: 0.75em;
  line-height: 1.6em;
  @extend %contain-floats;
  clear: both;
}
.form-field-single {
  @extend .form-field-group;
}
.form-field {
  @extend %contain-floats;
  float: left;
  margin-bottom: 0.75em;
  margin-top: 0;
  width: 100%;
}

/**
 *  Allows you to stack input blocks side by side
 */
.form-field--inline {
  @extend .form-field;
  clear: none;
  float: left;
  width: auto;
  position: relative;

  input[type="text"], input[type="password"] {
    margin: 0 0.52em;
  }
}

.form-field--inline-text-input {
  @extend .form-field--inline;
}
.form-field--inline-spaced-right {
  @extend .form-field--inline;
  margin-right: 15px;
}
.form-field--inline-spaced-left {
  @extend .form-field--inline;
  margin-left: 15px;
}

.form-field--hint {
  @extend .faded-text;
  display: block;
  margin-bottom: 0.75em;
}

.row {
  margin-bottom: 20px;
} 

label {
  &.bold {
    font-weight: bold;
  }
}

.questionnaire {
  legend {
    margin: 0 0 0.75em;
  }
}

// new form styles
.in-focus {
  outline: 3px solid $yellow;
  input {
    outline: none;
  }
}

.block-label {
  background-color: $grey-8;
  border: 1px solid $grey-8;
  clear: both;
  cursor: pointer;
  line-height: 0;
  float: left;
  margin: 0 15px 15px 0;
  padding: 1em;
  &:hover {
    border-color: $black;
  }
  &.selected {
    background-color: $white;
    border-color: $black;
  }
  input {
    margin: 0 0.5em 0 0;
  }
}

.block-label--inline {
  @extend .block-label;
  clear: none;
}

.block-label--inline-right{
  @extend .block-label;
  clear: none;
}

.block-label--stacked {
  @extend .block-label;
  clear: none;
  line-height: 1;
  input {
    display: block;
    margin: 0 auto 0.8em;
  }
}

.dynamically-displayed {
  border-left: 5px solid $grey-8;
  clear: both;
  margin: 0 0 15px;  
  padding: 0.5em 30px;
}



/*
  Date field input group
*/

.label--dateField-group {
  @extend .label--inlineRadio--overhead;
  text-align: left;
  width: 3.5em;
}

