/*
Grids

You create the grid with `.grid-layout` and individual columns with a column class `.grid-layout__column` and
fraction class `.grid-layout__column--1-4`.

* Add a `.grid-layout` container.
* Add your columns with individual `.grid-layout__column`.
* Add your fractional width classes to set the width of the columns e.g. `.grid-layout__column--1-4`.

Markup:
<div class="grid-layout {{modifier_class}}">
  <div class="grid-layout__column grid-layout__column--1-4">
    .grid-layout__column--1-4
  </div>
  <div class="grid-layout__column grid-layout__column--3-4">
    .grid-layout__column--3-4
  </div>
</div>
<div class="grid-layout {{modifier_class}}">
  <div class="grid-layout__column grid-layout__column--1-3">
    .grid-layout__column--1-3
  </div>
  <div class="grid-layout__column grid-layout__column--2-3">
    .grid-layout__column--2-3
  </div>
</div>
<div class="grid-layout {{modifier_class}}">
  <div class="grid-layout__column grid-layout__column--1-2">
    .grid-layout__column--1-2
  </div>
  <div class="grid-layout__column grid-layout__column--1-2">
    .grid-layout__column--1-2
  </div>
</div>

.grid-layout--flush      - Remove margins for cases where they're not needed
.grid-layout--stacked    - Stack columns in mobile

Styleguide Grids
*/

.grid-layout {
  @extend %grid-row-table;
}

.grid-layout--flush {
  margin: 0;
}

.grid-layout--stacked {
  @include media(mobile) {
    .grid-layout__column {
      display: block;      
    }
  }
}

.grid-layout__column {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}

.grid-layout__column--1-4 {
  @include grid-column-table(1/4);
}

.grid-layout__column--3-4 {
  @include grid-column-table(3/4);
}

.grid-layout__column--1-2 {
  @include grid-column-table(1/2);
}

.grid-layout__column--1-3 {
  @include grid-column-table(1/3);
}

.grid-layout__column--2-3 {
  @include grid-column-table(2/3);
}
