/* ==========================================================================
   Grid
   ========================================================================== */

/*
Usage:

  <div class="grid-layout">
      <div class="grid-layout__column grid-layout__column--1-4">
        ...
      </div>
      <div class="grid-layout__column grid-layout__column--3-4">
      . ..
      </div>
  </div>
*/

.grid-layout {
  width: 100%;
  @include contain-floats;
  @include media(tablet){
    margin-left: $gutter/2;
    margin-right: $gutter/2;
    display: table;
  }
}

.grid-layout__column {
  display: table-cell;
  width: 100%;
}

.grid-layout__column--1-4 {
  @include media(tablet) {
    width: 25%;
  }
}

.grid-layout__column--1-3 {
  @include media(tablet) {
    width: 33.333333333%;
  }
}

.grid-layout__column--1-2 {
  @include media(tablet) {
    width: 50%;
  }
}

.grid-layout__column--2-3 {
  @include media(tablet) {
    width: 66.666666667%;
  }
}

.grid-layout__column--3-4 {
  @include media(tablet) {
    width: 75%;
  }
}
