/* ==========================================================================
   Grid
   ========================================================================== */

/*
Usage:

  <div class="grid-layout">
      <div class="grid-layout__column grid-layout__column--1-4">
        ...
      </div>
      <div class="grid-layout__column grid-layout__column--3-4">
      . ..
      </div>
  </div>
*/

.grid-layout {
  @extend %grid-row-table;
}

.grid-layout__column {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}

.grid-layout__column--1-4 {
  @include grid-column-table(1/4);
}

.grid-layout__column--1-3 {  
  @include grid-column-table(1/3);
}

.grid-layout__column--1-2 {
  @include grid-column-table(1/2); 
}

.grid-layout__column--2-3 {  
  @include grid-column-table(2/3);
}

.grid-layout__column--3-4 {
  @include grid-column-table(3/4); 
}
