.arrow {
  color: #2e8aca;
  font-style: normal;  
  width: 15px;  
  display: inline-block;
}

.arrow--right {
  &:after {
    content: "▸";
  }
}

.arrow--left {
  &:after {
    content: "◂";
  }
}

.arrow--up {
  &:after {
    content: "▴";
  }
}

.arrow--down {
  &:after {
    content: "▾";
  }
}



