/*
Arrow

The arrow icon is used to represent an open or closed child element.

Markup:
<i class="arrow {{modifier_class}}"></i>

.arrow--right   - Arrow pointing to the right
.arrow--left    - Arrow pointing to the left
.arrow--up      - Arrow pointing up
.arrow--down    - Arrow pointing down

Styleguide Icons.Arrow
*/
.arrow {
  color: #2e8aca;
  font-style: normal;
  font-size: 20px;
  width: 12px;
  height: 23px;
  margin: 0 3px 0 0;
  display: inline-block;
  transition-duration: 0.2s;
}

.arrow--right {
  &:after {
    content: "▸";
  }
}

.arrow--left {
  &:after {
    content: "◂";
  }
}

.arrow--up {
  &:after {
    content: "▴";
  }
}

.arrow--down {
  &:after {
    content: "▾";
  }
}

// used in JavaScript
.arrow--expand {
  transform: rotate(90deg);
  transition-duration: 0.2s;
}

/*
Experimental: Calendar

A Calendar icon

Markup:
<div class="icon--calendar">Calendar</div>

Styleguide Icons.Calendar
*/

.icon--calendar:before {
  background: url("../images/calendar.svg");
  background-position: 0.8em 30%;
  background-size: 40px;
  background-repeat: no-repeat;

  @include ie-lte(9) {
    background-image: url("../images/calendar.png");
  }
}

@media (max-width: 640px) {
  .icon--calendar:before {
    background: none;
  }
}

/*
Exclamation

The exclamation icon is used to highlight content to the user.

Markup:
<span class="exclamation"></span>

Styleguide Icons.Exclamation
*/
.exclamation {
  width: 35px;
  height: 35px;
  margin-right: em(4);
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/icon-important.png");

  @include device-pixel-ratio() {
    background-image: url("../images/icons/icon-important-2x.png");
    background-size: cover;
  }
}

/*
GOVUK Verify

This is the icon used for GOVUK Verify.

Markup:
<span class="govuk-verify"></span>

Styleguide Icons.Verify
*/
.govuk-verify {
  background: {
    image: url("../images/govuk-verify.png");
    position: center;
    repeat: no-repeat;
    size: 100%;
  };
  display: inline-block;
  height: 63px;
  width: 91px;

  @include device-pixel-ratio() {
    background-image: url("../images/govuk-verify-2x.png");
  }
}
