/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
	counter-reset: section;
}

#content {
	@extend %contain-floats;
	display: block;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px 2em 15px; 
	@include media(tablet) {
		padding: 0 30px 2em 30px;
	}
}

// TODO: remove lines 24-35 once all frontends are using play-frontend@8.1.0 + 
#content>article {
  @include media(tablet) {
    width: 64%;
    float: left;
  }
}

.full-width article {
	float: none!important;
	width: 100%!important;
}

.content__body {
	.full-width & {
		float: none;
		width: 100%;
	}

	@include media(tablet) {
    	width: 64%;
    	float: left;
  	}
}



.divider--bottom {
  border-bottom: 1px solid $grey-8;
}
