/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
  counter-reset: section;
}

#wrapper {
  text-align: left;
}

#content {
  @include page-slice(32);
}

.centered-content {
  @include page-slice();
}

.content__body {

  p {
    @include core-19();
    margin: em(12) 0;
  }

  .full-width & {
    float: none;
    width: 100%;
  }

  @include media(tablet) {
    float: left;
    width: 61.666667%;
  }

  .messages-box,
  .service-info__related-subsection {
    display: none;
  }

  @include media(mobile) {

    .messages-box,
    .service-info__related-subsection {
      display: block;
    }

  }

}

.brand-border--top {
  border-top: 10px solid $mainstream-brand;
}

.section {
  margin-bottom: 1em;
  padding: 1em 0;

  h2 {
    margin-top: 0 !important;
  }
}

.subsection {
  margin: 1.5em 0;
}

.subsection--wide {
  margin: 2.5em 0;
}

.section--branded {
  @extend .section;
  h2 {
    border-bottom: 5px solid $mainstream-brand;
    margin-top: 0 !important;
    margin-bottom: 0.65em;
  }
}

.section--blue-top {
  border-top: 10px solid $govuk-blue;
}

.full-width {
  width: $full-width;
}

.row {
  margin-bottom: 20px;
}
