/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
  counter-reset: section;
}

#content {
  @extend %contain-floats;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px 2em 15px;
  @include media(tablet) {
    padding: 0 30px 2em 30px;
  }
}

.content__body {

  .full-width & {
    float: none;
    width: 100%;
  }

  @include media(tablet) {
    float: left;
    width: 61.666667%;
  }

  .messages-box,
  .service-info__related-subsection {
    display: none;
  }

  @include media(mobile) {

    .messages-box,
    .service-info__related-subsection {
      display: block;
    }

  }

}

@include media(mobile) {

  .sidebar {
    display: none;
  }

}

.brand-border--top {
  border-top: 10px solid $mainstream-brand;
}

.section {
  margin-bottom: 1em;
  padding: 1em 0;

  h2 {
    margin-top: 0 !important;
  }
}

.subsection {
  margin: 1.5em 0;
}

.section--branded {
  @extend .section;
  h2 {
    border-bottom: 5px solid $mainstream-brand;
    margin-top: 0 !important;
    margin-bottom: 0.65em;
  }
}

.bordered-box {
  border: 1px solid $border-colour;
  padding: 1em 1em 0.5em;
}

.bordered-box--shaded {
  @extend .bordered-box;
  background-color: $shaded-bg-grey;
}

.box--shaded {
  padding: 0.5em 1em;
  background-color: $grey-8;
  border: none;
}

.divider--bottom {
  border-bottom: 1px solid $border-colour;
}

.divider--top {
  border-top: 1px solid $border-colour;
}
