/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
	counter-reset: section;
}

#content {
	@extend %contain-floats;
	display: block;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px 2em 15px; 
	@include media(tablet) {
		padding: 0 30px 2em 30px;
	}
}

// TODO: remove lines 24-35 once all frontends are using play-frontend@8.1.0 + 
#content>article {
  @include media(tablet) {
    width: 64%;
    float: left;
  }
}

.full-width article {
	float: none!important;
	width: 100%!important;
}

.content__body {
	.full-width & {
		float: none;
		width: 100%;
	}

	@include media(tablet) {
    	width: 64%;
    	float: left;
  	}
}

.brand-border--top {
  border-top: 10px solid $mainstream-brand; 
}

.bordered-box {
  border: 1px solid $border-colour;
  margin-bottom: 20px;
  padding: 20px;

  h2 {
    margin-top: 0!important;
  }
}

.bordered-box--shaded {
  @extend .bordered-box;

  background-color: $shaded-bg-grey;

  h2 {
    border-bottom: 5px solid $mainstream-brand;
    margin-top: 0!important;
  }
}

.divider--bottom {
  border-bottom: 1px solid $border-colour;
}
