/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
	counter-reset: section;
}
%bodyColumn {
	float:left;
}
.l-constrained {
	@extend %contain-floats;
	text-align: left;
	 max-width: 960px;
	 margin: 0 auto;
	 *, *:before, *:after {
	 	@include box-sizing(border-box);
	 }
}
.l-constrained--header {
	@extend .l-constrained;
	padding: 0.5em 0px;
}
.l-constrained--topBordered {
	@extend .l-constrained;
	//border-top: 10px solid $mainstream-brand; TODO: remove this class altogether as border now set as part of the service info. Must change the markup in play-frontend as well.
}
.l-bodyLeftColumn{
	@extend %bodyColumn;
	@include media(tablet) {
		width: 64%;
		margin-right:3.125%;
	}
}
.l-bodyRightColumn {
	@extend %bodyColumn;
	width: 31.25%;
}
.l-contentColumn {
	@extend %bodyColumn;
	@extend %contain-floats;
}
.l-contentColumn--1_of_4 {
	@extend .l-contentColumn;
	width: 25%;
}
.l-contentColumn--2_of_4 {
	@extend .l-contentColumn;
	width: 50%;
}
.l-contentColumn--3_of_4 {
	@extend .l-contentColumn;
	width: 75%;
}
#content {
	@extend %contain-floats;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 15px 2em 15px; 
	@include media(tablet) {
		padding: 0 30px 2em 30px;
	}
}

.l-constrained--full-width,
.l-constrained--topBordered.full-width article {
	// TODO: get rid of !important when refactor out the #content > article
	float: none!important;
	width: 100%!important;
}
