/*
No underline

A link takes you to a location on the same page or any other page on the Web.

Markup:
<a class="link--no-underline">Example link</a>

Discussion: https://hmrcdigital.hackpad.com/Links-TsiInUIYA3a

Styleguide Links.No underline
*/

.link--no-underline {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*
Link

To make an element appear as a link.

**NOTE:** This relies on `a` from govuk_frontend_static/basic

Markup:
<span class="link-style">Example Link</span>

Styleguide Links.Link
*/

.link-style {
  @extend a;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

/*
Print

Add a print image to a print link.

Markup:
<a href="javascript:window.print()" class="print-link print-hidden js-visible">Print me</a>

Styleguide Links.Print
*/

.print-link {
  background: transparent no-repeat 0 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}

/*
Back

A back link.

Markup:
<a class="back-link" href="#">Back</a>

Styleguide Links.Back
*/

.back-link {
  @include core-19();
  border-bottom: 1px solid $black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: em(30);

  &:before {
    content: "\2039"; // Unicode &lsaquo;
    padding-right: em(5);
  }
}

a.back-link {
  color: $black;
}

/*
Back to Top

A back to top link.

Markup:
<a class="back-to-top-link" href="#">Back to Top</a>

Styleguide Links.Back to Top
*/

a.back-to-top-link {
  @include bold-16;
  margin: 0 0 em(10) 0;

  &:visited {
    color: $govuk-blue-colour;
  }
}

/*
External

An external link indicates you it will take you to a location on an external site to the one you are currently on.

Markup:
<a class="{{modifier_class}}" rel="external">Example external link</a>

.external-link-12                 - External Link font size 12
.external-link-12-no-hover        - External Link font size 12 without hover
.external-link-13                 - External Link font size 13
.external-link-13-no-hover        - External Link font size 13 without hover
.external-link-14                 - External Link font size 14
.external-link-14-bold-no-hover   - External Link font size 14 without hover
.external-link-16                 - External Link font size 16
.external-link-16-bold-no-hover   - External Link font size 16 bold without hover
.external-link-19                 - External Link font size 19
.external-link-19-bold-no-hover   - External Link font size 19 bold without hover

Styleguide Links.External
*/
a[rel="external"].external-link-12 {
  @include external-link-12;
}

a[rel="external"].external-link-12-no-hover {
  @include external-link-12-no-hover;
}

a[rel="external"].external-link-13 {
  @include external-link-13;
}

a[rel="external"].external-link-13-no-hover {
  @include external-link-13-no-hover;
}

a[rel="external"].external-link-14 {
  @include external-link-14;
}

a[rel="external"].external-link-14-bold-no-hover {
  @include external-link-14-bold-no-hover;
}

a[rel="external"].external-link-16 {
  @include external-link-16;
}

a[rel="external"].external-link-16-bold-no-hover {
  @include external-link-16-bold-no-hover;
}

a[rel="external"].external-link-19 {
  @include external-link-default;
  @include external-link-19;
}

a[rel="external"].external-link-19-bold-no-hover {
  @include external-link-19-bold-no-hover;
}

/*
Previous

Link navigation element with a previous modifier.

Markup:
<a class="page-nav__link page-nav__link--previous"
   title="Navigate to previous part" rel="prev" href="#">
  <span class="page-nav__label">Previous</span>
  <span class="page-nav__title">Overview</span>
</a>

Styleguide Links.Previous
*/
/*
Next

Link navigation element with a next link modifier.

Markup:
<a class="page-nav__link page-nav__link--next"
   title="Navigate to next part" rel="next" href="#">
  <span class="page-nav__label">Next</span>
  <span class="page-nav__title">Inheritance Tax reliefs</span>
</a>

Styleguide Links.Next
*/

.page-nav__link {
  @include core-19;
  display: block;
  color: $govuk-blue-colour;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: $shaded-bg-grey;
  }

  &:focus {
    outline: 3px solid $yellow;
    background-color: transparent;

    @include media(tablet) {
      outline-width: em(3);
    }
  }
}

.page-nav__link--previous {
  padding: em(14) 0 em(14) em(48);

  &:before {
    font-size: 19px;
    background: transparent url(../images/arrow-sprite.png) no-repeat em(-20) em(-11);
    margin: em(-4) 0 0 em(-32);
    float: left;
    width: em(30);
    height: em(38);
    content: " ";
  }
}

.page-nav__link--next {
  padding: em(14) em(48) em(14) 0;
  font-size: 19px;
  text-align: right;
  &:before {
    background: transparent url(../images/arrow-sprite.png) no-repeat em(-102) em(-11);
    margin: em(-4) em(-32) 0 0;
    float: right;
    width: em(30);
    height: em(38);
    content: " ";
  }
}

.page-nav__label {
  @include core-24;
  line-height: 1.25;
  margin-bottom: em(3, 27);
  display: block;

  @include media(tablet) {
    @include core-27;
  }
}

.page-nav__title {
  text-decoration: underline;
  @include core-16;

  @include media(tablet) {
    @include core-19;
  }
}
