/*
No underline

A link takes you to a location on the same page or any other page on the Web.

Markup:
<a class="link--no-underline">Example link</a>

Styleguide Links.No underline
*/

.link--no-underline {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


/*
Link

To make an element appear as a link.

**NOTE:** This relies on `a` from govuk_frontend_static/basic

Markup:
<span class="link-style">Example Link</span>

Styleguide Links.Link
*/

.link-style {
  @extend a;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}


/*
Print

Add a print image to a print link.

Markup:
<a href="javascript:window.print()" class="print-link print-hidden js-visible">Print me</a>

Styleguide Links.Print
*/

.print-link {
  background: transparent no-repeat 0 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==');
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}


/*
External

An external link indicates you it will take you to a location on an external site to the one you are currently on.

Markup:
<a class="{{modifier_class}}" rel="external">Example external link</a>

.external-link-12                 - External Link font size 12
.external-link-12-no-hover        - External Link font size 12 without hover
.external-link-13                 - External Link font size 13
.external-link-13-no-hover        - External Link font size 13 without hover
.external-link-14                 - External Link font size 14
.external-link-14-bold-no-hover   - External Link font size 14 without hover
.external-link-16                 - External Link font size 16
.external-link-16-bold-no-hover   - External Link font size 16 bold without hover
.external-link-19                 - External Link font size 19
.external-link-19-bold-no-hover   - External Link font size 19 bold without hover

Styleguide Links.External
*/
a[rel="external"].external-link-12 {
  @include external-link-12;
}
a[rel="external"].external-link-12-no-hover {
  @include external-link-12-no-hover;
}
a[rel="external"].external-link-13 {
  @include external-link-13;
}
a[rel="external"].external-link-13-no-hover {
  @include external-link-13-no-hover;
}
a[rel="external"].external-link-14 {
  @include external-link-14;
}
a[rel="external"].external-link-14-bold-no-hover {
  @include external-link-14-bold-no-hover;
}
a[rel="external"].external-link-16 {
  @include external-link-16;
}
a[rel="external"].external-link-16-bold-no-hover {
  @include external-link-16-bold-no-hover;
}

a[rel="external"].external-link-19 {
  @include external-link-default;
  @include external-link-19;
}
a[rel="external"].external-link-19-bold-no-hover {
  @include external-link-19-bold-no-hover;
}
