/*
Lists

Unordered lists are used for representing data in a list format.

Markup:
<ul class="{{modifier_class}}">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>

.list--numbered               - A numbered list
.bullets                      - A bulleted list 
.lower-letters                - A lowercase ASCII lettered list (a, b, c, etc)
.list--ticks                  - A ticked list item with custom tick icons
.list--inline                 - An inline list


Styleguide Lists
*/

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-position: inside;
}

ul, nav ul {
  list-style-type: none;
  li {
    @include core-19();
  }
}

.list--numbered {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 25px;
  .numbered {
    margin: 0 0 20px 25px;
    padding-left: 15px;
    &:before {
      counter-increment: section; /* Increment the section counter */
      content: counter(section) ". "; /* Display the counter */
      position: absolute;
      left: -25px;
      top: 0;
      padding-right: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bullets {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1em;
}

.lower-letters {
  list-style-type: lower-alpha;
}

.list--ticks {
  padding-left: 1.5em;

  li::before {
    color: $primary-green;
    content: "\2713"; // code for '✓'
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
  }
}

.list--inline {
  li {
    display: inline;
  }
}

/*
Activity list

// richiv authored on Jan 14, 2015

An activity list

Deprecated: Before considering this design pattern, make sure that you have strong evidence that:
* There is a real user need to have attention focused on a single piece of content;
* That need cannot be met by taking the user to a new page in the same flow that contains the crucial piece of content;

Markup:
<dl class="activity-list">
  <dt class="activity-list__date">14th March 2016</dt>
  <dd class="activity-list__description">description</dd>
  <dd class="activity-list__description">description</dd>
  <dd class="activity-list__description">description</dd>
  <dd class="activity-list__description">description</dd>
</dl>

Styleguide Lists.activity list
*/

.activity-list {
  padding-left: 0;
  li {
    display: inline-block;
  }
}

.activity-list__date {
  float: left;
  text-align: left;
  min-width: 170px;
  margin-right: 10px;
  > * {
    font-weight: bold;
  }
}

.activity-list__date--highlight {
  @extend .activity-list__date;
  font-weight: bold;
}

.activity-list__description {
  float: left;
  width: 400px;
}

/*
Coms Alerts

Communication alerts

Deprecated: This pattern is now deprecated (?);

Markup:
<ul class="coms-alerts">
  <li><img src="./public/images/icons/icon-important.png" alt="coms alert"/>List item 1</li>
</ul>

Styleguide Lists.coms alerts
*/

.coms-alerts {
  img {
    margin-right: 10px;
  }
}

/*
Definition list

Definition list with title floated left and descriptions floated right and bold

Markup:
<dl class="dl--label-value">
  <dt>List item 1</dt>
  <dd>List item 1 description</dd>
  <dt>List item 2</dt>
  <dd>List item 2 description</dd>
  <dt>List item 3</dt>
  <dd>List item 3 description</dd>
</dl>

Styleguide Lists.definiton list
*/

.dl--label-value {
  margin-bottom: 1em;
  overflow: hidden;
  dt, dd {
    float: left;
    margin-left: 0;
    margin-bottom: 0.25em;
    width: 50%;
  }
  dd {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.31579;
    text-align: right;
  }
}

/*
Action list

An action list with the first child having a top border

Markup:
<ul class="action-list">
  <li class="action-list__grouped"><p>First paragraph<p><p>Second paragraph</p></li>
  <li class="action-list__grouped"><p>First paragraph<p><p>Second paragraph</p></li>
  <li class="action-list__grouped"><p>First paragraph<p><p>Second paragraph</p></li>
</ul>

Styleguide Lists.action list
*/

.action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
  li {
    border-top: 1px solid $border-colour;
    padding: 0.5em 0;
    margin: 0;
    overflow: hidden;
    &:first-child {
      border-top: 1px solid $border-colour;
    }
  }
}

.action-list__grouped {
  border-top: none;
  p {
    margin: 0.4em 0;
    padding: 0;
  }
}

.list-noborder {
  li {
    border-top: 0;
    &:first-child {
      border-top: 0;
    }
  }
}

.two-col-list {

  .two-col-list__col {
    width: auto;
    float: none;
  }

  ul {
    margin: 0;
    li {
      margin: 0.7em 0;
      @include core-16;
    }
    &.two-col-list--padded {
      margin-bottom: 30px;
    }
  }

  @include media(tablet) {
    display: inline-block;

    .two-col-list__col {
      width: 48%;
    }
    .two-col-list__col--left {
      float: left;
    }
    .two-col-list__col--right {
      float: right;
    }

  }

}

.three-col-list {
  margin: 20px 0 0 0;

  .three-col-list__col {
    width: auto;
    float: none;
  }

  ul {
    margin: 0;
    li {
      margin: 0.7em 0;
      @include core-16;
    }
  }

  @include media(tablet) {
    display: inline-block;

    .three-col-list__col {
      width: 29%;
      margin-right: 6.5%;
      float: left;
    }
    .three-col-list__col--right {
      margin-right: 0;
    }

  }

}

.link-list {
  display: inline-block;
  margin-bottom: $gutter-half;
}

.link-list__item {
  display: block;
  margin-bottom: $gutter-half;
}
