/*
Lists

Unordered lists are used for representing data in a list format.

Markup:
<ul class="{{modifier_class}}">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>

.bullets       - A bulleted list
.lower-letters - A lowercase ASCII lettered list (a, b, c, etc)
.list--ticks   - A ticked list item with custom tick icons
.list--inline  - An inline list

Discussion: https://hmrcdigital.hackpad.com/Lists-vGjNx5fIw1z

Styleguide Lists
*/

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-position: inside;
}

ul, nav ul {
  list-style-type: none;
  li {
    @include core-19();
  }
}

.bullets {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1em;
}

.lower-letters {
  list-style-type: lower-alpha;
}

.list--ticks {
  padding-left: 1.5em;

  li::before {
    color: $primary-green;
    content: "\2713";// code for '✓'
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
  }
}

.list--inline {
  li {
    display: inline;
  }

  .list__item + .list__item {
    margin-left: em(15);
  }
}


/*
.list--collapse

A collapsable list element on smaller breakpoints.
Inline list at larger breakpoints.
List items have 'list__item' class and toggle item has attribute 'data-list--collapse-toggle'

Markup:
<ul class="list--collapse hide-inline-list--collapse-targets">
    <li class="list__item" data-list--collapse-toggle>
        <span>I'm the toggle</span>
    </li>
    <li class="list__item">
        <a href="#">list item link</a>
    </li>
    <li class="list__item">
        <a href="#">another list item link</a>
    </li>
</ul>

Styleguide Lists.Collapse
*/

.list--collapse {

  .list__item {
    display: block;
  }

  a {
    @include core-16();
  }

  @include media(tablet) {
    .list__item {
      display: inline;
    }
    .list__item + .list__item {
      margin-left: em(15);
    }
  }
}

[data-list-collapse-toggle] {
  padding-left: 0;
  @include bold-16();
}

.js-enabled {
  [data-list-collapse-toggle] {
    @include media(mobile) {
      text-decoration: underline;

      &:before {
        content: "\25BE\2002";
        display: inline-block;
      }
    }
  }
}

.js-enabled .list--collapse {
  .list__item + .list__item {
    padding-left: em(30);
    @include media(tablet) {
      padding-left: 0;
    }
  }
  &.hide-inline-list--collapse-targets {
    @include media(mobile) {
      [data-list-collapse-toggle] {
        &:before {
          content: "\25B8\2002";
          display: inline-block;
        }
      }
      .list__item + .list__item {
        display: none;
      }
    }
  }
}

/*
Numbered

Experimental: Defining sections in markup with numbers associated against them using `.list--numbered` on the container
and `.numbered` on the element to identify its position. **This has been marked as experimental because this markup is
in need of a refactor. There is an issue in github around the problems found with this work**
Github issue [#649](https://github.com/hmrc/assets-frontend/issues/649)

Markup:
<fieldset class="list--numbered">
  <fieldset class="numbered">
      <input type="text"/>
  </fieldset>
  <fieldset class="numbered">
      <input type="text"/>
  </fieldset>
  <fieldset class="numbered">
      <input type="text"/>
  </fieldset>
  <fieldset class="numbered">
      <input type="text"/>
  </fieldset>
</fieldset>
*/

.list--numbered {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 25px;
  .numbered {
    margin: 0 0 20px 25px;
    padding-left: 15px;
    &:before {
      counter-increment: section; /* Increment the section counter */
      content: counter(section) ". "; /* Display the counter */
      position: absolute;
      left: -25px;
      top: 0;
      padding-right: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*
Activity

A list of dates with associated descriptions for that date, the date has the class `.activity-list__date` and the
description has the class `.activity-list__description`.

Markup:
<ul class="activity-list">
  <li class="{{modifier_class}}">14th March 2016</li>
  <li class="activity-list__description">event for 14th March 2016</li>
</ul>

.activity-list__date            - A list item which represents a date
.activity-list__date--highlight - A highlighted list item which represents a date

Styleguide Lists.Activity
*/

.activity-list {
  padding-left: 0;
  li {
    display: inline-block;
  }
}

.activity-list__date {
  float: left;
  text-align: left;
  min-width: 170px;
  margin-right: 10px;
  > * {
    font-weight: bold;
  }
}

.activity-list__date--highlight {
  @extend .activity-list__date;
  font-weight: bold;
}

.activity-list__description {
  float: left;
  width: 400px;
}

/*
Coms Alerts

Communication alerts, this applies a margin right after the image using the class `.coms-alerts`

Markup:
<ul class="coms-alerts">
  <li>
    <img src="./public/images/icon-important.png" alt="coms alert"/>
    List item 1
  </li>
</ul>

Styleguide Lists.Coms Alerts
*/

.coms-alerts {
  img {
    margin-right: 10px;
  }
}

/*
Definition

Definition list with a modifier of `dl--label-value` where the definition title is floated left and definition
descriptions are floated right and bold

Markup:
<dl class="dl--label-value">
  <dt>List item 1</dt>
  <dd>List item 1 description</dd>
  <dt>List item 2</dt>
  <dd>List item 2 description</dd>
  <dt>List item 3</dt>
  <dd>List item 3 description</dd>
</dl>

Styleguide Lists.Definiton
*/

.dl--label-value {
  margin-bottom: 1em;
  overflow: hidden;
  dt, dd {
    float: left;
    margin-left: 0;
    margin-bottom: 0.25em;
    width: 50%;
  }
  dd {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.31579;
    text-align: right;
  }
}

/*
Action

An action list `.action-list` with each element having a top border

Markup:
<ul class="action-list">
  <li>
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
  <li>
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
  <li>
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
</ul>

Styleguide Lists.Action
*/

.action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
  li {
    border-top: 1px solid $border-colour;
    padding: 0.5em 0;
    margin: 0;
    overflow: hidden;
    &:first-child {
      border-top: 1px solid $border-colour;
    }
  }
}

/*
Grouped Action

An action list that is grouped with each element having a top border and reduced margin between the elements content

Markup:
<ul class="list-noborder action-list">
  <li class="action-list__grouped">
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
  <li class="action-list__grouped">
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
  <li class="action-list__grouped">
    <p>First paragraph<p>
    <p>Second paragraph</p>
  </li>
</ul>

Styleguide Lists.Grouped Action
*/

.action-list__grouped {
  border-top: none;
  p {
    margin: 0.4em 0;
    padding: 0;
  }
}

.list-noborder {
  li {
    border-top: 0;
    &:first-child {
      border-top: 0;
    }
  }
}

/*
Two Column

A list that has two columns

Markup:
<div class="two-col-list">
  <div class="two-col-list__col two-col-list__col--left">
    <ul class="{{modifier_class}}">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
  <div class="two-col-list__col two-col-list__col--right">
    <ul class="{{modifier_class}}">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
</div>

.two-col-list--padded - A column with bottom padding

Styleguide Lists.Two Column
*/

.two-col-list {

  .two-col-list__col {
    width: auto;
    float: none;
  }

  ul {
    margin: 0;
    li {
      margin: 0.7em 0;
      @include core-16;
    }
    &.two-col-list--padded {
      margin-bottom: 30px;
    }
  }

  @include media(tablet) {
    display: inline-block;

    .two-col-list__col {
      width: 48%;
    }
    .two-col-list__col--left {
      float: left;
    }
    .two-col-list__col--right {
      float: right;
    }

  }

}

/*
Three Column

A list that has three columns

Markup:
<div class="three-col-list">
  <div class="three-col-list__col">
    <ul class="{{modifier_class}}">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
  <div class="three-col-list__col">
    <ul class="{{modifier_class}}">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
  <div class="three-col-list__col three-col-list__col--right">
    <ul class="{{modifier_class}}">
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
  </div>
</div>

Styleguide Lists.Three Column
*/

.three-col-list {
  margin: 20px 0 0 0;

  .three-col-list__col {
    width: auto;
    float: none;
  }

  ul {
    margin: 0;
    li {
      margin: 0.7em 0;
      @include core-16;
    }
  }

  @include media(tablet) {
    display: inline-block;

    .three-col-list__col {
      width: 29%;
      margin-right: 6.5%;
      float: left;
    }
    .three-col-list__col--right {
      margin-right: 0;
    }
  }
}

/*
Link

For creating a list of links where the markup may not be list items

Markup:
<div class="link-list">
  <a class="link-list__item" href="#">Item 1</a>
  <a class="link-list__item" href="#">Item 2</a>
  <a class="link-list__item" href="#">Item 3</a>
</div>

Styleguide Lists.Link
*/

.link-list {
  display: inline-block;
  margin-bottom: $gutter-half;
}

.link-list__item {
  display: block;
  margin-bottom: $gutter-half;
}
