table {
  margin-bottom: 30px;

  td, th {
    &.right-aligned {
      text-align: right;
    }
  }

  p {
    @include core-16;
  }

  td p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  caption,
  .highlight td {
    font-weight: 700;
  }

  details {
    margin: 0;
  }
}

//TODO refactor out when messages used by yta/sa designs are finalised
.table--borderless {
  td, th {
    border: none;
    padding: 0.5em 0;
  }

  th {
    border-bottom: 1px solid $grey-6;
  }
}

.table-cell--light {
  background-color: $highlight-colour;
}

.table--top-border {
  border-top: 1px solid $border-colour;
}

.table-cell--padded {
  padding: 20px 12px 20px 12px;
}

.table-cell--indented {
  padding-left: 33px;
}

//TODO refactor out when messages used by yta/sa designs are finalised
.table__row--bold {
  td, th {
    font-weight: 700;
  }

  a {
    color: inherit;
  }
}

.table--col-one-third {
  width: 38%;
}

.marker-column {
  padding: 0;
  vertical-align: middle;
}

.marker-column__marker {
  background-color: $red;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -99999px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.table--light-header {
  border-bottom: 2px solid $light-grey;

  thead {
    border-bottom: 3px solid $govuk-blue;
  }

  th {
    color: $grey-1;
    font-weight: 400;
  }
}

.table__header--highlight {
    border-bottom: em(2) solid $govuk-blue-colour;
}

.table--heavy-footer{
  border-bottom: 3px solid $grey-6;
}

.controlpanel {
  margin-bottom: em(30);

  .js-datatable-wrapper & {
    float: left;
  }
}
