p {
  @include core-19();
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-position: inside;
}

h2, h3, h4 {
  font-weight: 400;
}

h1 {
  @include bold-48;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

h2 {
  @include bold-24;
  margin-top: 0.5em!important; //remove importance when govuk_frontend_static is killed
  margin-bottom: 0.25em;
}

h3 {
  @include bold-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.h1-heading {
  @extend h1;
}
.h2-heading {
  @extend h2;
}
.h3-heading {
  @extend h3;
}
.h4-heading {
  @extend h4;
}

.heading-36 {
  @include bold-36();
}
.heading-24 {
  @include bold-24();
}
.heading-24--normal {
  @include core-24();
}

.pre-heading {
  @include core-27();
  display: block;
  color: #6f777b;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.faded-text {
  // TODO Use correct color variable from govuk elements
  color: #6f777b;
}

.faded-text--small {
  @extend .faded-text;
  font-size: 16px;
}

small {
  @include core-16;
}

.link-style {
  @extend a;
  cursor: pointer;
  text-decoration: underline;
}

.button--link-style {
  border: none;
  background: none;
  box-shadow: none;
  @extend .link-style;

  &:hover, &:focus, &:active {
    background: none;
  }
}

.indent {
  @include core-16();
  border-left: 10px solid $grey-8;
  display: block;
  margin: 0.5em 0 1em;
  overflow: hidden;
  padding: 0.25em 0.5em;
}

.flag {
  display: inline-block;
  color: $white;
  padding: 7px 0.5em 5px;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
  @include ie-lte(7) {
    zoom: 1;
  }

  &.flag--soon {
    background-color: $grey-1;
  }
  &.flag--urgent {
    background-color: $red;
  }
}

.highlight-block--red {
  @extend .flag;
  background-color: $red;
}

