// Why are typography-related styles living here? Looks like this file has become a dumping ground
// TODO: Move non-typography related styles to relevant SCSS files

p {
  @include core-19();

  .content__body & {
    margin: 0.75em 0;
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-position: inside;
}

h2, h3, h4 {
  font-weight: 400;
}

h1 {
  @include bold-36;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

h2 {
  @include bold-24;
  margin-top: 0.5em!important; //remove importance when govuk_frontend_static is killed
  margin-bottom: 0.25em;
}

h3 {
  @include bold-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.h1-heading {
  @extend h1;
}
.h2-heading {
  @extend h2;
}
.h3-heading {
  @extend h3;
}
.h4-heading {
  @extend h4;
}

.heading-48 {
  @include bold-48();
  margin: em(10) 0 em(10) 0;
}
.heading-36 {
  @include bold-36();
}
.heading-24 {
  @include bold-24();
}
.heading-24--normal {
  @include core-24();
}

.pre-heading {
  @include core-27();
  display: block;
  color: #6f777b;
  margin-bottom: 0.5em;
}

.faded-text {
  // TODO Use correct color variable from govuk elements
  color: #6f777b;
}

.faded-text--small {
  @extend .faded-text;
  font-size: 16px;
}

small {
  @include core-16;
}

.link-style {
  @extend a;
  cursor: pointer;
  text-decoration: underline;
}

.button--link-style {
  border: none;
  background: none;
  box-shadow: none;
  @extend .link-style;

  &:hover, &:focus, &:active {
    background: none;
  }
}

.print-link {
  background: transparent no-repeat 0 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==');
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}

.indent {
  @include core-16();
  border-left: 10px solid $grey-8;
  display: block;
  margin: 0.5em 0 1em;
  overflow: hidden;
  padding: 0.25em 0.5em;
}

/* indent an element but do not provide the default left border */
.indent--no-border {
  border: none;
}

/* reset an indented element to the base font of 19px */
.indent--font-reset {
  @include core-19;
}

/* indent an element to align with details tag content link (after the expand/collapse arrow) */
.indent--align-details {
  margin-left: 0.75em;
}

.indent-warning {
  background: transparent no-repeat 0 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABZklEQVR4Aa3WsWoTUBTG8V9v4yQElywRAlYzJVCQdMrgmKVDce3m3mfI0ofoY7QQfAOngmQIOGgzOGRpQYhLUynHZjb3JtL7/+8f53DhfmfPZlqGjvR1tTUtLXw3c+2LWzsycG4qNjp1bmArHWM3ouiNsY4CIxOxkxMjGU7NxM7OnG4OmYv/cv5v0KgwSWmiEdAAHWd6NvLeHsJXG+g5881PgLHI+RBrHkLOMcCg9MS/Y82y9PwDEk4cyHIPVrIcOCFpOVZgtS2GY61k6PCZMYeGyRFsW+pekaOkzzOnoZ90K8R0k3aFpdpJs8I0zWRZIWaZLCosteBKlNyPF0/uh5JXyUyRR3+efFRk1nCtyBufrFy4U+CalqnI+Tp+xZof8TLknGoltyayfPQKvPVBlonbhEtzGe4A8kvNXW79/RrxOdZc7PD70cn301704l2przoVm6FCT1VozQodXuuiqH/fVLq2/gLNMwwtCpJpLgAAAABJRU5ErkJggg==');
  padding-left: 45px;
}

.flag {
  display: inline-block;
  color: $white;
  padding: 7px 0.5em 5px;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
  @include ie-lte(7) {
    zoom: 1;
  }

  &.flag--soon {
    background-color: $grey-1;
  }
  &.flag--urgent {
    background-color: $red;
  }
  &.flag--on-left-side {
    margin-right:6px;
  }
  &.flag--on-right-side {
    margin-left:6px;
  }
}

.highlight-block--red {
  @extend .flag;
  background-color: $red;
}

.heading--underlined {
  border-bottom: solid 5px $govuk-blue;
}

details {
  margin: 15px 0;

  .summary {
    text-decoration: underline;
  }
}

.font-xxsmall {
  @include core-14;
}

