/* For header styled see https://github.com/alphagov/govuk_template/blob/master/source/assets/stylesheets/_header.scss */

/* Language select - may need to be abstracted out as a separate component */

.lang-select {
  float: right;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.lang-select ul {
  padding: 0.75em 0 0.55em;
}

.lang-select li {
  display: inline-block;
  margin-left: 8px;
}

/* Logged in status */

.logged-in-status {
  padding: 10px 0 0 0;
  p {
    color: #6f777b;
    font: 16px/1.25 nta, Arial, sans-serif;
    margin: 0;
  }
}

/* HMRC banner */

.organisation-logo {
  font: 13px/16px Helvetica, Arial;
  display: inline-block;
  padding: 3px 0 3px 30px;
  background: url("../images/icons/crests/hmrc_crest_13px.png") 5px center no-repeat;
  border-left: 2px solid #009390;
  p {
    padding: 0;
    margin: 0;
  }

  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../images/icons/crests/hmrc_crest_13px_x2.png");
    background-size: auto 20px;
  }
}

.organisation-logo--stacked {
  @extend .organisation-logo;
  padding: 25px 0 0 6px;
  background-position: 5px top;
}

.organisation-logo--medium {
  @extend .organisation-logo;
  padding: 3px 0 3px 30px;
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../images/icons/crests/hmrc_crest_18px_x2.png");
    background-size: auto 20px;
    padding: 3px 0 3px 30px;

  }

  @media (min-width: 641px) {
    font: 18px/22px Helvetica, Arial;
    background: url("../images/icons/crests/hmrc_crest_18px.png") 5px center no-repeat;
    padding: 3px 0 3px 38px;
  }

  &.organisation-logo--stacked {
    @media all and (-webkit-min-device-pixel-ratio: 2) {
      padding: 25px 0 0 6px;
    }

    @media (min-width: 641px) {
      font: 18px/22px Helvetica, Arial;
      padding: 30px 0 0 6px;
      background-position: 5px top;
    }
  }
}

.hmrc-banner {
  padding: 10px 0 8px;
  border-bottom: 1px solid #bfc1c3;
  overflow: hidden;
  @media (min-width: 641px) {
    display: table;
    width: 100%;
  }

  .logged-in-status {
    float: right;
    @media (min-width: 641px) {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      padding: 0;
      float: none;
    }
  }
}

