*.DS_Store
.sass-cache/
.tmp/
*.iml
.idea

*.log
node_modules/
*_git-remotes/
dist/
logs/
asset-target/
test_results/
test_coverage/
assets/public/
target/
/design-pattern-library/
/design-system/
/component-library/
/component-library-template/
!gulpfile.js/util/component-library/
vrt-output/ci-report
vrt-output/compare
vrt-output/report
.project
