*.DS_Store
.sass-cache/
.tmp/
*.iml
.idea

*.log
node_modules/
*_git-remotes/
dist/
logs/
asset-target/
test_results/
test_coverage/
assets/public/
target/
/component-library/
design-pattern-library/
!gulpfile.js/util/component-library/
vrt-output/
backstop.json
.project
