{
  "rules": {
    "indentation": 2,
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "value-keyword-case": "lower",
    "unit-case": "lower",
    "value-no-vendor-prefix": true,
    "string-quotes": "double",
    "property-no-vendor-prefix": true
  }
}
