/* Styles for the structure of the component library */
.comp-lib {
  margin-top: 2em;
  display: table;
  width: 100%;
}
.comp-lib-sidebar {
  width: 20%;
  display: table-cell;
  vertical-align: top;
}
.comp-lib-main {
  width: 80%;
  display: table-cell;
}
.comp-lib-menu-item {
  margin-bottom: .2em;
}
.comp-lib-menu-item--indented {
  list-style: disc;
  list-style-position: inside;
  font-size: .9em;
}
.comp-lib-menu-item--highlighted {
  font-weight: bold;
}
.comp-lib-menu-link {
  color: #000;
  text-decoration: none;
}
.comp-lib-menu-link:hover {
  text-decoration: underline;
}
.comp-lib-menu-link:link,
.comp-lib-menu-link:visited,
.comp-lib-menu-link:active {
  color: #000;
}
.comp-lib-description {
  line-height: 1.5;
}
.comp-lib-description p {
  line-height: 1.5;
}
.comp-lib-description--experimental {
  border-left: 4px solid #af1324;
  background-color: #f7e7e9;
  padding: 1em;
}
.comp-lib-description--deprecated {}
.comp-lib-pre {
  padding-right: 0 !important;
  padding-left: 0 !important;
  font-size: .9em;
  border: none;
}
.comp-lib-code {
  padding-right: 0 !important;
  padding-left: 0 !important;
  border: none;
  font-size: .9em;
}
.comp-lib-pattern-component {
  border: 1px solid #f8f8f8;
  border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: .4em;
  overflow: hidden;
}
.comp-lib-pattern-example {
  margin-bottom: 3em;
}
.comp-lib-pattern-example__description {
  margin-bottom: .4em;
}
.comp-lib-pattern-component .grid-layout__column {
  background-color: #dee0e2;
  padding: 1em;
  outline: 1px solid #fff;
}
.comp-lib-pattern-component .grid-layout {
  font-size: .8em;
}
.comp-lib-pattern-example__description code,
.comp-lib-pattern-markdown code {
  border: none !important;
  font: inherit;
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
}
.comp-lib-pattern-markdown blockquote {
  margin-left: .4em;
  padding-left: .6em;
  border-left: 4px solid #dee0e2;
}
.comp-lib-pattern-markdown ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding-left: 1.2em;
  margin-bottom: 2em;
}
.comp-lib-pattern-markdown p {
  margin-bottom: 1.6em;
}
.comp-lib-pattern-markdown h1 {
  padding-top: 1.6em;
}
.comp-lib-pattern-markdown h2,
.comp-lib-pattern-markdown h3,
.comp-lib-pattern-markdown h4 {
  margin-bottom: 1em;
  padding-top: .8em;
}
