$path: '..';

$tablet-breakpoint: 768px !default;
$desktop-breakpoint: 992px !default;

@import "design-system/utilities/fonts";
@import "design-system/utilities/printable";

@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/helpers";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/url-helpers";

@import "govuk-elements-sass/public/sass/elements/helpers";
@import "govuk-elements-sass/public/sass/elements/layout";

@import "design-system/palette/syntax-highlighting";

@import "design-system/modules/app-pane";
@import "design-system/modules/govuk-logo";
@import "design-system/modules/header";
@import "design-system/modules/hero";
@import "design-system/modules/masthead";
@import "design-system/modules/sub-nav";
@import "design-system/modules/skip-link";
@import "design-system/modules/toc";
@import "design-system/modules/technical-documentation";
@import "design-system/modules/footer";

@import "design-system/custom";

/* Scaled component examples */
.scale-wrapper {
  overflow: hidden;
}

.scale {
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 200%;
  box-sizing: border-box;
}
