// Box with turquoise background and white text
// Used for transaction end pages, and Bank Holidays
.govuk-box-highlight {
  margin: 1em 0;
  padding: 2em 1em;
  color: $white;
  background: $turquoise;
  text-align: center;
}

// overwrite article h1 colour set in the file below
// https://github.com/hmrc/assets-frontend/blob/3610585baeb96bb4ad9d73d20cfb73864e095b50/assets/govuk_frontend_static/_template-text.scss#L58-L63
.govuk-box-highlight h1 {
	color: $white;
}

// overwrite content__body p font size set in file below
// https://github.com/hmrc/assets-frontend/blob/3610585baeb96bb4ad9d73d20cfb73864e095b50/assets/scss/layouts/_page.scss#L48-L51
.govuk-box-highlight p.font-large {
	@include core-36;
}

/*

Use of .govuk-box-highlight

For reference see:
https://govuk-prototype-kit.herokuapp.com/docs/examples/confirmation-page
and
http://govuk-elements.herokuapp.com/colour/#examples


The above styles and overwrites means you can simplify the markup to the following:

<div class="govuk-box-highlight">
  <h1 class="heading-xlarge">Application complete</h1>
  <p class="font-large">
    Your reference number is
    <br>
    <strong class="bold">HDJ2123F</strong>
  </p>
</div>

*/