$path: "../images/";

// Tools
@import "frontend-toolkit";
@import "govuk-mixins";
@import "mixins";

// Reset
// @import "base/normalize";

// HMRC Specific
@import "base/colours";
@import "base/typography/fonts";
@import "base/typography/text";
@import "base/typography/headings";

@import "layouts/page";
@import "layouts/gutters";
@import "layouts/section";

@import "base/grid";
@import "base/buttons";
@import "base/images";
@import "base/lists";
@import "base/table";
@import "base/helpers";
@import "base/links";
@import "base/icons";
@import "base/details";

// Form
@import "base/form/errors";
@import "base/form/hint";
@import "base/form/text-input";
@import "base/form/select-input";
@import "base/form/radio-input";
@import "base/form/textarea";
@import "base/form/label";
@import "base/form/form";

// Components
@import "components/header";
@import "components/attorney-banner";
@import "components/notice-banner";
@import "components/footer";
@import "components/phase-alpha";
@import "components/phase-beta";
@import "components/service-info";
@import "components/panel";
@import "components/boxes";
@import "components/template-page-header";
@import "components/navigation";
@import "components/side-navigation";
@import "components/dividers";
@import "components/reminders";
@import "components/datatables";
@import "components/organisation-logo";
@import "components/report-error";
@import "components/help-contents";
@import "components/template-sidebar";
@import "components/notifications";
@import "components/tabular-data";
@import "components/code";
@import "components/hero";
@import "components/breadcrumb";
@import "components/accordion";
@import "components/youtube-player";
@import "components/auto-complete";
@import "components/external-markup";
@import "components/header/header";
@import "components/add-remove";
@import "components/toggle-button";
@import "components/tabs";
@import "components/modal-dialog";
@import "components/app-info";
@import "components/waiting";
@import "components/flag";
@import "components/indent";

// Page Specific Styles
@import "pages/epaye-statements";
@import "pages/messages";
@import "pages/payments";
@import "pages/business-tax-home";
@import "pages/risk-triage";
@import "pages/email-notifications";
@import "pages/agent-dashboard";

// Overrides
@import "shame";

// Unknown CSS
@import "unknown";

// GOV.UK Dependencies
@import "elements";

// GOV.UK Elements overrides
@import "elmenets-shame";

// HMRC Design System
@import "components/account-menu/account-menu";
@import "components/character-counter/character-counter";
@import "components/check-your-answers/check-your-answers";
@import "components/page-heading/page-heading";
