$path: "../images/icons/";

// govuk_frontend_toolkit
@import "../govuk_frontend_toolkit/stylesheets/_colours";
@import "../govuk_frontend_toolkit/stylesheets/_conditionals";
@import "../govuk_frontend_toolkit/stylesheets/_css3";
@import "../govuk_frontend_toolkit/stylesheets/_device-pixels";
@import "../govuk_frontend_toolkit/stylesheets/_typography";
@import "../govuk_frontend_toolkit/stylesheets/design-patterns/_alpha-beta";
@import "../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons";

// Tools
@import "mixins";

// Reset
@import "base/normalize";

//Static Specific
@import "../govuk_frontend_static/colours";
@import "../govuk_frontend_static/conditionals2";
@import "../govuk_frontend_static/basic";
@import "../govuk_frontend_static/template-text";

// govuk_elements
@import "../govuk_elements/public/sass/service-design-manual/helpers/_breadcrumbs";

// HMRC Specific
@import "base/colours";
@import "base/fonts";
@import "base/typography";
@import "base/layouts";
@import "base/grid";
@import "base/buttons";
@import "base/lists";
@import "base/table";
@import "base/helpers";
@import "base/links";
@import "base/icons";
@import "base/details";

// Form
@import "base/form/errors";
@import "base/form/hint";
@import "base/form/text-input";
@import "base/form/select-input";
@import "base/form/radio-input";
@import "base/form/textarea";
@import "base/form/label";
@import "base/form/form";

// Modules
@import "components/header";
@import "components/attorney-banner";
@import "components/notice-banner";
@import "modules/footer";
@import "components/phase-alpha";
@import "components/phase-beta";
@import "modules/template-service-info";
@import "modules/dashboard";
@import "components/panel";
@import "modules/template-page-header";
@import "modules/navigation";
@import "components/side-navigation";
@import "modules/dividers";
@import "modules/reminders";
@import "modules/datatables";
@import "modules/organisation-logo";
@import "modules/template-footer";
@import "modules/report-error";
@import "modules/help-contents";
@import "modules/template-sidebar";
@import "modules/notifications";
@import "modules/epaye-statements";
@import "modules/tabular-data";
@import "components/code";
@import "modules/hero";
@import "components/breadcrumb";
@import "modules/accordion";
@import "modules/youtube-player";
@import "components/auto-complete";
@import "modules/toggle";
@import "components/external-markup";
@import "components/character-counter";
@import "modules/add-remove";
@import "components/toggle-button";
@import "modules/tabs";
@import "components/modal-dialog";

// Page Specific Styles
@import "pages/messages";
@import "pages/payments";
@import "pages/business-tax-home";
@import "pages/risk-triage";
@import "pages/email-notifications";

// Overrides
@import "shame";

// Unknown CSS
@import "modules/unknown";
