.heading-small {
  display: block;

  .attorneyBanner & {
    display: inline;
  }
}

/*
Heading Elements

You can also add the following `CSS` selectors to non html heading elements to provide header styling.

Markup:
<div class="h1-heading">h1 example</div>
<p class="h2-heading">h2 example</p>
<div class="h3-heading">h3 example</div>
<p class="h4-heading">h4 example</p>

Styleguide Typography.Heading Elements
*/
h1, .h1-heading {
  @extend .heading-large;
}

h2, .h2-heading {
  @extend .heading-medium;
}

h3, .h3-heading,
h4, .h4-heading {
  @extend .heading-small;
}

input,
textarea {
  @extend .form-control;
}

// 2. Grid units take 100% width, unless a .grid-width class is applied
.grid {
  float: left;
  width: 100%;
}

// Grid widths
.grid-1-4 {
  @include media(tablet) {
    width: 25%;
  }
}

.grid-1-3 {
  @include media(tablet) {
    width: 33.333333333%;
  }
}

.grid-1-2 {
  @include media(tablet) {
    width: 50%;
  }
}

.grid-2-3 {
  @include media(tablet) {
    width: 66.666666667%;
  }
}

.grid-3-4 {
  @include media(tablet) {
    width: 75%;
  }
}

// Grid 'inner-block' sets spacing between grid cells
.grid .inner-block {
  padding: 0;
  @include media(tablet) {
    margin: 0 $gutter-half;
  }
}

.inner-block {
  margin-left: 15px;
  margin-right: 15px;
}

.button.button--link {
  width: auto;

  @include media(mobile) {
    margin-top: 0;
  }
}

a,
.button--link-style {
  color: $link-colour;

  &:hover,
  &:focus,
  &:active {
    color: $link-visited-colour;
  }
}

pre,
code {
  @extend .code;
}

.dataTable {
  margin-bottom: em(30);
}
