/*------------------------------------*\

    SHAME ON US!!!!!
    TODO: refactor styles back to SASS

\*------------------------------------*/


/*. CSS reset/overrides for block-label when using new radio buttons
    and checkboxes styles wrapped in a .multiple-choice div */
.multiple-choice {
  .block-label,
  .block-label--stacked {
    position: static;
    background: transparent;
    border: 0;
  }
}

//article h1 {
//  @include bold-36();
//  margin-top: 0;
//}

article ul {
  list-style: none;
  margin: 0.75em 0;
  padding: 0;
}

article ol {
  margin: 0.75em 0;
}

li {
  list-style-position: outside;
}

article li {
  padding-left: 0;
}

.service-info__organisation-logo {
  line-height: 1.15em;
}

a.header__menu__proposition-name, a:visited.header__menu__proposition-name {
  color: #fff;
}

.l-bodyRightColumn p, .l-bodyRightColumn li {
  width: 15em;
}

.l-bodyRightColumn h2 {
  width: 10em;
}

abbr[title] {
  border-bottom: 0px;
}

.email {
  font-family: Helvetica, Arial, sans-serif;
}

div.email {
  margin: 2em 0em;
}

.list--numbered li {
  display: list-item;
  overflow: hidden;
}

.inline-form .form-field {
  line-height: 1.3em;
  margin: 0.2em 0 0 0;
}

.inline-form .form-field input[type="text"] {
  margin: 0 10px;
}

.inline-form .form-field--inline input[type="text"] {
  margin: 0 10px;
}

.service-info__help a {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
}

.service-info__help {
  color: $black;
}

.explore--inline {
  border-top: 0;
  margin: 0;
}

/*------------------------------------*\
    form validations
\*------------------------------------*/

// THIS IS DEPRECATED PLEASE USE THE WORK IN base/form/errors.scss
.form-field.error, .form-field-group.error {
  @include error-box(3px);
  margin: 0 -1em 0.5em -1em;
}

// THIS IS DEPRECATED PLEASE USE THE WORK IN base/form/errors.scss
.client-error-notification {
  color: $error-color;
  display: none;
  text-transform: none;
  padding-bottom: 0.5em;
  .error & {
    display: block;
    float: none;
    @include core-16;
  }

}

/* Add grey footer when page is too short */

html {
  background: $grey-8;
}

body {
  background: $white;
}

/* Headings with `p` added due to the specificity of `.content__body p`.
 * To be removed once specificity lowered. */
p.heading-48 {
  @extend .heading-xlarge;
}

p.heading-24 {
  @extend .heading-medium;
}
