$is-ie: true;
$ie-version: 7;

/*------------------------------------*\
  IE Version
\*------------------------------------*/
@import "application-base";

/*TODO: cleanup ie styles: currently just pulling in all styles so what's the point? */
.report-error {
  display: block;
  zoom: 1;
}
