<nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
  <a href="#" class="account-menu__link account-menu__link--home account-menu__link--active">
    <span class="account-icon account-icon--home">Account home</span>
  </a>

  <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false">Account menu</a>

  <ul class="account-menu__main js-hidden">
    <li class="account-menu__link--back hidden" aria-hidden="true">
      <a href="#" class="account-menu__link">Back</a>
    </li>

    <!-- {{#isGovernmentGateway}} -->
    <li>
      <a href="#" class="account-menu__link">Messages
        <!-- {{#unreadMessageCount}} -->
        <span class="badge" aria-label="Number of unread messages">2</span>
        <!-- {{/unreadMessageCount}} -->
      </a>
    </li>
    <!-- {{/isGovernmentGateway}} -->

    <li>
      <a href="#" class="account-menu__link">Check progress</a>
    </li>

    <li>
      <a href="#subnav-your-account" id="account-menu__main-2" class="account-menu__link account-icon account-menu__link--more" aria-haspopup="true" aria-owns="subnav-your-account">
        Your account
      </a>

      <div class="subnav js-hidden" id="subnav-your-account" role="navigation" aria-labelledby="account-menu__main-2" aria-label="Your account">
        <!-- {{#isGovernmentGateway}} -->
        <!-- {{#isSa}} -->
        <div class="column-one-third subnav__section">
          <p class="subnav__section__heading">Business taxes</p>

          <div>
            <a href="#">View your business tax account</a>
          </div>
        </div>
        <!-- {{/isSa}} -->
        <!-- {{/isGovernmentGateway}} -->

        <!-- {{#isVerify}} -->
        <div class="column-one-third subnav__section">
          <p class="subnav__section__heading">Security settings</p>

          <div>
            <a href="#">Manage your trusted helpers</a>
          </div>
        </div>
        <!-- {{/isVerify}} -->

        <!--
        <div class="{{^isGovernmentGateway}}{{^isVerify}} column-half {{/isVerify}}{{/isGovernmentGateway}}
        {{#isGovernmentGateway}}{{^isSa}} column-half {{/isSa}}{{/isGovernmentGateway}}
        {{#isGovernmentGateway}}{{#isSa}} column-one-third {{/isSa}}{{/isGovernmentGateway}}
        {{#isVerify}} column-one-third {{/isVerify}} subnav__section">
        -->
        <div class="subnav__section">
          <p class="subnav__section__heading">Paperless settings</p>

          <div>
            <a href="#">Manage your paperless settings</a>
          </div>
        </div>

      <!--
      <div class="{{^isGovernmentGateway}}{{^isVerify}} column-half {{/isVerify}}{{/isGovernmentGateway}}
      {{#isGovernmentGateway}}{{^isSa}} column-half {{/isSa}}{{/isGovernmentGateway}}
      {{#isGovernmentGateway}}{{#isSa}} column-one-third {{/isSa}}{{/isGovernmentGateway}}
      {{#isVerify}} column-one-third {{/isVerify}} subnav__section">
      -->
        <div class="subnav__section">
          <p class="subnav__section__heading">
          <!-- {{#isWelsh}}Manylion personol{{/isWelsh}} -->

          <!-- {{^isWelsh}} -->
          Personal details
          <!-- {{/isWelsh}} -->
          </p>

          <div>
            <a href="#">Manage your personal details</a>
          </div>
        </div>
      </div>
    </li>

    <!-- {{#signOutUrl}} -->
    <li>
      <a href="#" class="account-menu__link">Sign out</a>
    </li>
    <!-- {{/signOutUrl}} -->
  </ul>
</nav>
