/*
Basic Page

The basic page layout consists of a 2/3rds left column on wider viewports that
collapses to full width on narrow viewports.

It also includes a `.centered-content` block for the service info banner
for the BETA banner and the (oprional) HMRC branding.

**Notes:**
* This is provided by play-ui's [main_content](https://github.com/hmrc/play-ui/blob/master/src/main/twirl/uk/gov/hmrc/play/views/layouts/main_content.scala.html#L26-L28) template

Markup:
<main id="wrapper" role="main">
  <div class="centered-content">
    Area for the beta banner and HMRC branding
  </div>
  <div id="content">
    <article class="content__body">
      <p>Page content</p>
    </article>
  </div>
</main>

Discussion: https://hmrcdigital.hackpad.com/Layouts-H4b5EgRDPYL

Styleguide Layout.Basic Page
*/

body {
  counter-reset: section;
}

#wrapper {
  text-align: left;
}

// #content {
//   @include page-slice(32);
// }

.centered-content {
  @include page-slice();
}

.content__body {

  p {
    @include core-19();
    margin: em(12) 0;
  }

  .full-width & {
    float: none;
    width: 100%;
  }

  @include media(tablet) {
    float: left;
    width: 61.666667%;
  }

  .messages-box,
  .service-info__related-subsection {
    display: none;
  }

  @include media(mobile) {

    .messages-box,
    .service-info__related-subsection {
      display: block;
    }
  }
}

/*
Full width

Use the `.full-width` class when you want the page content to use the full width of the page

Markup:
<main id="wrapper" role="main">
  <div id="content" class="full-width">
    <article class="content__body">
      <div>
        <p>Page content</p>
      </div>
    </article>
  </div>
</main>

Styleguide Layout.Full width
*/

.full-width {
  width: $full-width;
}

/*
Half column container component

Deprecated: Half column component. This work has come in from TCS and is using the grid work found in our old
[govuk_elements](https://github.com/hmrc/assets-frontend/blob/0551d318fe24a4ddb1fca4f45ff64a6ece265b11/assets/govuk_elements/public/sass/elements/_layout.scss#L139)
dependency. It could use `.diver--bottom` and new `.subsection--large` styles considering the styles shown below.

Markup:
<div class="column-half-container">
    <div class="grid-wrapper row-border">
        <div class="grid grid-1-2">
            <div>Some content</div>
        </div>
        <div class="grid grid-1-2">
            <div>Some content</a>
        </div>
    </div>
</div>
*/

.column-half-container {
  .row-border {
    border-bottom: 1px solid $light-grey;
    margin: 0;
    padding: em(14.25) 0 em(10.68) 0;
  }
}
