/*
Attorney Banner

The Attorney Banner adds a persistent floating banner to display additional login information.

Markup:
<div class="grid-wrapper attorneyContainer">
    <div class="attorneyBanner grid {{modifier_class}}">
        <div class="grid grid-2-3">
            <div class="inner-block">
                You're using this service for
                <span class="heading-small">John Smith</span>.
            </div>
        </div>
        <div class="grid grid-1-3">
            <div class="inner-block">
                <a href="" class="banner-links">Return to your account</a>
            </div>
        </div>
    </div>
</div>

.attorneyBanner--accepted      - if agent has accepted the client request
.attorneyBanner--requested     - when client has requested an agent, but the agent hasn't accepted the client request yet. its pending
.attorneyBanner--rejected      - when an agent rejects a client request to act on his/her behalf

Styleguide Attorney Banner
*/


.attorneyBanner {
  z-index:999;
  border-left: 3px solid #005ea5;
  background-color: #def;
  margin: 0;
  padding: 0.6em 0em 0.5em 0em;
  max-width: 960px;
}
.grid-wrapper.attorneyContainer{
  margin:0 0 30px 0;
}
.attorneyBanner--accepted {
  border-left: 3px solid $attorney-border-left-accepted;
  background-color: $attorney-bg-accepted;
}

.attorneyBanner--requested {
  border-left: 3px solid $attorney-border-left-requested;
  background-color: $attorney-bg-requested;
}

.attorneyBanner--rejected {
  border-left: 3px solid $attorney-border-left-rejected;
  background-color: $attorney-bg-rejected;
}


//POTENTIALLY-NOT-IN-USE
.stickyBanner {
  top: 0px;
  position: fixed;
  box-sizing:border-box;
}
//POTENTIALLY-NOT-IN-USE
@media(max-width:1020px){
    .stickyBanner {
      left:0;
      right:0;
      width:auto;
      margin:0 30px;
    }
}

.banner-links {
  color: #005ea5;
  float: right;
}
@media(max-width:641px){
    //POTENTIALLY-NOT-IN-USE
    .stickyBanner {
          margin:0 15px;
        }

    .banner-links {
        float:left;
    }
}
//POTENTIALLY-NOT-IN-USE
.attorneyPara {
  padding: 20px 10px;
  font-size: 19px;
  margin: 0;
}
