/*
Auto Complete

The Auto complete is used to aid a user with a large amount of choices they may have to make.
The example shown here has country information for the `United Kingdom`, `Afghanistan`, `Sierra Leone and Wallis` and `Futuna`.

Markup:
<fieldset class="form-field-group">
  <label>
  Tell us the country where the number is registered
    <div class="suggestions-input-container">
      <input type="text"
             name="country-code-auto-complete"
             id="country-code-auto-complete"
             class="suggestions-input
                    form-control
                    form-control--block
                    js-choose-country-auto-complete"
             autocomplete="off"
             spellcheck="false"
             aria-autocomplete="list"
             aria-haspopup="true"
             aria-owns="suggestions-list"
             aria-activedescendant />
      <i class="suggestions-clear hidden js-suggestions-clear"></i>
      <span role="status" aria-live="polite"
            class="visuallyhidden js-suggestions-status-message"></span>
      <div id="suggestions-list" class="suggestions js-suggestions"></div>
    </div>
  </label>
</fieldset>

Example Data:
var countries = [{"title": "United Kingdom","value": "44"},{"title": "Afghanistan","value": "93"},{"title": "Sierra Leone","value": "232"},{"title": "Wallis and Futuna","value": "681"}];

Discussion: https://hmrcdigital.hackpad.com/Auto-Complete-ddiy6UczVJF

Styleguide AutoComplete
*/

.suggestions {
  position: absolute;
  z-index: 1000;
  background-color: $white;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }
}

.suggestions-input-container {
  position: relative;
}

.suggestions-list {
  margin: 0;
  list-style: none;
  border: 1px solid $border-colour;
}

.suggestion {
  padding: em(8) em(10);
  margin: 0 !important; //TODO-fix overriding the article li{ ... } rule
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}

.suggestion__highlight {
  font-weight: bold;
}

.suggestion--selected {
  background-color: $light-blue;
  color: $white;
}

.suggestion--first {
  margin-top: 0;
}

.suggestion--last {
  margin-bottom: 0;
}

.suggestions-clear {
  background-image: url("../images/clear_all_button.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  right: 2%;
  z-index: 100;
  cursor: pointer;

  @include device-pixel-ratio() {
    background-image: url("../images/clear_all_button_x2.png");
    background-size: 22px 44px;
  }

  @include media(tablet) {
    top: 7px;
    right: 51%;
  }

  &:hover {
    background-position: bottom right;
  }
}

.has-suggestions {
  border-bottom: 1px solid $white;
}
