/*
Breadcrumbs

The breadcrumb nav is styled using the `.breadcrumb-nav` selector. You can also have a *slimmer* version by adding
the `.breadcrumb-nav--slim` modifier.

Markup:
    <nav class="breadcrumb-nav {{modifier_class}}">
        <ul class="breadcrumb-nav__list">
                    <li class="breadcrumb-nav__item">
                      <a href="/component-library">Home</a>
                    </li>
                    <li class="breadcrumb-nav__item
                               breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">Breadcrumbs</li>
        </ul>
    </nav>

.breadcrumb-nav--slim - A *slimmer* version of the breadcrumb with less `margin` and `padding`

Discussion: https://hmrcdigital.hackpad.com/Breadcrumbs-oEkwk3CmgNT

Styleguide Breadcrumbs
*/

.breadcrumb-nav {
  padding: em(10) 0 em(40) 0;
}

.breadcrumb-nav__item {
  @include copy-16();
  display: inline-block;
}

.breadcrumb-nav__item--trail {
  margin-left: $gutter/5;
  margin-right: $gutter/5;

  &:after {
    content: "›";
  }
}

.breadcrumb-nav--slim {
  padding-top: em(5);
  padding-bottom: em(10);

  .breadcrumb-nav__list {
    margin: 0;
  }

  .breadcrumb-nav__item {
    margin: 0;
  }
}

/*
Breadcrumbs

Deprecated: Breadcrumbs is the `play-ui` version of breadcrumbs

Markup:
<div id="global-breadcrumb" class="header-context {{modifier_class}}">
  <nav>
    <ol class="group">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li>Text</li>
    </ol>
  </nav>
</div>

.global-breadcrumb--no-border - remove border from the global breadcrumb

*/

#global-breadcrumb {
  margin: 0;
  padding-top: 0;

  &.global-breadcrumb--no-border {
    padding-bottom: 1.5em;
    border-bottom: 0;
  }

  li {
    margin-bottom: 0;
  }
}
