/*
Character Counter

A character counter for textareas.

Markup:
<div class="char-counter" data-char-counter>
  <textarea cols="40" rows="2" maxLength="250" data-char-field></textarea>
</div>

Styleguide Textarea Input.Counter
*/

.char-counter {
  position: relative;
  margin-bottom: 1.5em;
  display: block;

  [data-char-field] {
    height: 70px;
  }

  @include media(tablet) {
    display: inline-block;
  }
}

.char-counter-text {
  color: #6f777b;
  text-align: right;
}
