/*
Hero

A blue hero banner which stretches the full width of the viewport.
The hero's content sits centered to line up with other page content.
Typically used on the landing page of a service.
Provides classes for a heading and a subheading.

Markup:
<header class="hero">  
    <section class="hero__content">        
        <h1 class="hero__heading-large">Hero Heading</h1>
        <h2 class="hero__heading-small">
          Hero subheading
        </h2>
    </section>
</header>

Discussion: https://hmrcdigital.hackpad.com/Hero-SjNiDAPVSPV

Styleguide Hero
*/

.hero {
  background-color: $govuk-blue-colour;
}

.hero__content {
  @include page-slice($paddingTop: 20, $paddingBottom: 20);

  .hero__heading-large,
  .hero__heading-small {
    color: $white;
  }

  .hero__heading-large {
    margin: 0;
  }

  .hero__heading-small {
    @include core-19;
    margin: em(8) 0 em(7.6);
  }

  @include media(tablet) {
    padding-top: 35px;

    .hero__heading-large {
      @include bold-36;
    }
  }

  @include media(desktop) {
    .hero__heading-large {
      @include bold-48;
    }
  }

}


