/*
Page Navigation

A page navigation element with a previous and next link.

Markup:
<nav class="page-navigation--previous-next" role="navigation"
     aria-label="Page navigation">
  <ul>
    <li class="page-nav__item page-nav__item--previous">
      <a class="page-nav__link page-nav__link--previous"
         title="Navigate to previous part" rel="prev" href="#">
        <span class="page-nav__label">Previous</span>
        <span class="page-nav__title">Overview</span>
      </a>
    </li>
    <li class="page-nav__item page-nav__item--next">
      <a class="page-nav__link page-nav__link--next"
         title="Navigate to next part" rel="next" href="#">
        <span class="page-nav__label">Next</span>
        <span class="page-nav__title">Inheritance Tax reliefs</span>
      </a>
    </li>
  </ul>
</nav>

Discussion: https://hmrcdigital.hackpad.com/Navigation-4LoDI7lbi0m

Styleguide Navigation.Page Navigation
*/

.page-navigation--previous-next {
  display: block;
  margin: em(32, 16) 0 0 0;
  padding: em(12) 0;
  border-bottom: 1px solid $light-grey;
  @extend %contain-floats;

  @include media(tablet) {
    margin: em(64) 0 0 0;
  }
}

.page-nav__item {
  @include core-14;
  float: none;
  text-align: right;
  margin: em(5) 0;
  padding: 0;
  width: 100%;

  @include media(tablet) {
    @include core-19;
    float: left;
    width: 49%;
  }
}

.page-nav__item--previous {
  float: left;
  text-align: left;
}

.page-nav__item--next {
  float: right;
  text-align: right;
}

/*
Page

Navigation for the page. As shown this can use markup with an `ol` or `ul`.

DEPRECATED: These page navigation styles are *NO LONGER BEING USED* and will be
removed in an upcoming version.

Markup:
<nav class="page-navigation">
  <ul>
    <li><a href="#">Link Text</a></li>
    <li><a href="#">Link Text</a></li>
    <li><a href="#">Link Text</a></li>
  </ul>
</nav>
<nav class="page-navigation">
  <ol>
    <li><a href="#">Link Text</a></li>
    <li><a href="#">Link Text</a></li>
    <li><span>Link Text</span></li>
  </ol>
</nav>

Weight: 1

Styleguide Navigation.Page
*/

.page-navigation {
  @include media-down(mobile) {
    margin-top: 0;
  }

  width: 64%;
  float: left;

  ol {
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
    width: 50%;

    @include ie-lte(7) {
      width: 49%;
    }

    @include media-down(mobile) {
      float: none;
      display: block;
      width: auto;
    }
  }

  li {
    list-style: decimal;
    list-style-position: outside;
    margin-right: 0.75em;
    margin-left: 1.5em;
    clear: left;

    @include ie-lte(7) {
      list-style: none;
      margin-left: 0;
      display: list-item;
    }

    @include media-down(mobile) {
      float: none;
      margin: 0 1em 0 2.25em;
    }

    a {
      padding: 0.25em 1em 0.25em 0;
      @include core-16;

      @include ie-lte(7) {
        display: inline;
        float: left;
      }
    }

    @include media-down(mobile) {
      @include core-19($line-height: (45/19));

      span, a {
        border-top: solid 1px $grey-6;
        margin: 0 -1em 0 -2.25em;
        padding: 1em 1em 1em 2.75em;
      }
    }
  }
}
