/*
Notification banner

Markup:
<div class="js-hidden notice-banner" id="notice-banner">
  <div class="notice-banner__wrapper grid-layout">
    <div class="grid-layout__column--2-3">
      <h3 class="notice-banner__content">Please help us improve our service</h3>
      <a class="notice-banner__content" href="#">Enter our survey</a>
    </div>
    <div class="grid-layout__column--1-3 text--right">
      <a class="notice-banner__close notice-banner__content" href="#">No thanks</a>
    </div>
  </div>
</div>

Discussion: https://hmrcdigital.hackpad.com/Notification-Banner-61tbWTMiGZe

Styleguide Notification banner
*/

.notice-banner {
  width: 100%;
  background-color: #003e74;
}

.notice-banner__wrapper {
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 15px;
  @include media(tablet) {
    padding: 15px 30px;
  }
}

.notice-banner__content {
  color: $white;
  margin-top: 0;
}

// needs to be a qualified selector in this instance
a.notice-banner__content {
  color: $white;

  &:link,
  &:visited {
    color: $grey-9;
  }

  &:focus {
    color: $black;
  }

  &:hover,
  &:active {
    color: $white;
  }
}
