/*
Organisation Logo

Adds HMRC crest logo and green left hand border.

Markup:
<div class="organisation-logo {{modifier_class}}">
  <span>HM Revenue & Customs</span>
</div>

.organisation-logo-medium - larger logo and font

Discussion: https://hmrcdigital.hackpad.com/Organisation-Logo-7EqgmscZ1ia

Styleguide Organisation Logo
*/
.organisation-logo {
  font-family: Helvetica, Arial;
  font-weight: 400;
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;

  padding: 3px 0 2px 30px;
  background-image: url("../images/crests/hmrc_crest_13px.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  border-left: 2px solid $hm-revenue-customs;

  &:link,
  &:visited {
    color: $black;
  }

  a, span {
    color: $black;
  }
}

a.organisation-logo {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*
Stacked

Text appears below the logo.

Markup:
<div class="organisation-logo-stacked {{modifier_class}}">
  <span>HM Revenue & Customs</span>
</div>

.organisation-logo-stacked-medium - Larger logo and font

Styleguide Organisation Logo.Stacked
*/
.organisation-logo-stacked {
  @extend .organisation-logo;

  padding: 20px 0 0 6px;
  background-image: url("../images/crests/hmrc_crest_13px.png");
  background-position: 5px top;
}

.organisation-logo-stacked span {
  display: block;
  position: relative;
  top: 3px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo,
  .organisation-logo-stacked {
    background-image: url("../images/crests/hmrc_crest_13px_x2.png");
    background-size: auto 20px;
  }
}

.organisation-logo-medium {
  @include media(tablet) {
    font-size: 18px;
    line-height: 22px;
    padding: 3px 0 2px 38px;
    background-image: url("../images/crests/hmrc_crest_18px.png");
    background-position: 6px center;
    border-left: 2px solid $hm-revenue-customs;
    white-space: nowrap;
  }
}

@include ie(8) {
  .organisation-logo-medium {
    background-image: url("../images/crests/hmrc_crest_13px.png");
  }
}

.organisation-logo-stacked-medium {
  @extend .organisation-logo-medium;
  @include media(tablet) {
    padding: 25px 0 0 7px;
    background-image: url("../images/crests/hmrc_crest_18px.png");
    background-position: 6px top;
  }
}

@include media(tablet) {
  .organisation-logo-stacked-medium span {
    display: block;
    position: relative;
    top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-medium,
    .organisation-logo-stacked-medium {
      background-image: url("../images/crests/hmrc_crest_18px_x2.png");
      background-size: auto 26px;
    }
  }
}
