/*
Panel

A panel is used to highlight content by indenting it.

Markup:
<div class="panel-indent {{modifier_class}}">
  <h2>Heading level 2</h2>
  <p>Example paragraph text</p>
</div>

.panel-indent--gutter - Panel indent with gutter
.panel-indent--info   - An information panel indent

Discussion: https://hmrcdigital.hackpad.com/Panel-xxixJwqb8vR

Styleguide Panel
*/

// Indented panels with a grey left hand border
.panel-indent {
  margin: 0;
  @extend %contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;

  p:first-child {
    margin-top: 0;
  }
}

.panel-indent--gutter {
  margin: ($gutter $gutter-half $gutter*1.5 0);
}

.panel-indent--info {
  background-color: $light-blue-25;
  margin: $gutter-half 0 $gutter-two-thirds 0;
  padding: $gutter-half $gutter-half $gutter-two-thirds $gutter-half;
  border-left: em(4) solid $govuk-blue-colour;
}

// Remove bottom margin on last paragraph
.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

/*
Form

A panel that includes a form has specific rules applied.

Markup:
<div class="panel-indent">
  <legend>Please enter your fullname</legend>
  <fieldset class="form-group">
    <label for="firstname">
      Firstname
      <input id="firstname" type="text" class="form-control" />
    </label>
    <label for="surname">
      Surname
      <input id="surname" type="text" class="form-control" />
    </label>
  </fieldset>
</div>

Styleguide Panel.Form
*/

.panel-indent legend {
  margin-top: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}

.panel-indent .form-control {
  width: 92%;
}
