/*
Service Info

Service Info provides an area to provide details about the service.

Markup:
<div class="service-info">
  <div class="logo">
    <span class="organisation-logo organisation-logo-medium">
    HM Revenue &amp; Customs
    </span>
  </div>
</div>

Discussion: https://hmrcdigital.hackpad.com/Service-Info-ynAsbukxEWj

Styleguide Service Info
*/

/*
Help

Service Info with `.service-info__help` provides a section to provide help information.

Markup:
<div class="service-info">
  <h2>Service Information</h2>
  <div class="service-info__help">
    <p>You last signed in: Tuesday, 31 May 2016 at 2:44pm
    <br><a href="#">Sign out</a>
    </p>
  </div>
</div>

Styleguide Service Info.With Help
*/

.service-info {
  border-top: 10px solid $mainstream-brand;
  padding-bottom: 0.5em;
  @extend %contain-floats;

  .inner {
    max-width: 990px;
    margin: 0 auto;
  }

  .logo,
  .last-login,
  .service-info__agent-name {
    margin-top: em(15);
  }

  @include media(tablet) {
    .logo {
      float: left;
      width: 33.33%;
      margin-bottom: em(10);
    }
  }

  .service-info__help {
    margin-top: 10px;

    @include media(tablet) {
      float: left;
      width: 66.66%;
    }

    p {
      @include core-16(20/16);
      color: $secondary-text-colour;
      margin: 1em 0;

      @include media(tablet) {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}


/*
Agent Name

Service Info with `.service-info__agent-name` provides highlighting for `.acting-agent`

Markup:
<div class="service-info">
  <div class="logo">
    <span class="organisation-logo organisation-logo-medium">
    HM Revenue &amp; Customs
    </span>
  </div>
  <div class="service-info__agent-name">
    <p class="agent-name">
      <span>Agent Name</span>
      <span class="acting-agent"><a href="#">Account link</a></span>
    </p>
  </div>
</div>

Styleguide Service Info.Agent Name
*/

/*
Delegate

Service Info with `.service-info__agent-name` provides highlighting for `.acting-agent`
The CSS selector `.delegate-info` provides highlighting for `.client-name`

Markup:
<div class="service-info">
  <div class="logo">
    <span class="organisation-logo organisation-logo-medium">
    HM Revenue &amp; Customs
    </span>
  </div>
  <div class="service-info__agent-name">
    <div class="delegate-info">
      <span class="acting-agent">Agent Name</span>
      <span class="client-name">Client Name</span>
    </div>
  </div>
</div>

Styleguide Service Info.Delegate
*/

.service-info__agent-name {
  .agent-name,
  .delegate-info {
    @include bold-19();
    float: right;

    .client-name {
      color: $grey-0;
      @include bold-19();
    }
  }

  .acting-agent {
    color: $grey-1;
    display: block;
    @include core-16();
  }

  .client-name {
    color: $black;
    display: block;
  }
}


/*
Logged In

Experimental: This example shows a service info element with login details. This component needs a refactor to combine
the multiple classes into a component. It is not recommended to use it in its current state.

Markup:
<div class="service-info ">
  <div class="logo">
    <span class="organisation-logo organisation-logo-medium">
    HM Revenue &amp; Customs
    </span>
  </div>
  <div class="last-login">
    <p class="text--right h3-heading">John Smith</p>
    <p class="last-login__more-details text--right font-xsmall js-visible"
       data-toggle-details="last-login-details">
    Last sign in: 31 May 2016 - <a href="#">not right?</a>
    </p>
  </div>
  <section class="last-login-details alert alert--slim alert--info js-hidden">
    <a class="minimise js-visible" href="#">Minimise</a>
    <p class="alert__message">
    Last sign in: Tuesday, 31 May 2016 at 2:44pm
    </p>
    <p class="alert__message">
      <a href="https://www.gov.uk/hmrc-online-services-helpdesk">
      Contact HMRC</a> if it wasn't you.
    </p>
  </section>
</div>

Styleguide Service Info.Logged In
*/

.last-login {
  margin-bottom: em(10);
}

.last-login__more-details {
  margin: em(5) 0 0 0;
}

/*
Nav

This example shows a service info element with inline navigation links. On mobile the elements are stacked in a block fashion

Markup:
<div class="service-info">
  <div class="service-info--nav">
      <a class="service-info--nav__left-component font-xsmall "href="#">Left side content</a>
      <ul class="service-info--nav__right-component service-info--nav__list">
          <li>
              <span class="client-name">Right side 1</span>
          </li>
          <li>
              <a href="#">List item 2</a>
          </li>
          <li>
              <a href="#">List item 3</a>
          </li>
      </ul>
  </div>
</div>

Styleguide Service Info.Nav
*/
.service-info--nav {
  margin-top: em(15);

  .service-info--nav__left-component,
  .service-info--nav__right-component {
    display: block;
    margin-bottom: em(15);
  }

  @include media(tablet) {
    .service-info--nav__left-component {
      float: left;
      margin-bottom: 0;
    }

    .service-info--nav__right-component {
      float: right;
      margin-bottom: 0;
    }

    .service-info--nav__left-component + .service-info--nav__right-component {
      margin-left: em(45);
    }

    .service-info--nav__details-summary {
      display: none;
    }

    & details[open] {
      & summary {
        display: none;
      }
    }
  }

  .client-name {
    @include bold-16();
  }

  .service-info--nav__list {

    margin-top: 0;

    & li {

      margin-left: 0;

      @include media(tablet) {
        margin-right: em(15);
        display: inline;
        
        &:last-child {
          margin-right: 0;
        }
      }

      & a {
        @include core-16();
      }

      .client-name {
        margin-top: 0;
        @include bold-16();
      }
    }

  }
}