/*
Tabs

Tabs are useful for displaying navigational links.

Markup:
<div data-tabs class="js-hash-selected-tab">
  <ul class="tabs-nav" role="tablist">
    <li id="tab1" role="tab"
                  data-tab-link="tab1"
                  aria-selected="true"
                  aria-controls="tabContent1">
        <span class="tabs-nav__tab tabs-nav__tab--active"
              href="#">Tab 1</span>
    </li>
    <li id="tab2" role="tab"
                  data-tab-link="tab2"
                  aria-selected="false"
                  aria-controls="tabContent2">
        <a class="tabs-nav__tab" href="#">Tab 2</a>
    </li>
    <li id="tab3" role="tab"
                  data-tab-link="tab3"
                  aria-selected="false"
                  aria-controls="tabContent3">
        <a class="tabs-nav__tab" href="#">Tab 3</a>
    </li>
    <li id="tab4" role="tab"
                  data-tab-link="tab4"
                  aria-selected="false"
                  aria-controls="tabContent4">
        <a class="tabs-nav__tab" href="#">Tab 4</a>
    </li>
  </ul>
  <ul>
    <li id="tabContent1"
        data-tab-content="tab1"
        class="tab-content"
        role="tabpanel"
        aria-labelledby="tab1">
      <p class="tab-content__first">Content for Tab 1</p>
    </li>
    <li id="tabContent2"
        data-tab-content="tab2"
        class="tab-content"
        role="tabpanel"
        aria-labelledby="tab2">
      <p class="tab-content__first">Content for Tab 2</p>
    </li>
    <li id="tabContent3"
        data-tab-content="tab3"
        class="tab-content"
        role="tabpanel"
        aria-labelledby="tab3">
      <p class="tab-content__first">Content for Tab 3</p>
    </li>
    <li id="tabContent4"
        data-tab-content="tab4"
        class="tab-content"
        role="tabpanel"
        aria-labelledby="tab4">
      <p class="tab-content__first">Content for Tab 4</p>
    </li>
  </ul>
</div>

Discussion: https://hmrcdigital.hackpad.com/Tabs-7ciXI9ly8Cw

Styleguide Tabs
*/

.tabs-nav {
  margin: em(38) 0 em(19) 0;
  overflow: hidden;
  position: relative;

  .tabs-nav__tab {
    margin-bottom: 0;
    display: block;
    padding: em(9.5);
    white-space: nowrap;
    outline: none;
    z-index: 0;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid $border-colour;
    transition: background .25s ease-in-out;

    &:focus,
    &:hover,
    &:active {
      background-color: $govuk-grey-3;
    }

    &:visited {
      color: $govuk-blue-colour;
    }

    // POTENTIALLY NOT IN USE
    .count {
      background-color: $red;
      color: $white;
      padding: 0 em(5);
    }

    @include media(tablet) {
      height: em(53);
      display: inline-block;
      margin: 0 em(3) 0 0;
      padding: 0.7em 0.8em;
      border-top: none;
      border-bottom: 6px solid white;
    }
  }

  li.tabs-nav__tab {
    margin-bottom: 0;
  }

  a.tabs-nav__tab {

    &:focus,
    &:hover,
    &:active {
      background-color: $govuk-grey-3;
    }
  }

  .tabs-nav__tab--active {
    z-index: 2;
    color: $black;
    background-color: $white;
    transition: none;

    &:focus,
    &:hover,
    &:active {
      background-color: $white;
    }

    @include media(tablet) {
      height: em(54);
      padding: em(13.3);
      border: 1px solid $border-colour;
      border-bottom: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    width: 100%;
  }

  [data-tab-link] {
    display: block;
    margin-bottom: 0 !important;

    @include media(tablet) {
      display: inline-block;
    }
  }
}

.tabs-nav__tab {
  color: $govuk-blue-colour;
  text-decoration: underline;
  cursor: pointer;
}

.tabs-nav__tab--active {
  color: $black;
  text-decoration: none;
  cursor: default;
}

.tab-content {
  .tab-content__first {
    margin-top: em(30);
  }
}

