/*
Toggle Button

Markup:
<span class="toggle-btn {{modifier_class}}">Toggle Button</span>

.toggle-btn--on - The toggle button is on
.toggle-btn--off - The toggle button is off

Styleguide Toggle Button
*/


.toggle-btn {
  padding: em(5) em(10) em(3) em(10);
  display: inline-block;
  line-height: 1.4em;
}

.toggle-btn--on {
  background-color: $button-colour;
  color: $white;
  margin: 0 em(10) 0 0;
}

.toggle-btn--off {
  background-color: $light-grey;
  margin: 0 0 0 em(10);
}
