/*
Toggle Button

Markup:
<span class="toggle">
  <span class="error-notification inline-block toggle__error">Error state</span>
  <a href="#" class="toggle__btn">link</a>
  <button class="toggle__btn">link</button>
  <span class="toggle--on">on</span>
  <span class="toggle--off">off</span>
  <span class="toggle--disabled">disabled</span>
</span>

Styleguide Toggle Button
*/

.toggle {
  display: inline-block;
  white-space: nowrap;
}

.toggle__btn {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  color: $link-colour;
  border: none;
  &:active {
    top: 0;
    box-shadow: none;
  }
  &:hover, &:focus {
    outline: none;
    color: $link-hover-colour;
    background-color: transparent;
  }
  &:disabled,
  [disabled] {
    background-color: transparent;
  }
}

.toggle__error {
  padding: em(5) em(40) em(3) em(10);
}

.toggle--on {
  background-color: $button-colour;
  color: $white;
  margin: 0 em(15) 0 0;
}

.toggle--off {
  background-color: $light-grey;
}

.toggle--disabled {
  color: #6f777b;
}

.toggle__btn,
.toggle--on,
.toggle--off,
.toggle--disabled {
  padding: em(5) em(10) em(3) em(10);
  display: inline-block;
  line-height: 1.4em;
  @include core-16;
}
