<!doctype html>
<html lang="en" class="no-js tech-docs">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="robots" content="noindex">

    <title>HMRC Design System</title>

    <link rel="icon" type="image/x-icon" href="/assets-frontend/public/images/favicon.ico" />

    <link rel="stylesheet" href="/assets-frontend/public/assets/stylesheets/design-system.css">
    <link rel="stylesheet" href="/assets-frontend/public/assets/stylesheets/vendor/highlight/github.css">

    <!--[if gt IE 8]><!--><link href="/assets-frontend/public/assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/assets-frontend/public/assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/assets-frontend/public/assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/assets-frontend/public/assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <!--[if gt IE 8]><!--><link rel="stylesheet" href="/assets-frontend/public/stylesheets/application.min.css"><!--<![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets-frontend/public/stylesheets/application-ie.min.css"><![endif]-->

    

    <script src="/assets-frontend/public/assets/javascripts/vendor/modernizr.js"></script>
  </head>

  <body class="">
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="design-system-header design-system-header--full-width">
          <div class="design-system-header__container">
            <div class="design-system-header__brand">
                <a href="/assets-frontend/">
                  <span class="design-system-govuk-logo">
                    <img class="design-system-govuk-logo__printable-crown" src="/assets-frontend/public/assets/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
                    GOV.UK
                  </span>

                  <span class="design-system-header__title">HMRC Design System</span>
                </a>
            </div>

            <!--
            <div class="pattern-search pattern-search--in-header">
              <input type="text" name="pattern-query" class="pattern-search__input" placeholder="Search Design System" autocomplete="off">
              <ul class="search-results js-search-results">
              </ul>
            </div>
           -->

            <div class="mobile-nav-trigger">
              <input class="button js-mobile-nav-toggle" type="submit" value="Menu">
            </div>
          </div>
        </header>

        <div class="design-system phase-banner">
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a prototype</span>
          </p>
        </div>

        <div class="sub-nav">
          <ul class="sub-nav-list">
            <li><a href="/assets-frontend/index.html">About</a></li>
            <li><a href="/assets-frontend/components/index.html">Components</a></li>
           </ul>
        </div>
      </div>

      <!-- TODO: mobile_nav -->

      <div class="app-pane__body">
        <div class="app-pane__toc">
          <div class="toc" data-module="table-of-contents">
            <nav id="toc" class="js-toc-list toc__list">
              <ul class="pattern-nav">
                <li><a href="/assets-frontend/components/account-menu/index.html">Account Menu</a></li>
                <li><a href="/assets-frontend/components/character-counter/index.html">Character Counter</a></li>
                <li><a href="/assets-frontend/components/check-your-answers/index.html">Check Your Answers</a></li>
                <li><a href="/assets-frontend/components/page-heading/index.html">Page Heading</a></li>
              <ul>
            </nav>
          </div>
        </div>

        <div class="app-pane__content toc-open-disabled">
          <main id="design-system-content" class="technical-documentation markdown" data-module="anchored-headings">
            <!--
            <div class="banner banner__out-of-date">
              <p>This content has not yet been written using the Design System content guidelines</p>
            </div>
             -->

            <!--
            TODO: set title as data

            <div class="pattern-header">
              <p class="section-heading"></p>
              <h1></h1>
            </div>
            -->

            <h1 id="components">Components</h1>
<p>Components are re-usable parts of the user interface. They are named chunks of code that have been made to support a variety of applications. They are often associated with specific patterns when used in a particular context.</p>
<p>On the most part, if you are using the <a href="https://github.com/alphagov/govuk_prototype_kit/">GOV.UK Prototype Kit</a>, the coded examples provided should render exactly as they do inside the design system.</p>


            <!--
            TODO: pass the following into the template from AF

            <div id="related-content" class="related-content">
              <div class="grid-row">



                <div class="column-one-quarter related-content-grid-item">
                  <h2>Further resources</h2>

                  <ul class="list">


                    <li><a href="#">Edit this guidance on GitHub</a></li>
                    <li><a href="#">Raise an issue on GitHub</a></li>
                    <li><a href="#">History of this page</a></li>
                  </ul>
                </div>

                <div class="column-one-quarter related-content-grid-item">
                  <dl class="meta-data-bottom">
                    <dt>Last reviewed:</dt>
                    <dd>30 March 2017</dd>
                  </dl>
                </div>
              </div>
            </div>
            -->

            <div class="callout">
              <h2 class="heading-medium">Get in touch</h2>
              <p>If you’ve got a question, idea or suggestion share it in <a href="https://hmrcdigital.slack.com/messages/C39V3PH38">#team-sdt</a> on HMRC Slack (<a href="slack://channel?team=T04RY81HB&amp;id=C39V3PH38">open in app</a>) or <a href="hmrc-service-design-tools-g@digital.hmrc.gov.uk">email the Service Design Tools team</a></p>
            </div>
          </main>

          <footer class="design-system-footer design-system-footer--full-width">
            <div class="footer-container">
              <div class="footer__navigation">
                <div class="footer__navigation--column">
                  <h2 class="heading-medium">GOV.UK Design System</h2>
                  <ul>
                    <li><a href="https://govuk-design-system-prototypes.cloudapps.digital/design-patterns/patterns/">Prototype</a></li>
                  </ul>
                </div>
                <div class="footer__navigation--column">
                  <h2 class="heading-medium">Other design resources</h2>
                  <ul>
                    <li><a href="https://www.gov.uk/design-principles">GDS Design Principles</a></li>
                    <li><a href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a></li>
                    <li><a href="#">GOV.UK Frontend</a></li>
                    <li><a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype kit</a></li>
                  </ul>
                </div>
              </div>

              <div class="footer__licence">
                <a class="footer__licence-logo" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                <p class="footer__licence-description">All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>

              <div class="footer__copyright">
                <a class="footer__copyright-logo" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="/assets-frontend/public/assets/javascripts/vendor/highlight/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();

      function scaleExampleHeight() {
        var scaleWrapper = document.querySelectorAll('.scale-wrapper')

        for (var i = 0; i <= scaleWrapper.length - 1; i++) {
          scaleWrapper[i].style.height = scaleWrapper[i].querySelector('.scale').offsetHeight / 2 + 'px'
        }
      }

      window.addEventListener('resize', function() {
        scaleExampleHeight()
      })

      scaleExampleHeight()
    </script>

    

    <script src="/assets-frontend/public/javascripts/application.min.js"></script>
  </body>
</html>
