
.accordion {
  margin: 0;
  overflow: auto;
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;
  &.accordion--expanded {
    .accordion__body {
      border-top: 1px solid #bfc1c3;
    }
  }
}

.accordion--stacked {
  border-bottom: none;
}

.accordion--stacked--last {
  border-bottom: 1px solid #bfc1c3;
}

.accordion__row {
  padding: 20px 12px 20px 12px;
  background-color: #f8f8f8;
}

.accordion__row__left {
  width:38%;
  display: table-cell;
}

.accordion__row__right {  
  width:59%;
  display: table-cell;
}

.accordion__body {
  height: 0;
  overflow: hidden;
  border-top: 1px solid #f8f8f8;
}

.accordion__sub-row {
  border-bottom: 1px solid #bfc1c3;
  overflow: auto;
  margin: 0;

  &:last-child {
    border-bottom: none;
  }
}

.accordion__sub-row__left {
  padding: 20px 12px 20px 30px;
  width: 33%;
  float: left;
  background-color: white;
}

.accordion__sub-row__right {
  padding: 20px 0 20px 0;
  width: 60%;
  float: left;
  background-color: white;
}














