.accordion {
  margin: 0;
  overflow: auto;
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;

  .tag {
    margin: 0 em(7) em(7) 0;

    @include media(mobile) {
      margin-bottom: em(10);
    }

  }

  &.accordion--expanded {
    .accordion__body {
      border-top: 1px solid #bfc1c3;
    }
  }
  
}

.accordion--stacked {
  border-bottom: none;
}

.accordion--stacked--last {
  border-bottom: 1px solid #bfc1c3;
}

.accordion__row {
  padding: em(15) em(12) em(15) em(12);
  background-color: #f8f8f8;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.accordion__row__left {
  width:35%;
  display: table-cell;
  padding: 0 em(10) 0 0;
  box-sizing: border-box;

  .accordion__indicator {
    float: left;
    margin: em(-4) em(5) em(5) 0;

    @include media(tablet) {
      margin-top: em(-2);
    }

  }

}

.accordion__row__right {  
  width:50%;
  display: table-cell;
  box-sizing: border-box;
}

.accordion__body {
  overflow: hidden;
  border-top: 1px solid #f8f8f8;
}

.accordion__body__row {
  border-bottom: 1px solid #bfc1c3;
  overflow: auto;
  margin: 0;
  display: table;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

}

.accordion__body__row__left {
  padding: em(10) em(12) em(10) em(30);
  width: 42%;
  background-color: white;
  vertical-align: top;
  display: table-cell;

  &.spaced {
    padding: em(15) em(12) em(15) em(30);
  }

  @include media(mobile) {
    width: auto;
    display: table;
    padding: em(15) em(20) em(15) em(30);

    .tag {
      margin-bottom: 0;
    }

  }

}

.accordion__body__row__right {
  padding: em(10) em(12) em(10) 0;
  background-color: white;
  display: table-cell;

  @include media(mobile) {
    width: auto;
    display: table;
    padding: 0 em(20) em(15) em(30);
  }

  &.spaced {
    padding: em(15) em(12) em(15) 0;

    @include media(mobile) {
      padding-left: em(30);
    }

  }

}

.accordion__button:visited {
  color: $govuk-blue-colour;
}

