.accordion {
  margin: 0;
  overflow: auto;
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;

  .tag {
    margin: 0 7px 7px 0;

    @include media(mobile) {
      margin-bottom: 10px;
    }

  }

  &.accordion--expanded {
    .accordion__body {
      border-top: 1px solid #bfc1c3;
    }
  }
  
}

.accordion--stacked {
  border-bottom: none;
}

.accordion--stacked--last {
  border-bottom: 1px solid #bfc1c3;
}

.accordion__row {
  padding: 15px 12px 15px 12px;
  background-color: #f8f8f8;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.accordion__row__left {
  width:35%;
  display: table-cell;
  padding: 0 10px 0 0;
  box-sizing: border-box;

  .accordion__indicator {
    float: left;
    margin: -2px 5px 5px 0;
  }

}

.accordion__row__right {  
  width:50%;
  display: table-cell;
  box-sizing: border-box;
}

.accordion__body {
  overflow: hidden;
  border-top: 1px solid #f8f8f8;
}

.accordion__body__row {
  border-bottom: 1px solid #bfc1c3;
  overflow: auto;
  margin: 0;
  display: table;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

}

.accordion__body__row__left {
  padding: 10px 12px 10px 30px;
  width: 42%;
  background-color: white;
  vertical-align: top;
  display: table-cell;

  &.spaced {
    padding: 15px 12px 15px 30px;
  }

  @include media(mobile) {
    width: auto;
    display: table;
    padding: 15px 20px 15px 30px;

    .tag {
      margin-bottom: 0;
    }

  }

}

.accordion__body__row__right {
  padding: 10px 12px 10px 0;
  background-color: white;
  display: table-cell;

  &.spaced {
    padding: 15px 12px 15px 0;
  }

  @include media(mobile) {
    width: auto;
    display: table;
    padding: 0 20px 15px 30px;
  }

}

.accordion__button:visited {
  color: $govuk-blue-colour;
}

.accordion a,
.accordion span {
  //border: 1px solid red;
}
