/**
 * Applications list module
 *
 * Classes to describe how a list of applications looks
 */


.app-list {
  margin: em(30) 0 em(30) 0;
}

.app-list__item {
  border-top: 1px solid $light-grey;
  margin: 0;
  padding: em(12) 0 em(5) 0;
  box-sizing: border-box;

  &:first-child {
    border-top: none;
    color: #0b0c0c;
    padding-bottom: em(4);
  }

  &:last-child {
    border-bottom: 1px solid $light-grey;
  }

}

.app-list__item__name {
  @include core-16;
  display: inline-block;
  width: 25%;
  padding-right: em(20);
  word-wrap: break-word;
  word-break: break-all;
  box-sizing: border-box;
  vertical-align: top;
}

.app-list__item__description {
  @include core-16;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 55%;
  padding-right: em(40);
  box-sizing: border-box;
  vertical-align: top;

  @include media(tablet) {
    width: 63%;
  }

}

.app-list__item__rights {
  @include core-16;
  float: right;
  width: 12%;
  vertical-align: top;
  text-align: right;

  @include media(tablet) {
    width: 10%;
  }

}

.app-list__header {
  @include bold-16;
}
