.suggestions {
  position: absolute;
  z-index: 1000;
  background-color: $white;
  width: 92%;
}

.suggestions-input-container {
  position: relative;
}

.suggestions-list {
  margin: 0;
  list-style: none;
  border: 1px solid $border-colour;
}

.suggestion {
  padding: em(8) em(10);
  margin: 0 !important; //TODO-fix overriding the article li{ ... } rule
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}

.suggestion__highlight {
  font-weight: bold;
}

.suggestion--selected {
  background-color: $light-blue;
  color: $white;
}

.suggestion--first {
  margin-top: 0;
}

.suggestion--last {
  margin-bottom: 0;
}

.suggestions-clear {
  background-image: url("../images/clear_all_button.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5px;
  right: 9%;
  z-index: 100;
  cursor: pointer;

  @include device-pixel-ratio() {
    background-image: url("../images/clear_all_button_x2.png");
    background-size: 22px 44px;
  }

  @include media(tablet) {
    top: 7px;
    right: 9.4%;
  }

  &:hover {
    background-position: bottom right;
  }
}

.has-suggestions {
  border-bottom: 1px solid $white;
}
