/* ==========================================================================
   Bread crumbs
   ========================================================================== */

/* Usage:
<nav class="breadcrumb-nav">
  <ul class="breadcrumb-nav__list">
    <li class="breadcrumb-nav__item"><a href=""> ... </a></li>
    <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
  </ul>
</nav>
*/

.breadcrumb-nav {
  padding: em(10) 0 em(40) 0;
}

.breadcrumb-nav__item {
  @include copy-16();
  display: inline-block;
}

.breadcrumb-nav__item--trail {
  margin-left: $gutter/5;
  margin-right: $gutter/5;

  &:after {
    content: "›";
  }
}

.breadcrumb-nav--slim {
  padding-top: em(5);
  padding-bottom: em(10);

  .breadcrumb-nav__list {
    margin: 0;
  }

  .breadcrumb-nav__item {
    margin: 0;
  }
}
