.js-datatable-wrapper[action$="client-list"] {
  th:first-child {
    width: 3%;
  }

  .client {
    background-position-x: 57px;
    width: 25%;
  }

  .paye {
    background-position-x: 120px;
    width: 20%;
  }

  .client-ref {
    background-position-x: 123px;
    width: 18%;
  }

  .notes {
    width: 28%;
  }

  .tel-no {
    white-space: nowrap;
  }
}
