
.snippet--block {
  margin: 10px 0 10px 0;
  padding: 20px;
  border: none;
  color: $grey-0;
}

pre.snippet--block {
  font-size: 14px;
}

.snippet--inline {
  font-family: monospace, serif;
}

code.snippet--inline { 
  background-color: transparent;
  border: none;
  padding: 0;
  color: $grey-1;
}


