
.snippet__block {
  margin: 10px 0 10px 0;
  padding: 20px;
  border: none;
  color: $grey-3;
}

.snippet__inline {
  background-color: transparent;
  border: none;
  color: $grey-1;
  padding: 0;
}
