.dashboard {
  text-align: left;

  .overview {
    margin: 0 auto;
    max-width: 960px;

    .wrapper {
      article {
        margin: 0 0 3em 0;
        min-height: 0;

        @include media(tablet) {
          margin-right: 60px;
        }

        .inner {
          padding: 0;

          @include media(tablet) {
            margin: 0 4em 0 0;
          }
        }

        h2 {
          @include bold-36;
          padding: 0;
          margin-top: 0;
        }
      }

      @include media(tablet) {
        float: left;
        width: 69%;
      }
    }
  }

  .calendar {
    li {
      border: none;
    }
  }

  .summary {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      margin: 0 0 1em 0;

      span {
        display: block;
        @include bold-48;
      }

      p {
        margin: 0.5em 0 1em 0;
      }
    }
  }

  .activity {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      border-bottom: 1px solid $border-colour;
      @include core-16;

      time {
        display: block;
        width: 25%;
        float: left;
      }

      p {
        float: left;
        width: 75%;
        @include core-16;
      }
    }
  }

  .service-info__related-subsection {
    border: none;
  }
}

.account-summary {
  margin-bottom: 1.5em;
  padding-top: 1em;
}

.services-dashboard {
  @include media(mobile) {
    .logo,
    .service-info__agent-name {
      display: inline-block;
    }

    .service-info__agent-name {
      float: right;
    }
  }

  .grid-wrapper {
    padding-bottom: 0;
  }

  .content__body, .sidebar {
    margin-top: 1.25em;
  }

  .sidebar {
    width: 33%;

    @include media(mobile) {
      width: 100%;
      margin-top: 0;
    }
  }

  .sidebar-links {
    width: 100%;
    border-top-width: 8px;
    border-bottom: none;

    @include media(desktop) {
      padding-bottom: 0.5em;
      margin-bottom: 1.25em;
    }

    @include media(mobile) {
      margin-bottom: 0;
      border-top-width: 4px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .sidebar-links--list {
    margin: 0.75em 0;

    @include media(mobile) {
      margin-bottom: 0;
    }
  }

  .sidebar-links--item {
    font-size: 19px;
    line-height: 1.31579;
    margin: .4em 0;

    @include media(mobile) {
      font-size: 16px;
      line-height: 1.25;
      margin: 1em 0;
    }
  }

  @include media(mobile) {
    .sidebar-links--link {
      border-top: 0;
      padding: 0;
    }
  }

  .service-options--heading {
    margin-bottom: 0.25em;
  }

  .service-option--links {
    border-top: 4px solid $light-blue;
    padding-bottom: 0.5em;

    &:first-child {
      .service-option--link {
        font-weight: 700;
      }

      .service-option--item {
        border-bottom: 1px solid $grey-8;
        padding: .438em 0 .625em 0;
        width: 90%;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &:last-child .service-option--item {
      margin: 1em 0;
    }

    .service-option--link:link {
      color: $govuk-blue;
    }

    @include media(mobile) {
      .service-option--item {
        margin-left: 0;
      }
    }
  }
}
