.dashboard {
  text-align: left;

  .overview {
    margin: 0 auto;
    max-width: 960px;

    .wrapper {
      article {
        margin: 0 0 3em 0;
        min-height: 0;

        @include media(tablet) {
          margin-right: 60px;
        }

        .inner {
          padding: 0;

          @include media(tablet) {
            margin: 0 4em 0 0;
          }
        }

        h2 {
          @include bold-36;
          padding: 0;
          margin-top: 0;
        }
      }

      @include media(tablet) {
        float: left;
        width: 69%;
      }
    }
  }

  .calendar {
    li {
      border: none;
    }
  }

  .summary {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      margin: 0 0 1em 0;

      span {
        display: block;
        @include bold-48;
      }

      p {
        margin: 0.5em 0 1em 0;
      }
    }
  }

  .activity {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;

    li {
      display: block;
      padding: 0;
      border-bottom: 1px solid $border-colour;
      @include core-16;

      time {
        display: block;
        width: 25%;
        float: left;
      }

      p {
        float: left;
        width: 75%;
        @include core-16;
      }
    }
  }

  .service-info__related-subsection {
    border: none;
  }
}

.account-summary {
  margin-bottom: 1.5em;
  padding-top: 1em;
}

.agent-services--dashboard {
  .grid-wrapper {
    padding-bottom: 0;
  }
  
  .sidebar-links {
    border-top: 8px solid $mainstream-brand;
    padding-bottom: 0.5em;
    margin-bottom: 1.25em;
    
    &:first-child {
      margin-top: 1.5em;
    }
    
    ul {
      margin: 0.75em 0;
    }
    
    li {
      font-size: 19px;
      line-height: 1.31579;
      margin-bottom: 0.2em;
    } 
    
  }

  .service-options {
    h2 {
      margin-bottom: 0.25em;
    }
    
    .service-option--links {
      padding-bottom: 0.5em;

      &:first-child a {
        font-weight: 700;
      }
  
      &:last-child li {
        margin: 1em 0;
      }
      
      a:link {
        color: $govuk-blue;
      }
    }
  }
}
