.dataTables_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: em(50);
}

.dataTables_info {
  float: left;

  &.no-float {
    float: none;
  }
}

.dataTables-filter__block {
  padding: em(30) 0 0;
}

.dataTables_filter {
  text-align: right;
  position: absolute;
  right: auto;
  top: em(-40);

  input {
    background-image: url("../images/icon-search-dark.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 1px solid $grey-1;
    padding-left: 30px;
    width: em(300);

    @include device-pixel-ratio() {
      background-image: url("../images/icon-search-dark-2x.png");
      background-size: 16px 16px;
    }
  }
}

::-webkit-input-placeholder {
  color: $grey-1;
  font-size: em(15);
  padding: em(5) 0 0 em(5);
}

.dataTables_paginate {
  text-align: right;

  span, a {
    margin-right: 5px;
  }

  a {
    color: $link-colour;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
    }
  }

  .current {
    color: $text-colour;
  }

  .disabled {
    display: none;
  }
}

.dataTable thead {
  .sorting {
    background: url("../images/sort_both.png") no-repeat scroll center right;
  }

  .sorting_asc {
    background: url("../images/sort_asc.png") no-repeat scroll center right;
  }

  .sorting_desc {
    background: url("../images/sort_desc.png") no-repeat scroll center right;
  }

  .sorting_asc_disabled {
    background: url("../images/sort_asc_disabled.png") no-repeat scroll center right;
  }

  .sorting_desc_disabled {
    background: url("../images/sort_desc_disabled.png") no-repeat scroll center right;
  }

  th:first-child {
    background-position-x: 57px;
  }

  th:nth-child(3) {
    background-position-x: 120px;
  }

  th:nth-child(4) {
    background-position-x: 87px;
  }

  label, th {
    cursor: pointer;
  }
}

.dataTable tbody {
  .status--unconfirmed {
    background-color: $grey-8;
  }

  .status--confirm-success {
    background-color: $success-bg-color;
  }
}

.controlpanel {
  margin-bottom: em(30);

  .js-datatable-wrapper & {
    float: left;
  }
}



