/* ==========================================================================
   Dividers
   ========================================================================== */

.divider-left {
  border-left: 1px solid $light-grey;

  @include media(mobile) {
    border-left: none;
  }

}

.gutter-left {
  margin-left: $gutter;

  @include media(mobile) {
    margin-left: 0;
  }
  
}

.bordered-box {
  border: 1px solid $border-colour;
  padding: 1em 1em 0.5em;
}

.bordered-box--shaded {
  @extend .bordered-box;
  background-color: $shaded-bg-grey;
}

.box--shaded {
  padding: 0.5em 1em;
  background-color: $grey-8;
  border: none;
}

.divider--bottom {
  border-bottom: 1px solid $border-colour;
}

.divider--top {
  border-top: 1px solid $border-colour;
}

.divider--top--thick {
  padding-top:20px;
  border-top: 2px solid $border-colour;
}
