@mixin border-bottom-zero {
  border-bottom-width: 0;
}

#delegation-banner {
  background-color:$info-bg-color; 
  border-left: 3px solid $govuk-blue;
  margin: 10px 0 1em; 
  padding: 0.6em 1em 0.5em; 
  max-width: 900px;
  float: none;
  clear: both;
  z-index: 999;
  
  a.client-list {
    margin-left: 19px;
  }
}
.paye-header {
  h1 {
    padding: 10px 0 5px 0;
    margin-bottom: 10px;      
  }
}

a.paye-back-link {
  @include core-19();
  border-bottom: 1px solid $black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: em(12);
  color: $black;
}
.statements-balance {
  #balance-message {
    margin: 0;
  }  
  &.alert {
    padding: 0.8em 1em 0.6em 1em;
    margin: 1.5em 0 20px 0;    
  }
  
  &.alert--info {
    position: inherit;
  }
}
#statements-year-message {
  float:left;
  width: 50%;
}

#statements-year-navigation {
  float:right;
  text-align: right;
  width: 50%;
  
  span, a {
    &:first-child {
      margin-right: 0.5em
    }
  } 
}

#statementsTotals {
  border: 2px solid #bfc1c3;
  border-left-width: 0;
  border-right-width: 0;

  .totals {
    padding-right: 0;
    text-align: left;
  }

  td {
    font-weight: bold;
    width: 24.4%;
    padding-right: 0;
    text-align: right;
  }
  
  #amount-paid {
    width: 26.2%;
  }
  
  #balance {
    padding-right: 24px;
  }
}

.wrapper #annualSummaries {
  @include border-bottom-zero;
  margin-bottom: 10px;
  
  tr:last-child > td {
    @include border-bottom-zero;
  }   
}

#annualSummaries {
  border-bottom-width: 1px;
  
  .alert-text {
    color: $alert-bg-red;
  }
  
  .flagicon {
    background-image: url("../images/statements-flag3.png");
    background-repeat: no-repeat;
    background-position: 3px 4px;
    padding-left: 3px;
    
    &:before {
      content: "\f104";
    }
  }

  td, th {
    padding-right: 0;
  }
  
  & > thead th {
    vertical-align: bottom;

    &:first-child {
      padding-left: 21px;
    }

    &:last-child {
      padding-right: 24px;
    }
  }

  & > thead th,
  details summary > table td {
    text-align: right;
    width: 24.4%;

    &.payments {
      width: 26.2%;
    }
  }

  & > thead th:first-child,
  details summary > table td:first-child {
    text-align: left;
  }
  
  & tbody > tr > td[role="group"] {
    padding: 0;
  }

  details summary {
    margin: 0;
    width: 100%;

    &::-webkit-details-marker {
      display: none;
      list-style-type: none;
    }

    & > table {
      @include border-bottom-zero;
      margin: 0;
      
      td {
        @include border-bottom-zero;
        padding: 12px 3px 10px;
      }
      
      td:last-child {
        padding-right: 24px;
      }
    }
    
    .summary {
      color: $grey-0;
      margin-bottom:0.26316em;
      white-space: nowrap;
      
      &::before {
        content: "►";
        padding: 0 2px;
        display: inline-block;
      }
    }
    
    .no-detail {
      padding-left: 18px;
      white-space: nowrap;
    }
  }

  details[open] summary {
    & > table {
      background-color: $grey-8;
    }

    &[aria-expanded=true] .summary::before {
      //transform: rotate(90deg);
      content: "▼";
    }
  }


  .details {
    @include border-bottom-zero;
    margin: 0;

    thead {
      border-bottom-color: $light-grey;
    }

    &> tbody > tr > td {
      @include border-bottom-zero;
    }

    th,
    td {
      color: $grey-0;
      &:nth-child(even) {
        text-align: right;
        padding-right: 0;
      }
    }
  }

  td > .second-row {
    color: $grey-1;
    display: block;
    @include core-14;
    padding-left: 19px;
  }

  .multiline {
    vertical-align: top;
  }
  
  .details-content {
    @include border-bottom-zero;

    ul {
      list-style-type: disc;
      margin: 0.75em;
      max-width: 30em;
      
      li {
        @include core-16();
        margin-bottom: 5px;
      }
    }

    & > tbody > tr > td {
      @include border-bottom-zero;
      padding: 0 24px;
      
      .details-total {
        border-top: 1px solid $light-grey;
        border-bottom: 2px solid $light-grey;
        
        td {
          padding: 12px 0 10px;
        }
      }

      table {
        margin: 0;
        border-bottom-width: 1px;
        background-color: $shaded-bg-grey;
        
        td, th {
          vertical-align: top;
        }

        & > tbody tr:last-child td {
          border-bottom-width: 1px;
        }
      }
    }

    details[role="group"] {
      & > summary table {
        background-color: transparent;
        @include border-bottom-zero;
        margin: 0;

        thead {
          @include border-bottom-zero;
        }
      }

      & > .panel-indent > table {
        @include border-bottom-zero;
        width: 100%; 
        
        &.details-payments {
          width: 59%;
        }
      }
    }
  }  
}

