


.hero { 
  position: relative;
  padding-bottom: 0;

  @include media(tablet) {
    padding-bottom: 20px;
  }

  .heading-large,
  .heading-small {
    color: $white;
  }

  .heading-large {
    margin: 35px 0 0 0;
  }

  .heading-small {
    @include core-19;
  }

  @include media(tablet) {
    .heading-large {
      @include bold-36;
    }
  }

  @include media(desktop) {
    .heading-large {
      @include bold-48;
    }
  }  

  .side-content {
    position: static;
    float: right;
    background-color: $black;
    padding:18px 20px 18px 20px;
    width: 45%;
  }

  @include media(tablet) {
    .side-content {
      position: absolute;
      right: 30px;
      bottom: 0;
      width: 23%;
    }
  }

  .side-content--link {
    color: $white;
  }
  
}
