
/*
Hero

A full width hero banner with a blue background.
Typically used on the landing page of a service.
Provides classes for a heading and a subheading.

Markup:
<header class="hero">  
    <section class="hero__content">        
        <h1 class="hero__heading-large">HMRC API Developer Hub</h1>
        <h2 class="hero__heading-small">
          Tax-related APIs for building smarter software
        </h2>
    </section>
</header>


Styleguide Hero
*/



.hero { 
  background-color: $govuk-blue-colour;
}

.hero__content {
  @include page-slice($paddingTop: 20, $paddingBottom: 20);

  .hero__heading-large,
  .hero__heading-small {
    color: $white;
  }

  .hero__heading-large {
    margin: 0;
  }

  .hero__heading-small {
    @include core-19;
  }

  @include media(tablet) {
    padding-top: 35px;    

    .hero__heading-large {
      @include bold-36;
    }
  }

  @include media(desktop) {
    .hero__heading-large {
      @include bold-48;
    }
  }

}


