/* 
Modal Dialog

Experimental:  An accessibility compliant & responsive modal dialog box module.

**Before considering a [modal dialog box](https://designpatterns.hackpad.com/Modal-dialog-boxes-ZJNqssq4Dll), make sure that you have strong evidence that:**
* There is a real user need to have attention focused on a single piece of content;
* That need cannot be met by taking the user to a new page in the same flow that contains the crucial piece of content;

<button href="#" class="button" role="button" data-modaldialog-action="open" data-modaldialog-target="experimental-modal" tabindex="1">Open example</button>

Markup:
<div class="modal-dialog modal-dialog--hidden">
  <div class="modal-dialog__inner">
    <div id="experimental-modal" 
         class="modal-dialog__content" 
         tabindex="1" 
         role="dialog" 
         data-ga-open-event="::" 
         aria-labelledby="experimental-modals--heading" 
         aria-describedby="experimental-modals--description"
         hidden>
      <h2 id="experimental-modals--heading">Experimental: Modal Dialog</h2>
      <div id="experimental-modals--description">
        <p>An accessibility compliant &amp; responsive modal dialog box module.</p>
        <p>Before considering a <a 
          href="https://designpatterns.hackpad.com/Modal-dialog-boxes-ZJNqssq4Dll">
            modal dialog box</a>, make sure that you have strong evidence that:</p>
        <ul class="bullets">
          <li>
            There is a real user need to have attention focused 
            on a single piece of content.
          </li>
          <li>
              That need cannot be met by taking the user to a new page
              in the same flow that contains the crucial piece of content.
          </li>
        </ul>
      </div>
      <p>
        <button class="button" 
                role="button" 
                data-modaldialog-action="close"
                type="button" 
                tabindex="1" 
                data-journey-click="::">Close</button>
      </p>
    </div>
  </div>
</div>

Style guide: Modal Dialog
*/

body {
  &.scroll-off {
    position: fixed;
    width: 100%;
  }
}
.modal-dialog {
  &.modal-dialog--hidden {
    @include set-square-clip(true, 1);
    @include set-square-clip(false, 1);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: 0;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }
  background-color: $mask-opacity;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  z-index: 1;
}
.modal-dialog__content {
  &:focus {
    outline: 3px solid $modal-dialog-yellow;
  }
  padding: em(7) em(32);
  position: static;
  @include media(mobile) {
    [role="button"][data-modaldialog-action="close"] {
      width: 100%;
    }
  }
}
.modal-dialog__inner {
  background-color: $white;
  border: em(5) solid $black;
  left: 0;
  margin: em(130) auto 0;
  max-width: 90%;
  overflow-y: auto;
  padding: em(8);
  position: fixed;
  right: 0;
  top: 0;
  @include media(desktop) {
    margin: em(130) 25% 0;
    max-width: em(720);
  }
}