.flash {
  border: 3px solid $grey-1;
  background-color: $grey-9;
  padding: 20px;
  margin-bottom: 40px;
  max-width: 798px;

  h2 {
    margin: 0;
    font-weight: bold;
  }

  h3 {
    margin: 0 0 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

.flash.error-summary {
  border-color: $error-border-color;
  background-color: $error-bg-color;

  h2 {
    margin: 0 0 10px;
  }

  li {
    color: $error-color;
  }

  a {
    color: $error-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.flash.success {
  border-color: #85994b;
  background-color: #e7ebda;

  h2 {
    margin: 0 0 10px;
  }
}

.alert {
  border-left: 5px solid #df3034;
  clear: both;
  margin: 0 0 em(20);
  padding: em(17) em(15);
  @include core-16();

  .alert__message {
    margin:0 0 em(10) 0;
    @include core-16();

    &:last-of-type {
      margin-bottom:0;
    }
  }
  .minimise {
    float:right;
    text-align:right;
    margin-top:em(-5);
    margin-bottom:em(10);
  }

  @include media(mobile) {
    .minimise {
      margin-top:0;
      display:block;
      float:none;
    }
  }

}

.alert--success {
  background-color: rgba(40,161,151,0.1);
  border-color: #28a197;
}

.alert--failure {
  background-color: #fef7f7;
  border-color: #df3034;
  color: #df3034;
}

.alert--info {
  background-color:#def;
  border-color:#005EA4;
  position:relative;
  margin:em(10) 0 em(10) 0;
}
