// HMRC
.organisation-logo {
  font-family: Helvetica, Arial;
  font-weight: 400;
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 15px;
  padding: 3px 0 2px 0;
  text-decoration: none;

  padding: 3px 0 2px 30px;
  background-image: url("../images/crests/hmrc_crest_13px.png");
  background-position: 5px center;
  background-size: auto 20px;
  background-repeat: no-repeat;
  border-left: 2px solid $hm-revenue-customs;

  &:link,
  &:visited {
    color: $black;
  }

  a, span {
    color: $black;
  }
}

a.organisation-logo {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.organisation-logo-stacked {
  @extend .organisation-logo;

  padding: 20px 0 0 6px;
  background-image: url("../images/crests/hmrc_crest_13px.png");
  background-position: 5px top;
  background-size: auto 20px;
}

.organisation-logo-stacked span {
  display: block;
  position: relative;
  top: 3px;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo,
  .organisation-logo-stacked {
    background-image: url("../images/crests/hmrc_crest_13px.png");
  }
}

// Single identity Medium
.organisation-logo-medium {
  @include media(tablet){
    font-size: 18px;
    line-height: 20px;
    padding: 3px 0 2px 38px;
    background-image: url("../images/crests/hmrc_crest_27px.png");
    background-position: 6px center;
    background-size: auto 25px;
    border-left: 2px solid $hm-revenue-customs;
  }
}

@include ie(8) {
  .organisation-logo-medium {
    background-image: url("../images/crests/hmrc_crest_13px.png");
  }
}
.organisation-logo-stacked-medium {
  @extend .organisation-logo-medium;
  @include media(tablet){
    padding: 25px 0 0 7px;
    background-image: url("../images/crests/hmrc_crest_27px.png");
    background-position: 6px top;
    background-size: auto 25px;
  }
}

@include media(tablet){
  .organisation-logo-stacked-medium span {
    display: block;
    position: relative;
    top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-medium,
    .organisation-logo-stacked-medium {
      background-image: url("../images/crests/hmrc_crest_27px_x2.png");
    }
  }
}
