.page-header {
  padding-bottom: 2em;

  h1 {
    margin-top: 30px;
    @include media(tablet) {
      @include bold-48;
    }
  }

  h2 {
    @include media(tablet) {
      @include bold-36;
      padding: 0;
    }
  }

  .hgroup {
    width: 64%;
    float: left;
  }

  .service-info {
    float: right;
    width: 31%;

    padding: 1em 0;

    &>div {
      padding-bottom: 1em;
    }
  }

  .service-info__help {
    float: right;
    width: 31%;

    @include core-16;
    margin: 0;
  }

  .group {
    clear: both;
  }
}