// Indented panels with a grey left hand border
.panel-indent {
  margin: 0;
  @include contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;

  p:first-child {
    margin-top: 0;
  }
}

.panel-indent--gutter {
  margin: ($gutter $gutter-half $gutter*1.5 0);
}

.panel-indent--info{
    background-color: $light-blue-25;
    margin: 15px 0px 20px 0px;
    padding: 15px 15px 20px 15px;
    border-left: 4px solid $govuk-blue-colour;
}

.panel-indent legend {
  margin-top: 0;
}

// Remove bottom margin on last paragraph
.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}

.panel-indent .form-control {
  width: 92%;
}
