.panel-indent {
  margin: 0;

  p:first-child {
    margin-top: 0;
  }
}

// Indented panels with a grey left hand border
.panel-indent {
  @include contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;
}

.panel-indent--with-gutter {
  margin: ($gutter $gutter-half $gutter*1.5 0);
}

.panel-indent legend {
  margin-top: 0;
}

// Remove bottom margin on last paragraph
.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}

.panel-indent .form-control {
  width: 92%;
}
