.phase-tag {
  @include phase-tag(beta);
}

.beta-banner {
  @include phase-banner(beta);
}

.beta-banner--borderless {
  border: none;
}

.header__menu {
  .beta {
    vertical-align: top;
    margin: em(3) 0 0 em(5);
    color: $white;
  }
}
