/**
* @desc          Progress indicator style navigation module
* @name          progress-indicator
* @author        Richard Vinall
* @required      [/base/_layouts.scss ]
*/

.progress-indicator__list {
    margin: 0;
    ul, ol {
        margin: 0;
        padding: 0;
    }
}
.progress-indicator__list-item {
    list-style-type: none;
}
.progress-indicator__list-item__completed {
    color: #00692f;
    margin-left: 5px;

}

/******** list item states ********/
.progress-indicator__list-item--current, .progress-indicator__list-item--active {
    @extend .progress-indicator__list-item;
    a {
        margin: 0;
        color: $link-active-colour;

    }
}
.progress-indicator__list-item--current {
    a {
        font-weight: bold;
    }
}

.progress-indicator__list-item--inactive {
    @extend .progress-indicator__list-item;
    &:first-child {
        color: $grey-1;
    }
}


/******** heading states ********/
.progress-indicator__list-item__heading--current {
    > a {
        color: $text-colour;
    }
}
.progress-indicator__list-item__heading--inactive {
    > a {
        color: $grey-1;
    }
}

