/**
* @desc         Progress indicator style navigation module
* @name         progress-indicator
* @author       Richard Vinall
* @required		[ /base/_layouts.scss ]
*/

.progress-indicator--vertical {
    @extend .l-contentColumn--1_of_4;
}
.progress-indicator__list {
    margin: 0;
    ul, ol {
    	margin: 0;
    	padding: 0;
    }
    h2 a {
    	text-decoration: none;
    }
    .active a {
    	color: #000000;
	}
    .current h3,
	.current a {
		margin: 0;
    	color: #2e8aca;
	}
	.inactive a {
    	color: #ababab;
	}
}
.progress-indicator__list-item {
    list-style-type: none;
}