.reminder-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 0;

    time {
      display: block;
      color: $secondary-text-colour;

      @include core-16;
    }
  }
}

.reminder {
  @include core-19;
  background-color: $light-blue;
  margin-bottom: 1em;

  a {
    color: #fff;
    display: block;
    padding: 0.7em 1em;
    text-decoration: none;
  }

  &.urgent a {
    background-color: $red;
  }

  i {
    margin-left: 5px;
  }

  p {
    margin-top: 0;
    display: inline-block;
  }

  .label {
    background-color: #000;
    color: #fff;
    padding: 0.7em 1em;
    display: inline-block;
    margin-right: -5px;
  }

  .action {
    text-decoration: underline;
  }

}

.alert-block {
  background: $alert-bg-red;
  color: #fff;
  padding: 0.15em 0.3em;
  margin: 0 0.2em;
  text-decoration: none;
  line-height: 16px;
}
