.reminder-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 0;

    time {
      display: block;
      color: $secondary-text-colour;

      @include core-16;
    }
  }
}

.reminder {

  @include core-19;
}

.reminder a{
  display: inline-block;
  background-color: $light-blue;
  color: #fff;
  text-decoration: none;
  padding: 0.7em 1em;
}

.reminder a i{
  margin-left: 5px;
}


.reminder.urgent a{
  background-color: $red;
}

.reminder p{
  margin-top: 0;
  display: inline-block;
}

.reminder .label{
  background-color: #000;
  color: #fff;
  padding: 0.7em 1em;
  display: inline-block;
  margin-right: -5px;
}