.reminder-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 0;

    time {
      display: block;
      color: $secondary-text-colour;

      @include core-16;
    }
  }
}

.reminder {
  @include core-19;
  background-color: $light-blue;
  margin-bottom: 1em;

  a {
    color: #fff;
    display: block;
    padding: 0.7em 1em;
    text-decoration: none;
  }

  &.urgent a {
    background-color: $red;
  }

  i {
    margin-left: 5px;
  }

  p {
    margin-top: 0;
    display: inline-block;
  }

  .label {
    background-color: #000;
    color: #fff;
    padding: 0.7em 1em;
    display: inline-block;
    margin-right: -5px;
  }

  .action {
    text-decoration: underline;
  }

  &.message {
    background-image: url(../images/mail-icon-white-small.png);
    background-repeat: no-repeat;
    background-position: 10px 0.7em;

    a {
      padding-left: 52px;      
    }
  }

  @include device-pixel-ratio() {
    &.message {
      background-image: url(../images/mail-icon-white-large.png);    
      background-size: 32px 25px;
    }
  }
}
