.report-error {
	display: inline-block;
	clear: both;
	width: 100%;
	margin: 2em 0 1.5em 0;
	.report-error__toggle {
		@include core-16;
		color: #454a4c;
	}

  @include media(tablet) {
    width: 66%;
    float: left;
  }
}

.report-error__content .report-error__loading {
	background-image: url("../images/loading.gif");
  	background-repeat: no-repeat;
  	margin-top: 0.5em;
  	padding: 32px 32px 0 0;
}