/**
* @desc         tabbed navigation styles
* @name         tabbed-navigation
* @author       Richard Vinall
* @requires     [ base/conditionals.scss, base/_colours.scss ]
*/
.tab-navigation__list {
  margin-bottom: 1em;
}

.tab-navigation__list {
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  @include media(tablet) {
    display: flex;
  }
}

.tab-navigation__tab {
  margin-bottom: 0;
  a {
    border-top: 1px solid $border-colour;
    display: block;
    padding: 0.5em;
    text-decoration: none;

    .count {
      background-color: $red;
      color: $white;
      padding: 0 5px;
    }
  }

  @include media(tablet) {
      display: inline-block;
      a {
        background-color: #dee0e2;
        border: 0;
        margin: 0.25em 0.25em 0.25em 0;
        padding: 0.45em;
      }

      @include ie-lte(7) {
        zoom: 1;
      }
  }
}

.tab-navigation__tab--active {
  @include media(tablet) {
      	border: 1px solid $border-colour;
        border-bottom: 1px solid #fff;
        margin: 0 0.25em -1px 0;
        padding: 0.7em;
  }
}

.highlight-block--red {
	background-color: $red;
	color: $white;
    padding: 0 5px;	
}


/*<ul class="tab-navigation"><li class="tab-navigation__tab tab-navigation__tab--active">Overview</li><li class="tab-navigation__tab"><a href="#">Messages<span class="message-counter">2</span></a></li></ul>*/
