/**
* @desc         tabbed navigation styles
* @name         tabbed-navigation
* @author       Richard Vinall
* @requires     [ base/_colours.scss ]
*/
.tab-navigation {
	border-bottom: 1px solid #ccc;
	margin: 2em 0;
	width: 100%;
}

.tab-navigation__list {
	margin-bottom: -1px;
}
.tab-navigation__tab {
	display: inline-block;
	padding: 0 19px;
	line-height: 2.9em;
	margin-bottom: 0;
}
.tab-navigation__tab--active {
	@extend .tab-navigation__tab;
	background: $white;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.highlight-block {
	display: inline-block;
	color: $white;
	padding: 7px 0.5em 5px;
	margin-left: 10px;
	font-size: 16px;
	text-decoration: none;
	line-height: 16px;
}
.highlight-block--red {
	@extend .highlight-block;
	background: $alert-bg-red;
}
.highlight-block--black {
	@extend .highlight-block;
	background: $black;
}


/*<ul class="tab-navigation"><li class="tab-navigation__tab tab-navigation__tab--active">Overview</li><li class="tab-navigation__tab"><a href="#">Messages<span class="message-counter">2</span></a></li></ul>*/
