.service-info {
  border-top: 10px solid $mainstream-brand;
  padding-bottom:0.5em;
  @extend %contain-floats;

  .inner {
    max-width: 990px;
    margin: 0 auto;
  }

  .logo,
  .last-login,
  .service-info__agent-name {
    margin-top: em(15);
  }

  @include media(tablet) {
    .logo {
      float: left;
      width: 33.33%;
      margin-bottom:em(10);
    }
  }

  .service-info__help {
    margin-top: 10px;

    @include media(tablet) {
      float: left;
      width: 66.66%;
    }

    p {
      @include core-16(20/16);
      color: $secondary-text-colour;
      margin: 1em 0;

      @include media(tablet) {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}

.service-info__agent-name {
  .agent-name,
  .delegate-info {
    @include bold-19();
    float: right;

    .client-name {
      color: $grey-0;
      @include bold-19();
    }
  }

  .acting-agent {
    color: $grey-1;
    display: block;
    @include core-16();
  }

  .client-name {
    color: $black;
    display: block;
  }
}

.last-login {
  margin-bottom:em(10);
}

.last-login__more-details {
  margin:em(5) 0 0 0;
}
