.service-info {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  @extend %contain-floats;

  .inner {
    max-width: 990px;
    margin: 0 auto;
  }

  @include media(tablet) {
    margin: 0 -30px;
    padding: 0.5em 15px;

    .logo {
      float: left;
      width: 33.33%;
    }

    .organisation-logo {
      margin-left: 15px;
    }
  }

  .service-info__help {
    @include media(tablet) {
      float: left;
      width: 66.66%;
    }

    p {
      @include core-16(20/16);
      color: $secondary-text-colour;
      margin: 1em 0;

      @include media(tablet) {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}