.service-info {
  border-top: 10px solid $mainstream-brand;
  @extend %contain-floats;

  .inner {
    max-width: 990px;
    margin: 0 auto;
  }

  .logo,
  .last-login {
    margin-top: em(10);
  }

  @include media(tablet) {
    .logo {
      float: left;
      width: 33.33%;
      margin-bottom:em(10);
    }
  }

  .service-info__help {
    @include media(tablet) {
      float: left;
      width: 66.66%;
    }
    margin-top: 10px;

    p {
      @include core-16(20/16);
      color: $secondary-text-colour;
      margin: 1em 0;

      @include media(tablet) {
        margin: 0;
        padding-top: 5px;
      }
    }
  }
}

.last-login {
  margin-bottom:em(10);
}

.last-login__more-details {
  margin:em(5) 0 0 0;
}

