.toggle-btn {
  @include core-16;
  padding: em(3) em(10) em(3) em(10);
  display: inline-block;
}

.toggle-btn--on {
  background-color: $button-colour;
  color: $white;
  margin: 0 em(10) 0 0;
}

.toggle-btn--off {
  background-color: $light-grey;
  margin: 0 0 0 em(10);
}
