// From GOV.UK Elements for the design system copy
main {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

// Centred
.column-constrained {
  padding: 0 $gutter-half !important;
  @media (min-width: 1200px) {
    padding: 0 10% !important;
  }
  @media (min-width: 1367px) {
    padding: 0 15% !important;
  }
}

.design-system {
  &.phase-banner {
    padding: $gutter-half;

    & .phase-tag {
      background-color: #005ea5;
    }
  }
}

#toc > .nav-group {
  margin-top: 15px;
}

.toc {
  padding: 15px;
}

.toc__list {
  a:link {
    padding-left: 11px;
    position: relative;
    padding-right: 60px;
  }
}

.toc__list a:visited {
  color: $link-colour;
}

.toc__list a:first-letter {
  text-transform: uppercase;
}

.toc__list ul.pattern-nav {
  a:link {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
  }
}

.toc__list li a,
.toc__list li li a {
  border-left: 4px solid transparent;
}

.toc__list .current-page a {
  background-color: darken($grey-4, 3%);
  font-weight: bold !important;
  letter-spacing: 0;
  border-left: 4px solid $govuk-blue;

  &:hover {
    border-left-color: $govuk-blue;
  }

  //Copy of pattern status
  &::after {
    position: absolute;
    right: 0;
    font-size: 12px;
    padding: 0 10px 0 3px;
    min-width: 56px;
    text-align: right;
    margin-top: 3px;
    letter-spacing: 1;
    color: $secondary-text-colour;
  }
}

.markdown {
  margin: 0 32px 30px;

  .example {
    @extend %contain-floats;
    position: relative;
    border: 1px solid $border-colour;
    margin: $gutter 0;
    padding: $gutter;

    &:before {
      content: "EXAMPLE";
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 15px 5px 15px;
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 12px;
      line-height: 1.25;
      background: $grey-1;
      color: white;
    }
  }

  pre {
    padding: 0;

    code {
      border: none;
    }
  }

  p, ul.list, ol.list, blockquote, .example {
    max-width: 34em;
  }

  ul {
    list-style: disc;
  }

  ul, ol {
    padding: 0 0 0 20px;
    margin: 15px 0 45px;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }

  .example + pre,
  .example + .highlight {
    margin-top: -31px;
  }

  .highlight {
    font-size: 16px;
  }

  blockquote {
    margin: 15px 0;
    border-left: 4px solid #dee0e2;
  }

  strong {
    font-weight: bold;
  }

  .list-no-bullet {
    list-style: none;
    padding-left: 0px;
  }
}

.banner {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;

  h3, p {
    margin: 0;
    padding-top: 0;
    max-width: 100%;
  }
}

.banner__out-of-date,
.panel__quick-links {
  background-color: lighten($govuk-blue, 65%);
  border: 1px solid $govuk-blue;
}

// Related content panel
.related-content {
  font-size: 16px;
  margin-top: $gutter;
  border-top: 1px solid $border-colour;

  h2 {
    margin-top: 0 !important;
  }

  ul {
    // font-size: 16px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      font-size: 16px;
    }
  }
}

.related-content-grid-item {
  @include media(tablet) {
    width: 100%;
  }
  @include media(desktop) {
    width: 25%;
  }

}

dl.meta-data-bottom {
  margin-top: $gutter;
  font-size: 16px;
  dt {
    font-weight: 700;
    margin-top: $gutter-half;
  }
  dt + dd {
    display: inline;
  }
}

.callout {
  padding: $gutter;
  background-color: $govuk-blue;
  color: white;
  margin-top: $gutter;

  @include media(mobile) {
    padding: $gutter-half;
  }

  h2 {
    margin-top: 0 !important;
    padding-top: 0;
    &.heading-medium {
      @include media(mobile) {
        padding-top: $gutter-half;
      }
    }
  }
  .govuk-metadata-bottom {
    margin-top: $gutter*2;
    margin-bottom: 0;
  }

  p {
    font-size: 19px;
  }

  ul {
    margin-bottom: $gutter;
  }

  a {
    color: white !important;

    &:hover {
      color: lighten($light-blue, 20%) !important;
    }
  }
}

.design-system-footer {
  margin-top: 5px;
}

.footer-container {
  flex-flow: wrap;

  .heading-medium {
    color: $black;
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  .footer__navigation {
    width: 100%;
    margin-bottom: $gutter;
    display: flex;
    flex-direction: row;

    @include media(mobile) {
      flex-direction: column;

      .footer__navigation--column {
        margin-top: $gutter-half;
      }
    }

    & ul li a {
      display: block;
      font-size: 16px;
      padding: 10px 0 0;
    }
  }
}

.footer__navigation--column {
  flex: 1;
  max-width: 25%;
  @include media(mobile) {
    max-width: 100%;
  }
}
