/*------------------------------------*\
  Non-IE Version
\*------------------------------------*/
$path: "../images/";

// GOV.UK Frontend Toolkit
@import "frontend-toolkit";

// Component Library - DEPRECATED!!!
@import "scss/application-base";

// GOV.UK Elements
@import "elements";

// GOV.UK Elements overrides for backwards compatibility with v2
@import "scss/backward-compatibility";

//Rule for conditional reveal from GOV.UK Elements
.hidden,
.js-enabled .js-hidden,
.js .js-hidden {
  display: none;
  visibility: hidden;
}

// HMRC Design System
@import "components/all-components";
@import "patterns/all-patterns";
