<!-- COOKIE MESSAGE -->
<div id="global-cookie-message" style="display: block;">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
    cookies</a></p>
</div>
<!-- END COOKIE MESSAGE -->

<!-- GOV.UK HEADER -->
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="public/assets/images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt="">GOV.UK</a>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <a href="#" id="proposition-name">Personal tax account</a>
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <ul id="proposition-links" class="header__menu__proposition-links">

            <li>
              <span class="faded-text--small"><strong>English |</strong></span>
              <a id="switchToWelsh" lang="cy" href="/personal-account/lang/cyGb?redirectUrl&#61;%2Fpersonal-account" data-journey-click="link - click:lang-select:Cymraeg"><small><strong>Cymraeg</strong></small></a>
            </li>


          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div id="global-header-bar"></div>
<!-- END GOV.UK HEADER -->
<main id="content" role="main">
<!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="account-menu js-enabled" role="navigation">
    <a href="http://localhost:9232/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                        <span class="account-icon account-icon--home">


                                Account home

                        </span>
    </a>

    <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


      Account menu

    </a>

    <ul class="account-menu__main">
      <li class="account-menu__link--back hidden" aria-hidden="true">
        <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


          Back

        </a>
      </li>

      <li>
        <a href="http://localhost:9232/personal-account/messages" class="account-menu__link" data-journey-click="link - click:utility-nav:Messages">


          Messages

        </a>
      </li>

      <li>
        <a href="http://localhost:9100/track" class="account-menu__link" data-journey-click="link - click:utility-nav:Check progress">


          Check progress

        </a>
      </li>

      <li>
        <a href="#subnav-your-account" id="account-menu__main-2" class="account-menu__link account-icon account-menu__link--more js-enabled" aria-haspopup="true" aria-owns="subnav-your-account" data-journey-click="accordion - click:utility-nav:Your account" aria-expanded="false">


          Your account

        </a>

        <div class="subnav" id="subnav-your-account" role="navigation" aria-labelledby="account-menu__main-2" aria-label="Your account" aria-hidden="true" tabindex="-1">




          <div class="
                                 column-half

                                 subnav__section">
            <p class="subnav__section__heading">


              Paperless settings

            </p>
            <div>
              <a href="http://localhost:9232/personal-account/preferences" data-journey-click="link - click:utility-nav:Manage your paperless settings">


                Manage your paperless settings

              </a>
            </div>
          </div>
          <div class="
                                 column-half

                                 subnav__section">
            <p class="subnav__section__heading">


              Personal details

            </p>
            <div>
              <a href="http://localhost:9232/personal-account/personal-details" data-journey-click="link - click:utility-nav:Manage your personal details">


                Manage your personal details

              </a>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a href="/personal-account/signout?continueUrl=http%3A%2F%2Flocalhost%3A9514%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


          Sign out

        </a>
      </li>
    </ul>
  </nav>
<!-- END ACCOUNT MENU -->

  <!-- LANGUAGE TOGGLE -->
  <!--<div class="lang-select">-->
    <!--<ul>-->
      <!--<li>English</li>-->
      <!--<li>|</li>-->
      <!--<li><a href="#">Cymraeg</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <!-- END LANGUAGE TOGGLE -->
</main>
