/*
Gutter Left

Gutter left applies a left margin to a content container

Markup:
<div class="gutter-left"><p>Example Content</p></div>

Styleguide Layouts.Gutter Left
*/

.gutter-left {
  margin-left: 0;

  @include media(tablet) {
    margin-left: $gutter;
  }
}