/**
* @desc         layout classes.
* @name         layouts
* @author       Anthony Munene
* @tested       N/A
* @requires     [ toolkit/_colours.scss ]
*/

body {
  counter-reset: section;
}

#wrapper {
  text-align: left;
}

#content {
  @include page-slice(32);
}

.centered-content {
  @include page-slice();
}

.content__body {

  p {
    @include core-19();
    margin: em(12) 0;
  }

  .full-width & {
    float: none;
    width: 100%;
  }

  @include media(tablet) {
    float: left;
    width: 61.666667%;
  }

  .messages-box,
  .service-info__related-subsection {
    display: none;
  }

  @include media(mobile) {

    .messages-box,
    .service-info__related-subsection {
      display: block;
    }

  }

}

.brand-border--top {
  border-top: 10px solid $mainstream-brand;
}

.section {
  margin-bottom: 1em;
  padding: 1em 0;

  h2 {
    margin-top: 0 !important;
  }
}

.subsection {
  margin: 1.5em 0;
}

.subsection--wide {
  margin: 2.5em 0;
}

.section--branded {
  @extend .section;
  h2 {
    border-bottom: 5px solid $mainstream-brand;
    margin-top: 0 !important;
    margin-bottom: 0.65em;
  }
}

.section--blue-top {
  border-top: 10px solid $govuk-blue;
}

.full-width {
  width: $full-width;
}

.row {
  margin-bottom: 20px;
}

/*
Payment summary container

Experimental: Div container tcs-payments

Markup:
<div class="{{modifier_class}}">
    <h3>Payment tytle</h3>
    <p>Payment content</p>
</div>

.payment-summary - container for tcs payments with top and bottom margin
*/
.payment-summary {
  margin-bottom: em(35);
  margin-top: em(30);

  p {
    @include core-19();
    margin: 0;
  }
}

/*
Payment currency element

Experimental: Div payment currency element

Markup:
<div class="{{modifier_class}}">Currency value</div>

.currency-large - container for payment currency
*/
.currency-large {
  @include bold-48();
  color: $govuk-blue-colour;
}

/*
Account details component

Experimental: Account details component

Markup:
<div class="{{modifier_class}}">
    <div class="grid-wrapper row-border">
        <div class="grid grid-1-2">
            <div class="ac-details>Account name</div>
        </div>
        <div class="grid grid-1-2">
            <a href="#">Account details link</a>
        </div>
    </div>
</div>

.account-details - component for tcs account details redefining parts of row-border and grid-wrapper elements
*/
.account-details {
  margin-bottom: em(25);

  .row-border {
    border-bottom: 1px solid $light-grey;
    margin: 0;
    padding: em(14.25) 0 em(10.68) 0;
  }

  .grid-wrapper p {
    margin: 0.25em 0;
  }

  .ac-details {
    @include bold-19();
  }
}

@media(max-width: 966px){
    .account-details {
      .grid.grid-1-2 {
        width: 50%;
      }
    }
 }

