.business-tax {

  details {
    margin: 5px 0;
    summary {
      font-size: 16px;
      color: $details-link;
      &:hover {
        color: $details-link-hover;
      }
      text-decoration: underline;
      i {
        display: inline-block;
      }
    }
    p {
      font-size: 16px;
    }
  }

  a[rel="external"] {

    @include external-link-16;

    &:after {
      background-image: url("../images/icons/external-links/external-link.png");
    }
  }

  .main__section--divider-top {
      margin-top: 25px;
      padding-top: 10px;
      border-top: 1px solid $border-colour;
  }

  .main__section--divider-bottom {
    border-bottom: 1px solid $border-colour;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .add-remove-taxes__group {
    h2, h3 {
      margin-bottom: 5px;
    }
    p, a {
      font-size: 16px;
      margin: 5px 0;
    }
  }

  .section--branded {
    border-bottom: 3px solid $grey-7;
    margin-bottom: 2em;
  }

  .sidebar {
    .section--branded {
      border-bottom: 0;
    }
  }

  article li {
    padding-left: 0;
  }

  .alert {
    color: $black;
    padding: 0.4em 0.8em 0.3em;
    border-left-width: 4px;
  }

  .alert--failure {
    background-color: $alert-failure;
  }

  .content__body {
    .flag {
      padding: 0 0 0 1em;
      margin-left: 1em;
      @include bold-19;

      &.flag--urgent {
        border-left: 1px solid $mellow-red-50;
        color: $mellow-red;
        background-color: inherit;
      }
      &.flag--soon {
        border-left: 1px solid $grey-7;
        color: $grey-3;
        background-color: inherit;
      }
    }
  }

}
