.business-tax-home {

  details {
    margin: 5px 0;
    summary {
      font-size: 16px;
      color: $details-link;
      &:hover {
        color: $details-link-hover;
      }
      text-decoration: underline;
      i {
        display: inline-block;
      }
    }
    p {
      font-size: 16px;
    }
  }

  a[rel="external"] {

    @include external-link-16;

    &:after {
      background-image: url("../images/icons/external-links/external-link.png");
    }
  }

  .section--branded {
    border-bottom: 3px solid $grey-7;
    padding-bottom: 5px;
    margin-bottom: 2em;
  }

  .sidebar {
    .section--branded {
      border-bottom: 0;
    }
  }

  article li {
    padding-left: 0;
  }

  .alert {
    color: $black;
    padding: 0.4em 0.8em 0.3em;
    border-left-width: 4px;
  }

  .alert--failure {
    background-color: $alert-failure;
  }

  .flag {
    padding: 0 0 0 1em;
    margin-left: 1em;
    @include bold-19;

    &.flag--urgent {
      border-left: 1px solid $mellow-red-50;
      color: $mellow-red;
      background-color: inherit;
    }
    &.flag--soon {
      border-left: 1px solid $grey-7;
      color: $grey-3;
      background-color: inherit;
    }
  }

}
