.business-tax {

  @mixin link-underline-on-hover() {
    & a:link {
      text-decoration: none;
    }
    & a:hover {
      text-decoration: underline;
    }
  }

  .subheading {
    @include core-19;
    margin: 0 0 19px;
  }

  details {
    margin: 0 0 15px;

    summary {
      @include core-16;
      color: $details-link;
      padding-right: 5px;
      &:hover {
        color: $details-link-hover;
      }
      &:focus {
        // prevent left side of focus box being hidden
        outline-offset: -3px;
      }
      text-decoration: underline;
      i {
        display: inline-block;
      }
    }
    p {
      @include core-16;
    }
  }
  .main__section--divider-top {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid $border-colour;
  }

  .main__section--divider-bottom {
    border-bottom: 1px solid $border-colour;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .add-remove-taxes__heading {
    margin: 10px 0 5px;
  }

  .add-remove-taxes__p {
    margin-bottom: 0;
  }

  .add-remove-taxes__text {
    @include core-19;
    margin: 5px 0;
  }

  .section--branded {
    padding: 0 0 1em;
    border-bottom: 3px solid $grey-7;
    margin-bottom: 2em;

    h2 {
      border-bottom: 4px solid #005ea5;
      margin-bottom: 0.4em;
    }
  }

  .section__p--reference-number {
    @include core-16();
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  .section__ul--link-list {
    margin-bottom: 0;
  }

  .sidebar {
    .section--branded {
      border-bottom: 0;
    }
  }

  article li {
    padding-left: 0;
    @include media(mobile) {
      margin-left: 0;
    }
  }

  .section__li {
    padding: 0;
    p {
      margin: 0 0 0.5em;
    }
    .p--with-details {
      margin-bottom: 0;
    }
    a {
      margin: 0.9em 0;
    }
  }

  .section__li--text-link {
    padding: 0.25em 0;
  }

  .details-link {
    @include bold-19();
    margin-top: 15px;
    margin-bottom: -10px;
  }

  .sa__tax-grouping {
    margin: 1em 0;
  }

  .alert {
    color: $black;
    padding: 0.4em 0.8em 0.3em;
    border-left-width: 4px;
  }

  .alert--info {
    background-color: $light-blue-25;
  }

  .alert--failure {
    font-weight: bold;
    background-color: $alert-failure-bg;
    border-color: $red;
  }

  .latency-message {
    width: 100%;
    box-sizing: border-box;
    border-left: 4px solid $black;
    padding: 5px 0 5px 55px;
    margin-bottom: 15px;

    background: $yellow-25 url("../images/icons/icon-important.png") no-repeat scroll 10px;
    @include device-pixel-ratio() {
      background-image: url("../images/icons/icon-important-2x.png");
      background-size: 27px 27px;
    }
    span {
      @include core-16;
      display: block;
      padding: 2px 0;
    }
  }

  .latency-message--home {
    @include media(desktop) {
      width: 61.66%;
      min-width: 28em;
    }
  }

  .latency-message--details {
    padding-top: 15px;
    padding-bottom: 15px;
    @include media(desktop) {
      width: 100%;
      min-width: 100%;
    }
  }

  .link-list__link {
    @include link-underline-on-hover();
    @include core-19;
    & a:visited {
      color: $link-visited-colour;
    }
    border-bottom: 1px solid $grey-7;
    line-height: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    @include media(mobile) {
      border-bottom: none;
    }
  }

  .link-list__link--final {
    margin-bottom: -10px;
    @include media(mobile) {
      padding-bottom: 0;
    }
  }

  .link-list__link--plain {
    border-bottom: 0;
  }

  .content__body {
    .flag {
      padding: 0 0 0 1em;
      margin-left: 1em;
      @include bold-19;

      &.flag--urgent {
        border-left: 1px solid $red;
        color: $red;
        background-color: inherit;
      }
      &.flag--soon {
        border-left: 1px solid $grey-7;
        color: $grey-1;
        background-color: inherit;
      }
    }
  }

  .go-to {
    margin: 1.5em 0 0;
  }

  &.your-details {

    .content__body {
      @include media(tablet) {
        width: 100%;
      }
      @include media(desktop) {
        float: left;
        width: 61.666667%;
      }
    }
  }

  .details {
    margin-left: 10px;
  }

  .pbik-link {
    position: absolute;
  }
  .pbik-summary {
    margin-left: 17em;
  }


}
