.business-tax-home {

  details {
    margin: 5px 0;
    summary {
      font-size: 16px;
      color: $details-link;
      &:hover {
        color: $details-link-hover;
      }
      text-decoration: underline;
      i {
        display: inline-block;
      }
    }
    p {
      font-size: 16px;
    }
  }

  a[rel="external"] {

    @include external-link-16;

    &:after {
      background-image: url("../images/icons/external-links/external-link.png");
    }
  }

  .section--branded {
    border-bottom: 3px solid $grey-7;
    padding-bottom: 5px;
    margin-bottom: 2em;
  }

  .sidebar {
    .section--branded {
      border-bottom: 0;
    }
  }

}
