.js-datatable-wrapper[action$="client-list"] {

  .client {
    background-position-x: 57px;
    width: 25%;
  }

  .paye {
    background-position-x: 120px;
    width: 20%;
  }

  .client-ref {
    background-position-x: 123px;
    width: 18%;
  }

  th:last-child {
    width: 7%;
  }
}

$client-list-error-background: #fef7f7;
.missing-client {
  .form-field {
    &.error,
    &>[role="alert"],
    .error-message {
      background-color: $client-list-error-background;
    }

    &.error {
      padding: 0.75em 1em 1em 1em;
    }

    &>[role="alert"] {
      margin-bottom: 0;
      border-left-style: none;
      padding: 0;
      .error-message {
        @include bold-16;
      }
    }

    &.error {
      border-left-width: 4px;
    }

    &.error > input[type="text"] {
      border: 4px solid $alert-bg-red;
    }
  }
}

#global-breadcrumb {
  &.agent-breadcrumb {
    padding-bottom: 1.5em;
    border-bottom: 0;
  }
}

.client-list .content-header .sidebar-links {
  border-width: 5px;
  margin-right: 0;

  @include media(mobile) {
    display: none;
  }

  .sidebar-links__item {
    display: block;
    float:left;
    width: 100%;
  }
}
