.js-datatable-wrapper[action$="client-list"] {
  th:first-child {
    width: 3%;
  }

  .client {
    background-position-x: 57px;
    width: 25%;
  }

  .paye {
    background-position-x: 120px;
    width: 20%;
  }

  .client-ref {
    background-position-x: 123px;
    width: 18%;
  }

  .notes {
    width: 28%;
  }
}

$client-list-error-background: #fef7f7;
.missing-client-details,
.client-access-details {
  .form-field {
    &.error,
    &>.alert {
      background-color: $client-list-error-background;
    }
    &.error {
      padding: 0.75em 1em 1em 1em;
    }

    &>.alert {
      margin-bottom: 0;
      border-left-style: none;
      padding: 0;
      .error-message {
        @include bold-16;
      }
    }

    &.error {
      border-left-width: 4px;
    }
    
    &.error > input[type="text"] {
      border: 4px solid $alert-bg-red;
    }
  }
}
.client-access-details .form-field.error {
  margin-left: -1.1875em;
}

#global-breadcrumb {
  &.agent-breadcrumb {
    padding-bottom: 1.5em;
    border-bottom: 0;
  }
}
