.sa-only-help {

  .content__body {
    width: 100%
  }

  .page-header {
    padding-bottom: 30px;
  }

  details summary {
    color: $govuk-blue;
  }

  .help-menu {
    width: 100%;
    margin: 0;
    @include media(tablet) {
      width: 30%;
      float: left;
      border-right: 1px solid #bfc1c3;
      padding-bottom: 300px;
    }
  }
  .help-item--selected .help-menu {
    display: none;
    @include media(tablet) {
      display: initial;
      width: 30%;
      border-right: 1px solid #bfc1c3;
      padding-bottom: 300px;
    }
  }

  .help-content {
    width: 0;
    display: none;
    @include media(tablet) {
      width: 66%;
      display: initial;
      float: right;
    }
  }
  .help-item--selected .help-content {
    width: 100%;
    display: initial;
    @include media(tablet) {
      width: 66%;
    }
  }

  .vertically-separated {
    margin: 10px 0;
  }

  /* override styles in _side-navigation.scss */
  .side-nav {
    margin-top: 0;
    @include media(mobile){
      display: initial;
    }
  }

  .side-nav__link {
    @include core-19;
    color: $black;
    padding: 18px 15px;
  }

  .side-nav__list--selected, .side-nav__list--selected:hover {
    .side-nav__link {
      color: $white;
      background-color: $govuk-blue;
    }
  }
  /* end override styles */


}
