table.messages {
	width: 100%;

	th {
		font-weight: 400;
	}
	
	th:nth-of-type(1) {
		width: 15%;
	}
	th:nth-of-type(2) {
		width: 50%;
	}
	th:nth-of-type(3) {
		width: 25%;
	}
	th:nth-of-type(4) {
		width: 20%;
	}

	a {
		color: #000;
	}

}

.message-details {
  h3 {
    margin:30px 0 0 0;
  }
}

.penalty-details {
  margin-top:em(10);
  padding:0.8em 1em 0.6em;
  background-color:$shaded-bg-grey;
  table {
    border-bottom: hidden;
    margin-bottom: 0
  }
}
