
.payments {

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .heading-xlarge {
    font-size: em(36);
  }

  p {
    margin: em(8) 0 em(20) 0;
  }

  .vertical-space-top {
    margin-top: em(20);
  }

  fieldset legend {
    float:none; // all legends are floated left for some reason, so resetting this for payments
  }

  .button {
    margin:0 0 em(12) 0;
  }

  .form-label-bold {
    margin-bottom: em(5);
  }

  .form-hint {
    margin-bottom: em(5);
  }

  .pay-now,
  .pay-now + img {
    display:inline-block;
  }

  .pay-now {
    vertical-align:top;
    margin:0 em(5) 0 0;
  }

  .tab {
    width:em(160);
    padding: em(14) 0 em(6);
    text-align:center;
    margin-bottom: 0;
    margin-right: em(20);
    color: #005EA5;
    cursor: pointer;
    float: left;
  }

  .tab.ui-tabs-active {
    border-bottom: 2px solid #6F777B;
    color:#0B0C0C;
    cursor: initial;
  }

  .table-label {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    padding: em(18) em(30) em(12) em(45);
  }

  .table-label.selected,
  .table-label:hover {
    outline:0;
    background-color:$grey-8;
  }

  a.ui-tabs-anchor {
    text-decoration: none;
  }

  table.calendar td {
    padding: 0;
  }

  table.calendar label span {
    float: right;
    padding-left: em(12);
  }

  .how-to-pay {
    border-bottom: 0;
  }

  .min.summary {
    border-bottom: 0;
  }

  .survey__legend {
    margin-bottom: 0;
  }

  .hint__details {
    margin: em(10) 0;
  }

  .print-download__link {
    margin-bottom: em(30);
  }

  .user-name {
    margin: em(15) 0 0 0;
    float: right;
    text-align: right;

    @include media(mobile) {
      padding: em(10) 0 0 0;
      float: left;
      text-align: left;
    }

  }

  .summary__amount-cell {
    position:relative;
  }

  .summary__amounts {
    position:absolute;
    left:0;
    top:0;
  }

  .worldpay-logo {
    position: relative;
    top: em(4);
  }

  .summary__amounts__item {
    @include core-16;
    padding: em(14) em(20) em(12) 0;
    margin: 0;
    text-align: right;
    display: block;
    height: em(19);

    @include media(mobile) {
      padding: em(13) em(20) em(10) 0;
      height: em(18);
    }

    &.fee {
      padding: em(26) em(20) em(24) 0;

      @include media(mobile) {
        padding: em(22) em(20) em(22) 0;
      }
        
    }

  }

  // Chrome only hack to resolve differences in padding cross-browser
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .summary__amounts__item {
      padding: em(13) em(20) em(12) 0;

      &.fee {
        padding-top: em(25);

        @include media(mobile) {
          padding-top: em(16);
        }

      }

    }
  }

}
