.marriage-allowance__heading {
  margin:15px 0 30px 0;
}

.p60__details {
  margin:10px 0 0 0;
}

.your-pay__text {
  margin:0 0 10px 0;
}

.p60-form__image {
  width:400px;

  @include media(mobile) {
    width:100%;
  }

}
