/*
Summary

Errors are used to display information to the user about incorrect entries within a form.

Markup:
<div class="flash error-summary error-summary--show"
     id="error-summary-display"
     role="alert"
     aria-labelledby="error-summary-heading"
     tabindex="-1">
    <h2 id="error-summary-heading" class="h3-heading">Summary Heading</h2>
    <ul>
      <li role="tooltip"><a href="">Please enter your first name</a></li>
      <li role="tooltip"><a href="">Please enter your surname</a></li>
    </ul>
</div>

Discussion: Discussion: https://hmrcdigital.hackpad.com/Errors-qCKmXVXo9H7

Styleguide Errors.Summary
*/
// .error-summary {
//   display: none;
// }

// .error-summary--show {
//   display: block;
// }

//POTENTIALLY-NOT-IN-USE
.error-overview {
  @include error-box;
  margin-bottom: em(20);
}

/*
Overview Heading

Used as a heading in an error overview

Markup:
<h1 class="error-overview__heading">Example heading level 1 error</h1>

Styleguide Errors.Overview Heading
*/
.error-overview__heading {
  font-size: em(22);
  margin: 0;
}

//POTENTIALLY-NOT-IN-USE
.error-overview__list-item {
  color: $error-color;
  font-size: em(15);
  margin-left: em(20);

  a {
    color: inherit;
  }
}

.error-notification {
  color: $error-color;
  display: none;
  padding-bottom: em(8);
  @include core-16;
}

/*
Form Field

The form field in error state is demonstrated by using the `.form-field--error` selector. Styles are also provide for
`.error-notification` and `.error-field` to highlight the communication of errors to the user.

Markup:
<fieldset>
  <legend>Please enter your full name</legend>
  <div class="form-field form-field--error {{modifier_class}}">
    <span class="error-notification">Please enter your first name</span>
    <label>
        Full Name
        <input type="text"
               class="input--medium error-field"/>
    </label>
  </div>
  <div class="form-field form-field--error {{modifier_class}}">
    <span class="error-notification">Please enter your surname</span>
    <label>
        Full Name
        <input type="text"
               class="input--medium error-field"/>
    </label>
  </div>
</fieldset>

.numbered         - fieldset with a different margin
.fields-aligned   - flush aligned fieldset

Styleguide Errors.Form Field
*/

.form-field--error {
  @include error-box(3px);
  @include box-sizing(border-box);
  padding: em(12) em(16) em(12) em(16);

  &.numbered {
    margin-left: em(22) !important;
    width: 90%;
  }

  &.fields-aligned {
    margin-left: em(-22);

    @include media(mobile) {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .error-notification {
    display: block;
    @include core-16;
  }

  .error-field {
    border: 3px solid $error-border-color;
  }
}

/*
Form Field Group

The form field group in error state is demonstrated by using the `.form-field-group--error` selector. Styles are also provide for
`.error-notification` to highlight the communication of errors to the user.

Markup:
<fieldset class="form-field-group form-field-group--error">
  <legend>Please enter your full name</legend>
  <div class="form-field">
    <label>
        First Name
        <span class="error-notification">Please enter your first name</span>
        <input type="text"
               class="form-control"/>
    </label>
  </div>
  <div class="form-field">
    <label>
        Surname
        <span class="error-notification">Please enter your surname</span>
        <input type="text"
               class="form-control"/>
    </label>
  </div>
</fieldset>

Styleguide Errors.Form Field Group
*/

.error, //used for backward compatibility for work found in play-ui
.form-field-group--error {
  @include error-box(3px);
  margin: 0 em(-16) em(8) em(-16);

  .error-notification {
    display: block;
  }
}


/*
Email Errors

Deprecated: Styles to display email errors. Associated JavaScript can be found in [validation/saEmailPrefs.js](https://github.com/hmrc/assets-frontend/blob/master/assets/javascripts/validation/saEmailPrefs.js#L59)
Please see github issue [#654](https://github.com/hmrc/assets-frontend/issues/654)

Markup:
<div class="email-form-errors">
    <label class="error-notification">
    Enter a valid email address
    </label>
</div>
*/

.email-form-errors .error-notification {
  display: block;
  font-size: 19px;
  padding: 1em 0 1em 15px;
  margin: 1em 0;
  color: $alert-bg-red;
  border-left: 3px solid $alert-bg-red;
}

.js .email-form-errors .error-notification {
  display: none;
}

/*
 Single checkbox errors
*/
.form-field--error{
  .multiple-choice{
    [type=checkbox]+label.form-field-single{
      &::before{
        top: 27px;
      }
      &::after{
        top: 37px;
      }
    }
  }
  .form-field-single{
    .error-notification{
      margin-left: -3.1em;
    }
  }
}
