.error-summary {
  display: none;
}

.error-summary--show {
  display: block;
}

.error-notification {
  color: $error-color;
  display: none;
  padding-bottom: em(8);
  @include core-16;
}

.error-overview {
    @include error-box;
    margin-bottom: em(20);
}

.error-overview__heading {
    font-size: em(22);
    margin: 0;
}

.error-overview__list-item {
    color: $error-color;
    font-size: em(15);
    margin-left: em(20);

    a {
        color: inherit;
    }

}

.form-field--error {
  @include error-box(3px);
  @include box-sizing(border-box);
  padding: em(12) em(16) em(12) em(16);

  &.numbered {
    margin-left: em(22)!important;
    width: 90%;
  }

  &.fields-aligned {
    margin-left: em(-22);

    @include media(mobile) {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }

  }

  .error-notification {
    display: block;
    @include core-16;
  }

  .error-field {
    border: 3px solid $error-border-color;
  }
  
}

.form-field-group--error {
  @include error-box(3px);
  margin: 0 em(-16) em(8) em(-16);

  .error-notification {
    display: block;
  }
}
