/*
Validation

Frontend form validation example
- To enable frontend validation add the class `.js-form` to your form
- Place relevant validation attributes on form inputs
- Add messages for errors via `data-msg-<error_type>` on specific input
- Inline error messages added in your markup using the `.error-notification` within a `.form-field-group` element
- Add error summary element to show errors at the top of the page
- Custom Validation possible

## Further Reading
- https://jqueryvalidation.org/validate
- http://johnnycode.com/2014/03/27/using-jquery-validate-plugin-html5-data-attribute-rules/

Markup:
<form action="/" class="js-form" autocomplete="off"
      novalidate="novalidate">
  <div class="flash error-summary" id="error-summary-display"
       role="alert" aria-labelledby="error-summary-heading"
       tabindex="-1">
    <h2 id="error-summary-heading" class="h3-heading">Summary Heading</h2>
    <ul class="js-error-summary-messages">
    </ul>
  </div>
  <fieldset class="form-field-group">
        <span id="gender-error-message"
              class="error-notification"
              role="alert"
              data-input-name="gender">
              Default inline error Message
        </span>
    <legend class="form-element-bold">Gender</legend>
    <div class="form-field--inline">
      <label class="block-label">
        <input type="radio"
               name="gender"
               required
               data-msg-required="Please choose your gender"/>
        Male
      </label>
    </div>
    <div class="form-field--inline">
      <label class="block-label">
        <input type="radio" name="gender"/>
        Female
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-field-group">
      <label class="form-element-bold" for="firstname">
        First Name
        <span class="form-hint">
            Enter your first name
        </span>
        <span id="firstname-error-message"
              class="error-notification"
              role="alert"
              data-input-name="firstname">
              Default inline first name error Message
        </span>
        <input type="text"
               name="firstname"
               id="firstname"
               class="form-control"
               aria-required="true"
               minlength="2"
               maxlength="30"
               required
               pattern="^[\w\d]{2,30}$"
               data-msg-pattern="Please use a correct name format"
               data-msg-required="Please enter your first name"
               data-msg-minlength="Please enter 2 or more characters"
               data-msg-maxlength="Please enter less than 30 characters"/>
      </label>
    </div>
  </fieldset>
  <div class="form-group">
    <button id="continue" class="button" type="submit" value="continue">Continue</button>
  </div>
</form>

Discussion: https://hmrcdigital.hackpad.com/Form-NDwkLQGRh2j

Styleguide Form.Validation
*/

/*
Group

A Form field is used to group several controls or elements within a web form.

Markup:
<fieldset class="{{modifier_class}}">
  <div class="form-field">
    <label>
      First Name
      <input type="text" value=""/>
    </label>
  </div>
 <div class="form-field">
    <label>
      Second Name
      <input type="text" value=""/>
    </label>
  </div>
  <div class="form-field">
    <button class="button" type="submit">Send</button>
  </div>
</fieldset>

.form-field-group    - A form field group
.form-field-single   - A form field single

Styleguide Form.group
*/

fieldset {
  @include core-19();

  margin: 0;
  position: relative;
  width: 100%;

  legend {
    // width: 100%;
    // margin-bottom: 0.75em;

    &.h2-heading {
      margin: 0 0 0.25em 0;
    }
  }
}

.form-field-group {
  margin-bottom: 0.75em;
  line-height: 1.6em;
  @extend %contain-floats;
  clear: both;
}

.form-field-single {
  @extend .form-field-group;
}

/*
Field

A Form field is used to group several controls or elements within a web form.

Markup:
<fieldset class="form-field-group">
  <div class="form-field {{modifier_class}}">
    <label>
      First Name
      <input type="text" value=""/>
    </label>
  </div>
  <div class="form-field {{modifier_class}}">
    <label>
      Second Name
      <input type="text" value=""/>
    </label>
  </div>
  <div class="form-field {{modifier_class}}">
    <button class="button" type="submit">Send</button>
  </div>
</fieldset>

.form-field--tall - A "tall" form field

Styleguide Form.field
*/

.form-field {
  @extend %contain-floats;
  float: left;
  margin-bottom: 0.75em;
  margin-top: 0;
  width: 100%;
}

.form-field--tall {
  margin: 0 0 em(30) 0;
}

/*
Inline

For a inline elements you have a few choices.

Markup:
<fieldset class="form-field-group">
  <div class="{{modifier_class}}">
    <label class="block-label">
      <input type="radio"/>
      Blue
    </label>
  </div>
  <div class="{{modifier_class}}">
    <label class="block-label">
      <input type="radio"/>
      Green
    </label>
  </div>
  <div class="form-field">
    <button class="button" type="submit">Send</button>
  </div>
</fieldset>

.form-field--inline              - An inline form field
.form-field--inline-text-input   - An inline form field for text input
.form-field--inline-spaced-right - An inline form field for text input spaced to the right
.form-field--inline-spaced-left  - An inline form field for text input spaced to the left

Styleguide Form.inline
*/

/**
 *  Allows you to stack input blocks side by side
 */
.form-field--inline {
  @extend .form-field;
  clear: none;
  float: left;
  width: auto;
  position: relative;

  input[type="text"], input[type="password"] {
    margin: 0 0.52em;
  }
}

.form-field--inline-text-input {
  @extend .form-field--inline;
}

.form-field--inline-spaced-right {
  @extend .form-field--inline;
  margin-right: 15px;
}

.form-field--inline-spaced-left {
  @extend .form-field--inline;
  margin-left: 15px;
}

/*
Submit

A class to provide extra space between the `submit` input and inputs found before.

Markup:
<div class="form-field form-field--submit">
  <button class="button" type="submit">Send</button>
</div>

Styleguide Form.submit
*/

/**
 * Wrap action elements of form (submit button, cancel link)
 * to provide space between these and last inputs of form
 */
.form-field--submit {
  margin-top: 15px;
}

/*
Field hint

A hint for a form field

Markup:
<p class="form-field--hint">Example hint</p>

Styleguide Form.hint
*/

.form-field--hint {
  @extend .faded-text;
  display: block;
  margin-bottom: 0.75em;
}

/*
Date

For displaying a date you can use the following markup.
> note need for `.input--xsmall` class on input.

Markup:
<div class="form-date">
  <div class="form-group form-group-year">
    <label class="block-label">
      <input class="input--xsmall" type="number" pattern="[0-9]*"
             min="0" max="12" name="year"/>
      Year
    </label>
  </div>
</div>

Styleguide Form.date
*/

input[type=number] {
  appearance: textfield; // removes default value adjusters in Firefox
}

.form-date {
  @extend %contain-floats;
  display: inline-block;

  @include ie-lte(7) {
    zoom: 1;
  }
}

.form-date .form-group {
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none;
}

.form-date .form-group-year {
  width: 70px;
}

/*
Dynamic

For dynamically displayed markup.

Markup:
<fieldset class="dynamically-displayed">
  <label>
    <textarea name="details" cols="40" rows="6"></textarea>
  </label>
</fieldset>

Styleguide Form.dynamic
*/

.dynamically-displayed {
  border-left: 5px solid $grey-8;
  clear: both;
  margin: 0 0 15px;
  padding: 0.5em 30px;

  @include media(mobile) {
    padding: 0.5em 15px;
    box-sizing: border-box;
  }
}

/*
Connected

Connect an Input to information below.

Markup:
<fieldset class="connected">
  <label>Example Input
    <input type="text" class="input--medium input--cleared"/>
  </label>
  <p>These bullet points are connected to the input above</p>
  <ul class="bullets form-hint">
    <li>Bullet point 1</li>
    <li>Bullet point 2</li>
  </ul>
</fieldset>

Styleguide Form.Connected
*/
.connected {
  border-left: 3px solid #999;
  float: none;
  margin: 1em 0 0 0;
  padding: 1em 1em 0 15px;
  overflow: hidden;
}

.connected {
  box-sizing: border-box;
}


/*
Control

For displaying form controls.

Markup:
<label>
  Surname
  <input type="text"
         name="surname" class="form-control {{modifier_class}}"/>
</label>

.form-control--block - A block control

Styleguide Form.control
*/

.form-control {
  @include box-sizing(border-box);
  @include core-19;
  width: 100%;

  padding: 5px 4px 4px;
  background-color: $white;
  border: 2px solid $text-colour;

  // Disable appearance and remove rounded corners
  appearance: none;
  border-radius: 0;

  @include media(tablet) {
    width: 50%;
  }
}

// fix the select element on Webkit which is broken in govuk_elements' version of this file
select.form-control {
  appearance: menulist;
}

.form-control--block {
  display: block;
}

/*
Legend

For displaying the legend within the `.questionnaire` container.

Markup:
<div class="questionnaire">
  <legend>Please provide your work details</legend>
</div>

Styleguide Form.legend
*/

.questionnaire {
  legend {
    margin: 0 0 0.75em;
  }
}
