/*
Form Hint

Form hints are used for providing extra information to a user about a form input.

Markup:
<span class="form-hint {{modifier_class}}">An example form hint, providing extra information to a user</span>

.form-hint--small - A small version of the form hint

Discussion: https://hmrcdigital.hackpad.com/Form-Hint-0w60nGTRNBs

Styleguide Form Hint
*/

.form-hint--small {
  @include core-16;
}

/*
Secondary

A secondary form hint.

Markup:
<span class="form-hint-secondary">An example form hint, providing extra information to a user</span>

Styleguide Form Hint.secondary
*/

.form-hint-secondary {
  display: block;
  @include core-16;
  color: $black;
  margin-bottom: em(5);
  margin-top: em(8);
}

/*
Bold

A bold Form hint.

Markup:
<div class="form-element-bold">
  <span class="form-hint">An example form hint, providing extra information to a user</span>
</div>

Styleguide Form Hint.bold
*/

.form-element-bold {
  @include bold-24;
  display: block;
  margin-bottom: 0;

  .form-hint {
    @include core-19;
  }
}

/*
List

A Form hint list. The form hint list can also be used in conjunction with `formHintHelper.js` for instance if you
had a password text input and wanted to check the hints have been correctly matched.
Optionally wrap the `.form-hint-list-item__indicator` element in a `.form-hint-list-item__primary` element to give a
2 column layout to avoid text wrapping under the indicator.

Markup:
<ul class="form-hint-list">
  <li class="form-hint-list-item">
    <span class="form-hint-list-item__primary">
      <span class="form-hint-list-item__indicator"></span>
    </span>
    An example form hint, providing extra information to a user
  </li>
  <li class="form-hint-list-item {{modifier_class}}">
    <span class="form-hint-list-item__indicator"></span>
    A second example form hint, providing extra information to a user
  </li>
</ul>

.form-hint-list-item--valid - A valid form hint (used in conjunction with `formHintHelper.js`)

Styleguide Form Hint.list
*/

.form-hint-list {
  color: $secondary-text-colour;
}

.form-hint-list-item {
  margin: 0 0 em(6) 0;
  display: table;
}

.form-hint-list-item__indicator {
  vertical-align: middle;
  margin-right: em(5);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/bullet-icon.svg");

  @include ie-lte(9) {
    background-image: url("../images/bullet-icon.png");
  }
}

.form-hint-list-item--valid {
  color: $primary-green;

  .form-hint-list-item__indicator {
    background-image: url("../images/valid-icon.svg");

    @include ie-lte(9) {
      background-image: url("../images/valid-icon.png");
    }
  }
}

.form-hint-list-item__primary {
  display: table-cell;
}

