/*
Select Input

Select Inputs are used to enable a user to choose from a list of options.

Markup:
<select class="select" name="example_select_input">
  <option value="one">Option One</option>
  <option value="two">Option Two</option>
  <option value="three">Option Three</option>
  <option value="four">Option Four</option>
</select>

Discussion: https://hmrcdigital.hackpad.com/Select-Input-7IdIywKR8Ro

Styleguide Select Input
*/

//select,
//.select {
//  display: block;
//  margin: 1em 0.625em;
//  width: 100%;
//  @include core-19();
//
//  @include media(tablet) {
//    width: auto;
//  }
//}
