/*
Text Input

Text Inputs are used for obtaining information from users in a form.

Markup:
<input name="example_text_input" type="text" class="{{modifier_class}}" value="example value" />

.input--xxsmall      - An extra extra! small input
.input--xsmall       - An extra small input
.input--small        - A small input
.input--normal       - A normal input
.input--fullwidth    - A full width input
.input--no-spinner   - An input without a spinner
.input--cleared      - To make an input `{display: block}`
.input--link         - To make an input appear like a link
.input--left-padding - An input with left padding giving space for symbols

Discussion: https://hmrcdigital.hackpad.com/Text-Input-bfm4ATsBg87

Styleguide Text Input
*/

//input {
//  @include core-19();
//  background-color: $white;
//  border: 2px solid #6f777b;
//  margin: 0;
//  padding: 0.1em 0 0.1em 0.4em;
//  @include box-sizing(border-box);
//  &.text--right {
//    padding: 0.1em 0.4em 0.1em 0;
//  }
//  &:focus {
//    outline: 3px solid $yellow;
//  }
//}

.input--xxsmall {
  max-width: 2.2em;
}

.input--xsmall {
  max-width: 4em;
}

.input--small {
  max-width: 6em;
}

.input--normal {
  max-width: 8em;
}

.input--medium {
  width: 100%;
  @include media(tablet) {
    width: 20em;
  }
}

.input--fullwidth {
  width: 98.2%;
}

.input--cleared {
  display: block;
}

.input--left-padding {
  padding-left: em(19);
}

// POTENTIALLY-NOT-IN-USE
.input--link {
  background: none;
  border: none;
  color: #2e3191;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  outline: none;

  &:hover,
  &:active {
    color: #2e8aca;
  }
  &:visited {
    color: #2e3191;
  }
}

.form-date .form-group input {
  width: 100%;
}

/*
Number

Number Inputs are used for entering a floating point number.

Markup:
<input name="example_number_input" type="number" class="input--xxsmall input--no-spinner" value="example value" />

Styleguide Text Input.number
*/
.input--no-spinner {
  appearance: textfield;
}

.input--no-spinner::-webkit-inner-spin-button,
.input--no-spinner::-webkit-outer-spin-button {
  appearance: none;
}

/*
Currency

Currency inputs add the **£** symbol visually within the input field

Markup:
<span class="input-currency">
  <input name="example_monetary_input" type="number" class="input--small input--no-spinner input--left-padding" value="0.99" />
</span>

Styleguide Text Input.Currency
*/
.input-currency {
  position: relative;

  &::before {
    content: "\00a3";
    left: em(6.4);
    position: absolute;
    top: em(1.6);
  }
}

::-webkit-input-placeholder {
  color: $grey-1;
  font-size: em(15);
  padding: em(5) 0 0 em(5);
}
