// Button
//
// Your standard button suitable for clicking.
//
// Markup:
// <button class="button {{modifier_class}}">Button text</button>
//
// .button--alert         - A description here
// .button--get-started   - A description here
// .button--secondary     - A description here
// .button--small         - A description here
// .button--table         - A description here
// .button.button--link   - A description here
//
// Styleguide 0.1

button, .button {
  text-transform: capitalize;
  @include button($button-colour);
  @include core-19();
  margin: 0 em(15) 0 0;
}

.button--alert {
  @include button($red);
  @include core-19();
}

.button--get-started {
  @extend .button;
  @include bold-24();
  margin: em(10) 0;
  padding-right: 40px;
  background-image: url("../images/icons/icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../images/icons/icon-pointer.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
}

.button--secondary {
  @include button($grey-8);
  @include core-19();
}

.button--small {
  @include button($button-colour);
  @include core-16();
  margin-top: 10px;
}

.button--table {
  @include button($shaded-bg-grey);
  border-bottom: 1px solid #000; // $black;
  box-shadow: 0 0 0 $grey-4;
}

/**
 * For links that need to be positioned beside buttons
 * Used in conjunction with button class
 */
.button.button--link {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  color: $link-colour;
  border: none;

  &.button--link-table {
    color: $black;
  }

  &:hover,
  &:active {
    top: 0;
    outline: none;
    background-color: transparent;
  }

  &:hover, &:focus {
    color: $link-hover-colour;
  }

  &:active {
    color: $link-active-colour;
  }

  @include media(mobile) {
    margin-top: 10px;
  }
}

/* Transforms button into a link */
/* //TODO potentially remove these over rides if the styles on the global button element selector is removed */
.pseudo-link {
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
  color: $link-hover-colour;
  text-decoration: underline;

  &:hover, &:focus {
    color: $link-hover-colour;
    background-color: transparent;
  }
}
