<div class="form-group form-group-error">
  <label for="vat-registration-number">
    <span class="form-label">
      VAT registration number
    </span>
    <span class="form-hint">
      This is 9 numbers, sometimes with ‘GB’ at the start, for example 123456789 or GB123456789. You can find it on your VAT registration certificate.
    </span>
    <span id="vat-registration-number-error" class="error-message">
      Enter your VAT registration number
    </span>
  </label>
  <input class="form-control form-control-1-3" id="vat-registration-number" name="vat-registration-number" type="text">
</div>
