<form>
  <div class="form-group">
    <h1 class="heading-xlarge">
      <label for="vat-registration-number">
        What is Anycompany’s VAT registration number?
      </label>
    </h1>
    <p>
      This is 9 numbers, sometimes with ‘GB’ at the start, for example 123456789 or GB123456789. You can find it on Anycompany’s VAT registration certificate.
    </p>
    <input class="form-control form-control-1-4" id="vat-registration-number" name="vat-registration-number" type="text">
  </div>
  <button type="submit" class="button" role="button">
    Continue
  </button>
</form>
