/**
 * Masthead Component
 *
 * Notes:
 * - It's big and it's blue
 *
 * Example Usage:
 *
 * <div class="masthead">
 *  [...]
 * </div>
 */

.masthead {
  background-color: $hm-revenue-customs-websafe;
  padding: $gutter;
  color: white;

  @include media(mobile) {
    padding: $gutter-half;
  }

  a {
    color: white;
    text-decoration: none;
  }
  .hero__title {
    display: block;
    max-width: 13em;
    @include media(mobile) {
      max-width: 100%;
    }
  }
  .hero__description {
    margin-bottom: 10px;
    max-width: 25em;
    @include media(mobile) {
      max-width: 100%;
    }
  }
  ul {
    margin-bottom: 0;
  }
}
