.message-inbox__list {
  display: table;
  width: 100%;
  border-top: 1px solid #a1acb2;

  .message-inbox__list-item {
    font-weight: bold;
    a:link{
      text-decoration: none;
    }
    &.message-inbox__list-item--read {
      background-color: #f8f8f8;
      font-weight: normal;
    }
  }

  .message-inbox__block {
    display: table-cell;
    padding: 20px 10px;
    border-bottom: 1px solid #a1acb2;
    &.no-wrap {
      white-space: nowrap;
    }
  }
}
